.selectOption, .selectTemplate {
    background: #009de0 !important;
    color: #FFF !important;
    border: none !important;
    margin-bottom: 10px;
    cursor: move !important;
  }  
  
  .unselectOption, .unselectTemplate {
    margin-bottom: 10px;
    cursor: move !important;
    &:last-child {
      margin-bottom: 0;
    }
  }

  .table-subheader {
      display: flex;
      -webkit-justify-content: space-between;
              justify-content: space-between;
      -webkit-align-items: center;
              align-items: center;
          color: #FFF;
      padding-right: 0px !important;
  }

  .search-search {
      display: flex;
      -webkit-align-items: center;
              align-items: center;
      -webkit-justify-content: flex-end;
              justify-content: flex-end;
      margin-right: 10px;
      
      button {
          padding: 15px;
      }
          
      ion-input {
          max-width: 190px;
      }
  }

  .product-temp-item {
      margin-top: 15px;
      margin-bottom: 25px;  
      .product-temp-title {
          background: var(--ion-color-main);
          color: #FFF;
          margin-top: -10px;
          padding: 10px;
      }

      .product-temp-content {
          padding: 10px;
          border-bottom: 1px solid #ddd;
          border-right: 1px solid #ddd;
          border-left: 1px solid #ddd;
          div {
              display: flex;
          }

          > div {
              margin-bottom: 10px;
              padding-bottom: 10px;
              border-bottom: 1px solid #ddd;
              &:last-child {
                  border-bottom: none;
                  margin-bottom: 0;
                  padding: 0;
              }
          }

          .temp-content-title {
              width: 100px;
              font-weight: 500;
              color: #aaa;
          }

          .temp-content-options {
              display: flex;
          }

          .temp-content-options-content {
              display: flex;
              -webkit-flex-direction: column;
                  -ms-flex-direction: column;
                      flex-direction: column;
              -webkit-flex: 1 1 0;
                  -ms-flex: 1 1 0;
                      flex: 1 1 0;
                  
              div {
                  border-bottom: 1px dotted #ddd;
                  padding-bottom: 10px;
                  margin-bottom: 10px;
                  &:last-child {
                      border-bottom: none;
                      bottom: 0;
                      margin-bottom: 0;
                  }
              }
          }
      }
  }

  .table-subheader .buttons {
      display: flex;
      -webkit-align-items: center;
              align-items: center;
      margin-left: 10px;
  }

  .th {
      justify-content: left !important;       
      font-size: 18px !important;
  }

  ion-label {
      color: white !important;   
      max-width: 150px !important;    
  }
  
  .text-input {
      color: #000; 
      background-color: white; 
      max-width: 280px !important;
      width: 100%; 
      height: 30px; 
      top: 3px; 
      border: 1px solid #ccc; 
      border-radius: 3px;
  }   

  .table-sub {
      padding-top: 12px;
      padding-bottom: 12px;
  }

  .selectOption {
      background: var(--ion-color-darkmain);
      .product-temp-content {
          background: var(--ion-color-darkmain);
          border-color: var(--ion-color-darkmain);
      }
  }

  .unselectOption {
      background-color: white;
  }

  .selectTemplate {
     background: var(--ion-color-darkmain);
     .product-temp-content {
         background: var(--ion-color-darkmain);
         border-color: var(--ion-color-darkmain);
     }
  }

  .unselectTemplate{
      background-color: white;
  }

  .gu-mirror, .mirrorContainer {
      .product-temp-title {
          font-size: 14px !important;
      }
      font-size: 14px !important;
      color: #FFF !important;
  }

  .ui-accordion .ui-accordion-header {
      -webkit-border-radius: 0 !important;
              border-radius: 0 !important;
      &.ui-state-active {
          border: none !important;
      }
      a {
          -webkit-border-radius: 0 !important;
                  border-radius: 0 !important;
          padding: 15px 10px !important;
      }
  }
  
  .ui-accordion .ui-accordion-content {
      padding: 0px !important;
  }

  .ui-accordion-content {
      .tr:nth-child(2n) {
          background: #f5f7f7;
      }
  }