
    .headerIconSub {
        font-size: 1.4em !important;
        padding-top: 0px !important;
    }       

    .itemClass {
        padding-left: 0px !important;
        left: 16px !important;
        width: 192px !important; 
    }

    .item-inner {
        padding-right: 0px !important;
    }
