.pvs4-full-select{
	width: auto !important;
	display: flex;
	margin-top: 0 !important;
	margin-right: 10px;
	ion-select {
		margin-top: -3px;
		position: relative;
		button {
			position: absolute;
		}
	}
}

.settings-delete {
	ion-button.btn-danger {
		position: relative;
		margin-top: -3px;
	}
}

.settings-delete-inner {
	display: flex;
	-webkit-justify-content: flex-end;
			justify-content: flex-end;
	margin-top: -8px;
}

.tr.table-body {
	-webkit-align-items: center;
			align-items: center;
}

ion-select {
	border: none !important;
}

.right_align {
	text-align: right;
}

.table-info, .table-info > th, .table-info > td {
    background-color: #eeee;
}

.ek-content {
    min-height: 90%;
}

.colleaguesList {
	min-height: 300px;
	max-height: 960px;
	max-width: 100%;
	overflow-y: auto;
	margin-bottom: 10px;
}