<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{translate.instant('Zuweisung')}}</ion-title>
  </ion-toolbar>
</ion-header>	

<ion-content style="padding-top: -8px; padding-bottom: 0px;">
    <ion-grid>
        <!-- Row 1 -->
        <ion-row>
            <ion-col size="12">
              <ion-item lines="none">  
                <ion-label position="floating">{{translate.instant('AD-Mitarbeiter')}}</ion-label>
                <ion-select required
                            [(ngModel)]="idSales"
                            okText="{{translate.instant('okay')}}" 
                            cancelText="{{translate.instant('abbrechen')}}">
                  <ion-select-option *ngFor="let pr of salesListe" [value]="pr.id">{{pr.first_name + " " + pr.last_name}}</ion-select-option>
                </ion-select>                  
              </ion-item>
            </ion-col>
        </ion-row>   
        <!-- Row 1 -->
        <ion-row>
          <ion-col size="12">
            <ion-item lines="none">  
              <ion-label position="floating">{{translate.instant('Prüfer')}}</ion-label>
              <ion-select required
                          [(ngModel)]="idTester"
                          okText="{{translate.instant('okay')}}" 
                          cancelText="{{translate.instant('abbrechen')}}">
                <ion-select-option *ngFor="let pr of testerListe" [value]="pr.id">{{pr.first_name + " " + pr.last_name}}</ion-select-option>
              </ion-select>                  
            </ion-item>
          </ion-col>
      </ion-row>   
    </ion-grid>

</ion-content>

<ion-footer>
  <ion-toolbar class="modalPageFooter">
    <ion-grid>
      <ion-row>
        <ion-col size="12" class="ion-no-padding">
          <ion-button (click)="dismiss()" class="btn-modal-danger">
              <ion-icon name="close"></ion-icon>
          </ion-button>
          &nbsp;&nbsp;&nbsp;
          <ion-button (click)="editAssignment()" class="btn-modal-success">
              <ion-icon name="checkmark"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>