<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="primary">
            <ion-button icon-only (click)="dismiss()">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>{{modalTitle}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <!-- Row 1 -->
        <ion-row>
            <ion-col size-xl="12" size-lg="12" size-md="12" size-sm="12" size-xs="12">
                <ion-item lines="none">
                    <ion-label position="floating">{{translate.instant('Titel')}} </ion-label>
                    <ion-input required
                               (ionChange)="inputErrorMsg()"
                               type="text"
                               [(ngModel)]="activOption.title[lang]"
                               readonly="true"
                               (click)="promptOptionTitle(activOption.title,1,0)">
                    </ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <!-- Row 2-->
        <ion-row>
            <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="10" size-xs="10">
                <ion-item lines="none">
                    <ion-label position="floating">{{translate.instant('Art')}}</ion-label>
                    <ion-select required
                                (ionChange)="inputErrorMsg()"
                                style="margin-bottom: 10px;"
                                [(ngModel)]="activOption.type"
                                okText="{{translate.instant('okay')}}" 
                                cancelText="{{translate.instant('abbrechen')}}">
                        <ion-select-option value="0">Toggle</ion-select-option>
                        <ion-select-option value="1">Select</ion-select-option>
                        <ion-select-option value="2">Textarea</ion-select-option>
                        <ion-select-option value="3">Number</ion-select-option>
                        <ion-select-option value="4">Time</ion-select-option>
                        <ion-select-option value="5">Date</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-col>
            <ion-col size-xl="1" size-lg="1" size-md="1" size-sm="2" size-xs="2" style="margin-top: 22px;">
                <ion-item lines="none">
                    <ion-button size="small"
                                class="opt-add"
                                (click)="add_option()"
                                *ngIf="activOption.type==1">
                        <ion-icon name="add"></ion-icon>
                    </ion-button>
                </ion-item>
            </ion-col>
            <ion-col size-xl="5" size-lg="5" size-md="5" size-sm="12" size-xs="12" style="align-items: center; margin-top: 20px">
                <ion-item lines="none" class="item-border">
                    <ion-label *ngIf="mandatoryToogle==true">
                        {{translate.instant('Verpflichtend')}}:
                        {{translate.instant('Wahr')}}
                    </ion-label>
                    <ion-label *ngIf="mandatoryToogle==false">
                        {{translate.instant('Verpflichtend')}}:
                        {{translate.instant('Falsch')}}
                    </ion-label>
                        <ion-toggle [(ngModel)]="mandatoryToogle" checked="false"></ion-toggle>
                </ion-item>
            </ion-col>
        </ion-row>

        <!-- Toggle -->
        <ion-row *ngIf="activOption.type==0" style="align-items: center; margin-top: 10px">
            <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="6" size-xs="6" style="margin-top: 10px;">
                <ion-item lines="none" class="item-border">
                    <ion-label *ngIf="defaultToggle==true">
                        {{translate.instant('Standard')}}:
                        {{translate.instant('Wahr')}}
                    </ion-label>
                    <ion-label *ngIf="defaultToggle==false">
                        {{translate.instant('Standard')}}:
                        {{translate.instant('Falsch')}}
                    </ion-label>
                    <ion-toggle [(ngModel)]="defaultToggle" checked="true"></ion-toggle>
                </ion-item>
            </ion-col>
            <ion-col size-xl="2" size-lg="2" size-md="2" size-sm="2" size-xs="2" style="text-align: right; margin-top: 5px; padding-right: 12px;">
                <p-colorPicker [(ngModel)]="inputColor" [inline]="false" ></p-colorPicker>
            </ion-col>
            <ion-col size-xl="4" size-lg="4" size-md="4" size-sm="4" size-xs="4" style="margin-top:-15px">
                <ion-item lines="none">
                    <ion-label position="floating">{{translate.instant('Farbe')}}</ion-label>
                    <ion-input [(ngModel)]="inputColor" 
                               class="clsinput"
                               type="text"
                               placeholder=""
                               [disabled]="true">
                    </ion-input>
                </ion-item>
            </ion-col>
        </ion-row>

        <!-- Select -->
        <div *ngIf="activOption.type==1">
            <ion-row *ngFor="let option of options; let opdInd = index" style="margin-top: -7px">
                <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="10" size-xs="10">
                    <ion-item lines="none">
                        <ion-label position="floating">{{translate.instant('Optionen')+' '+(opdInd+1)}} </ion-label>
                        <ion-input required
                                   type="text"
                                   [(ngModel)]="option[lang]"
                                   readonly="true"
                                   (click)="promptOptionTitle(option,2,opdInd)">
                        </ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size-xl="1" size-lg="1" size-md="1" size-sm="2" size-xs="2" style="margin-top: auto">
                    <ion-item lines="none" style="margin-top: 15px;">
                        <ion-button size="small" 
                                    class="opt-remove"
                                    (click)="remove_option(opdInd)">
                            <ion-icon name="remove"></ion-icon>
                        </ion-button>
                    </ion-item>
                </ion-col>
            </ion-row>
        </div>

        <!-- Textarea -->
        <ion-row *ngIf="activOption.type==2">
            <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="10" size-xs="10">
                <ion-item lines="none">
                    <ion-label position="floating">{{translate.instant('Max')}} {{translate.instant('Charakter')}}</ion-label>
                    <ion-input required
                               (ionChange)="inputErrorMsg()"
                               type="Number"
                               [(ngModel)]="maxChar">
                    </ion-input>
                </ion-item>
            </ion-col>
        </ion-row>

        <!-- Number -->
        <ion-row *ngIf="activOption.type==3">
            <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="6" size-xs="6">
                <ion-item lines="none">
                    <ion-label position="floating">{{translate.instant('Min')}}</ion-label>
                    <ion-input required
                               (ionChange)="inputErrorMsg()"
                               type="Number"
                               [(ngModel)]="minNumber">
                    </ion-input>
                </ion-item>
            </ion-col>
            <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="6" size-xs="6">
                <ion-item lines="none">
                    <ion-label position="floating">{{translate.instant('Max')}}</ion-label>
                    <ion-input required
                               (ionChange)="inputErrorMsg()"
                               type="Number"
                               [(ngModel)]="maxNumber">
                    </ion-input>
                </ion-item>
            </ion-col>
        </ion-row>

         <!-- Date -->
       <!-- <ion-row style="margin-top:-5px;" *ngIf="activOption.type==4">
          <ion-col col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12>
            <ion-item lines="none">
                <ion-label floating>{{translate.instant('Datum')}}</ion-label>
                <ion-datetime  mode="ios"  required
                              (ionChange)="inputErrorMsg()"
                              [(ngModel)]="default_date"
                              displayFormat="DD.MM.YYYY"
                              doneText="{{translate.instant('okay')}}"
                              cancelText="{{translate.instant('abbrechen')}}">
                </ion-datetime>
            </ion-item>
          </ion-col>  
        </ion-row>-->

        <!-- Time -->
        <ion-row *ngIf="activOption.type==4">
            <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="10" size-xs="10">
                <ion-item lines="none">
                    <ion-label position="floating">{{translate.instant('Standard')}}</ion-label>
                    <ion-datetime  mode="ios"  required
                                  (ionChange)="inputErrorMsg()"
                                  type="time"
                                  [(ngModel)]="defaultTime"
                                  name="start_time" 
                                  displayFormat="HH:mm"
                                  doneText="{{translate.instant('okay')}}" 
                                  cancelText="{{translate.instant('abbrechen')}}">
                    </ion-datetime>  
                </ion-item>
            </ion-col>
        </ion-row>

        <!-- Error -->
        <div [hidden]="!inputError" class="pfehler">
            {{translate.instant('Bitte füllen Sie alle Pflichtfelder aus.')}}
        </div>

        <!-- Footer -->
        <ion-row style="margin-top:-18px;">
            <div class="modal-footer">
                <ion-button *ngIf="!itsNew" 
                            style="margin-top: -3px !important;"
                            class="btn btn-modal-danger btn-del footerIcon"
                            (click)="productOptionsDeactivate();">
                    <ion-icon name="trash"></ion-icon>
                </ion-button>
                <ion-button class="btn btn-modal-danger footerIcon"
                            (click)="dismiss()">
                    <ion-icon name="close"></ion-icon>
                </ion-button>
                <ion-button class="btn btn-modal-success footerIcon"
                            (click)="productOptionsEdit();">
                    <ion-icon name="checkmark"></ion-icon>
                </ion-button>
            </div>
        </ion-row>
    </ion-grid>
</ion-content>