<main-nav aktivPage="ProductDetails" [idCustomer]="idCustomer"></main-nav>

<ion-content>
	<div class="ek-content">
		<div class="container">
			<div class="mt20 content-sm">
				<ion-grid>
					<ion-row>						
						<ion-col size-xl="7" size-lg="7" size-md="7" size-sm="12" size="12">
							<div class="kunden-wrap">
								<!-- Product Details -->
								<div class="kunden-col" style="padding-bottom: 12px;">
									<div class="table-info">
										<div class="thead">
											<div class="tr table-header">
												<div class="th">{{'Produkt Details' | translate}}</div>
											</div>
										</div>
										<div class="tbody">
											<div class="tr table-body">
												<div class="td">{{'Titel' | translate}}</div>
												<div class="td">{{activProduct.title}}</div>
											</div>
											<div class="tr table-body">
												<div class="td">DB-ID</div>
												<div class="td">{{activProduct.id}}</div>
											</div>
											<div class="tr table-body">
												<div class="td">ID</div>
												<div class="td">{{activProduct.id_number}}</div>
											</div>
											<div class="tr table-body">
												<div class="td">{{'Articel No' | translate}}</div>
												<div class="td">{{activProduct.articel_no}}</div>
											</div>
											<div class="tr table-body">
												<div class="td">{{'Kundenbezeichnung' | translate}}</div>
												<div class="td">{{activProduct.customer_description}}</div>
											</div>
											<div class="tr table-body">
												<div class="td">{{'Autor' | translate}}</div>
												<div class="td">{{activProduct.author}}</div>
											</div>
											<div class="tr table-body">
												<div class="td ">{{'Intervall Prüfen' | translate}}</div>
												<div class="td">{{activProduct.check_interval}}</div>
											</div>
											<div class="tr table-body">
												<div class="td">{{'Letzter prüftermin' | translate}}</div>
												<div class="td">{{activProduct.last_inspection | date : 'dd.MM.yyyy'}}</div>
											</div>
											<div class="tr table-body">
												<div class="td">{{'Nächster prüftermin' | translate}}</div>
												<div class="td">{{activProduct.last_protocol_next}}</div>
											</div>
											<div class="tr table-body">
												<div class="td">{{'Produktstatus' | translate}}</div>
												<div class="td" [ngStyle]="{'color': activProduct.last_protocol_next_color}">{{activProduct.productstatus}}</div>
											</div>
											<div class="tr table-body">
												<div class="td">{{'Prüfer' | translate}}</div>
												<div class="td">{{activProduct.inspector}}</div>
											</div>
											<div class="tr table-body" *ngFor="let item of activProduct.items">
												<div class="td">{{item.title[lang]}}</div>
												<div class="td" *ngIf="item.type!==0">{{item.value}}</div> 
												<div class="td" *ngIf="item.type==6">
														<ion-button size="small" 
															(click)="openMap(item.latlng)">
															<ion-icon name="navigate"></ion-icon> 
														</ion-button>
												</div>
												<div class="td" *ngIf="item.type==0">
													<img *ngIf="item.value" src="/assets/imgs/available.png" alt="" height="17px" />
													<img *ngIf="!item.value" src="/assets/imgs/not_available.png" alt="" height="17px" />
												</div>
											</div> 
										</div>
									</div>
								</div>
								<!-- File Attachments -->
								<div class="table-responsive" style="padding-bottom: 12px;">
									<div class="table-info">
										<div class="thead">
											<div class="tr table-header">
												<div class="th">{{'Dateianhänge' | translate}}</div>
											</div>
										</div>
										<div class="tbody">
											<div class="tr table-subheader table-subheader-fix">
												<div class="table-subheader-buttons" *ngIf="(userdata.role==1)||(userdata.role==2)">  
													<div>
														<p-fileUpload #fubauto
																	mode="basic"
																	[auto]="true"
																	name="file"
																	url="{{url}}upload.php" 
																	(onSelect)="validateFileSize($event, fubauto.maxFileSize)"
																	(onUpload)="onUpload($event)"
																	(onBeforeUpload)="onBeforeUpload($event)"
																	method="POST"
																	accept="image/*,application/*,audio/*,message/*,text/*,video/*" 
																	maxFileSize="5000000"
																	chooseLabel="{{'Wähle Dateien' | translate}}">
														</p-fileUpload>
													</div>
													<ion-button small
																(click)="getCamera()"
																[disabled]="!mobilePlatform"
																style="padding-left: 10px;">
														<ion-icon name="camera"></ion-icon>
													</ion-button>
												</div>	
											</div>
											<p *ngFor="let row of dateien">   
												<ion-icon name="trash" class="delSpan" (click)="delFile(row)"></ion-icon>         
												<a class="datei_link" href="{{link}}{{row}}" target="_blank"> &nbsp; {{row}}</a>
												<a *ngIf="KraftWegGraph && row=='KraftWegGraph.txt'" class="glyphicon glyphicon-signal delSpan" (click)="chart()"></a>
											</p> 
										</div>
										</div>
								</div>
							</div>
						</ion-col>						
						<ion-col size-xl="5" size-lg="5" size-md="5" size-sm="12" size="12">
							<!-- Product Image -->
							<div class="table-responsive" style="padding-bottom: 12px;">
								<div class="table-info">
									<div class="thead">
										<div class="tr table-header">
											<div class="th">{{'Produktbild' | translate}}</div>
										</div>
									</div>
									<div class="tbody1">
										<div class="whitebox-image">
											<img *ngIf="activProduct.images" src="{{activProduct.images}}?{{nocache}}">
										</div>
									</div>
								</div>
							</div>
							<!-- Product QR -->
							<div *ngIf="activProduct.qr_code" class="table-responsive" style="padding-bottom: 12px;">
								<div class="table-info">
									<div class="thead">
										<div class="tr table-header">
											<div class="th">{{'QR-Code' | translate}}</div>
										</div>
									</div>
									<div class="tbody">
										<div class="whitebox-image qrqr">
											<ngx-qrcode [qrc-value]="activProduct.qr_code" qrc-class="qrImage">
											</ngx-qrcode>
										</div>
									</div>
								</div>
							</div>
						</ion-col>
					</ion-row>
				</ion-grid>
			</div>
		</div>
	</div>
</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed" class="liftiball">
	<ion-fab-button color="tertiary">
		<ion-icon name="menu"></ion-icon>
	</ion-fab-button>
	<ion-fab-list side="top">
		<ion-fab-button color="primary"
						title="{{'Produkt bearbeiten' | translate}}"
						(click)="editProduct()">
			<ion-icon name="create"></ion-icon>
		</ion-fab-button>
		<ion-fab-button color="primary"
						title="{{'Produkt duplizieren alt' | translate}}"
						(click)="copyProduct()">
			<ion-icon name="copy"></ion-icon>
		</ion-fab-button>
		<ion-fab-button color="primary"
						title="{{'Produkt migration' | translate}}"
						(click)="product_migration()"
						*ngIf="userdata.role_set.edit_products">
			<ion-icon name="arrow-forward"></ion-icon>
		</ion-fab-button>
		<ion-fab-button color="primary"
						title="{{'Protokollverlauf' | translate}}"
						(click)="menu_history()"
						*ngIf="userdata.role_set.edit_products">
			<ion-icon name="filing"></ion-icon>
		</ion-fab-button>
		<ion-fab-button color="primary"
						title="{{'Neues Protokoll' | translate}}"
						(click)="createProtocol()"
						[disabled]="userdata.role_set.check_products==false">
			<ion-icon name="clipboard"></ion-icon>
		</ion-fab-button>
		<ion-fab-button color="primary"
						title="{{'PDF Ansicht' | translate}}"
						(click)="printPdf()">
			<ion-icon name="document"></ion-icon>
		</ion-fab-button>
		<ion-fab-button color="primary"
						title="{{'NFC Scan' | translate}}"
						(click)="nfc_scan()"
						[disabled]="!isNFC">
			<ion-icon name="wifi"></ion-icon>
		</ion-fab-button>
		<ion-fab-button color="primary"
						title="{{'QR-Code scannen' | translate}}"
						(click)="qr_code()"
						[disabled]="!mobilePlatform">
			<ion-icon name="qr-scanner"></ion-icon>
		</ion-fab-button>
	</ion-fab-list>
</ion-fab>

<bottom-nav></bottom-nav>