
    .qrqr {
      display: flex;
      -webkit-align-items: center;
              align-items: center;
          -webkit-justify-content: center;
                  justify-content: center;
      img {
          width: 100%;
      }
  }

  .pdownloads {
      padding: 20px;
      background: #FFF;
      
      .delSpan {
          color: #e74c3c;
      }
  }

    .whitebox-image {
      background: #fff;
      color: #4a5356;
      padding: 20px;
      width: 100%;
      border-radius: 3px;
      position: relative;
      text-align: center;
  }

    .btn-primary:disabled {
        background-color: rgb(136, 177, 221) !important;
    }


      .header-buttons {
        height: 100%;
        display: flex;
        ion-button {
          height: 100%;
          padding: 0px 15px;
          margin: 0;
          font-size: 16px;
          --background: var(--ion-color-darkmain);
          &:hover
          {
            --background: rgba(var(--ion-color-darkmain-rgb), 0.6) !important;
          }
        }
        ion-button  + ion-button  {
          margin-left: 10px;
        }
      }