
    :host ::ng-deep .priority-2, 
    :host ::ng-deep .priority-3,
    :host ::ng-deep .visibility-sm {
        display: none;
    }

    @media screen and (max-width: 39.938em) {
        :host ::ng-deep .visibility-sm {
            display: inline;
        }
    }

    @media screen and (min-width: 40em) {
        :host ::ng-deep .priority-2 {
            display: table-cell;
        }
    }

    @media screen and (min-width: 64em) {
        :host ::ng-deep .priority-3 {
            display: table-cell;
        }
    }

    
    @media screen and (min-width: 990px) {
        #menuMin {
            display: none;
        }
        #menuMax {
            display: inline;
        }
    }
    
    @media screen and (max-width: 991px) {
        #menuMax {
            display: none;
        }
        #menuMin {
            display: inline;
        }
    }

    .heightCalc {
        @media (max-width: 767px) {
          top: calc(65px + 55px + 41px + 47px);
          height: calc(100% - 65px - 55px - 41px - 47px);
        }
    }

    .ek-content {
        @media only screen and (max-width: 767px) {
            //padding-top: 44px;
        }
    }

    .topBar-outer {
      margin-bottom: 3px;
    }

    .ui-treetable-scrollable-view {
        colgroup col:first-child {
            max-width: 90px !important;
            width: 90px !important;
        }
        @supports not ( -moz-appearance:none ) {
            tbody tr td:first-child{
                padding-left: 15px !important;
            }
        }
    
    }

    .link {
        cursor: pointer;
    }
    .link:hover{
        font-weight: 600;
    }