<main-nav aktivPage="ProtocolList" 
          [idCustomer]="idCustomer"
          [searchText]="columnFilterValues['search_all']" 
          (ping)="update($event)"
          autoDisplay="true">
</main-nav>
 
<div class="ek-content" (window:resize)="onResize($event)">

    <div id="heightCalc"
         class="heightCalc"
         #divHeightCalc>
    </div>
    <p-treeTable [value]="protocolListView"
                 [columns]="selectedColumns"
                 dataKey="id"
                 styleClass="ui-treetable-scrollable-body"
                 [resizableColumns]="true"                 
                 [scrollable]="true"
                 [paginator]="false" 
                 [rows]="rowCount" 
                 [scrollHeight]="heightCalc"
                 [virtualRowHeight]="rowHeight"
                 [virtualScroll]="true" 
                 [lazy]="true" 
                 (onLazyLoad)="loadNodes($event)"  
                 [loading]="false" 
                 [totalRecords]="rowRecords"
                 columnResizeMode="fit"
                 [reorderableColumns]="true" 
                 (onColReorder)="onColReorder($event)"
                 (onColResize)="onColResize($event)"
                 [sortField] = "sortedColumn['sort_field']"
                 [sortOrder] = "sortedColumn['sort_order']" >    
        <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
                <col [hidden]="!editMode" [ngStyle]="{width: selectedColumns[0].width}" >
                <col *ngFor="let col of selectedColumns.slice(1);" [ngStyle]="{width: col.width}">
            </colgroup>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th class="workColumn" [hidden]="!editMode">
                    <div class="workWidthfix"></div>
                </th>   
                <th *ngFor="let col of selectedColumns.slice(1);" 
                    ttResizableColumn 
                    [ttSortableColumn]="col.field" 
                    ttReorderableColumn>
                    {{col.header}}
                    <p-treeTableSortIcon [field]="col.field"></p-treeTableSortIcon>
                </th>
            </tr>
            <tr [hidden]="!splitFilter">
                <th class="workColumn" [hidden]="!editMode">
                    <div class="workWidthfix"></div>
                </th> 
                <th *ngFor="let col of selectedColumns.slice(1)" 
                    [ngSwitch]="col.field"
                    class="p-table-filter"
                    [ngStyle]="{width: col.width}">
                    <input pInputText
                           type="text"
                           class="filter-search"
                           (input)="search_all()"
                           [(ngModel)]="columnFilterValues[col.field]">
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body"
                     let-rowNode
                     let-rowData="rowData"
                     let-columns="columns">
            <tr [ttSelectableRow]="rowNode">
                    <td  class="workColumn" [hidden]="!editMode"> 
                    <div class="workWidthfix">
                        <ion-button [hidden]="!editMode" class="btn btn-danger" size="small"  (click)="protocolDeactivate(rowData)">
                            <ion-icon name="trash"></ion-icon>
                        </ion-button>
                    </div>               
                </td>
                <td *ngFor="let col of selectedColumns.slice(1); let i = index" 
                    (click)="viewProtocol(col, rowData)"
                    [ngClass]="{'link_eye': (col.field == 'title')}" >
                    <p-treeTableToggler [rowNode]="rowNode" *ngIf="i == 0"></p-treeTableToggler>
                    <label *ngIf="(col.field != 'title') && (col.field != 'protocol_date_next')">
                        <span *ngIf="(rowData[col.field]!=='x') && (rowData[col.field]!=='√')">
                            {{rowData[col.field]}}
                        </span>
                        <span *ngIf="(rowData[col.field]==='x') || (rowData[col.field]==='√')">                        
                                <img *ngIf="rowData[col.field]==='√'"
                                    src="/assets/imgs/available.png" alt="" height="17px"/>
                                <img *ngIf="rowData[col.field]==='x'"
                                    src="/assets/imgs/not_available.png" alt="" height="17px"/>
                        </span>
                    </label>
                    <div class="link" *ngIf="(col.field == 'title')" >{{rowData[col.field]}}</div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="loadingbody" let-columns="columns">
                <tr style="height:34px">
                    <td  class="workColumn" [hidden]="!editMode"></td>
                    <td *ngFor="let col of selectedColumns.slice(1)">
                        <div class="loading-text"></div>
                    </td>
                </tr>
        </ng-template>
    </p-treeTable>
</div>

<ion-fab [hidden]="!editMode" vertical="bottom" horizontal="end" slot="fixed" class="liftiball liftiball-cancel">
    <!-- BUTTON -->
    <ion-fab-button color="danger" title="{{'abbrechen' | translate}}" (click)="editMode=false;">
        <i class="fas fa-times"></i>
    </ion-fab-button>
</ion-fab>
    
<ion-fab [hidden]="editMode" vertical="bottom" horizontal="end" slot="fixed" class="liftiball">
    <ion-fab-button color="tertiary">
        <ion-icon name="menu"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">     
        <!-- BUTTON -->
        <ion-fab-button color="danger"
                        title="{{'Löschen' | translate}}"
                        (click)="editMode=true;">
            <ion-icon name="trash"></ion-icon> 
        </ion-fab-button>
        <!-- BUTTON -->
        <ion-fab-button color="success"
                        title="{{'Neue Protokollvorlage' | translate}}"
                        (click)="create_template()">
            <ion-icon name="add"></ion-icon>
            <ion-icon name="list"></ion-icon>
        </ion-fab-button>
        <!-- BUTTON -->
        <ion-fab-button color="primary"
                        title="{{'Spalten' | translate}}"
                        (click)="show_columns()">
            <ion-icon name="grid"></ion-icon>
        </ion-fab-button>
        <!-- BUTTON -->
        <ion-fab-button color="primary"
                        title="{{'Cancel filters' | translate}}"
                        (click)="cancel_filters(2)">
            <ion-icon name="eye-off"></ion-icon>
        </ion-fab-button>
        <!-- BUTTON -->
        <ion-fab-button color="warning"
                        title="{{'PDF Export' | translate}}"
                        (click)="pdf_export()">
            <ion-icon name="download"></ion-icon>
        </ion-fab-button>
        <!-- BUTTON -->
        <ion-fab-button color="warning"
                        title="{{'XLS Export' | translate}}"
                        (click)="excel_export()">
            <ion-icon name="stats"></ion-icon>
        </ion-fab-button>
    </ion-fab-list>
</ion-fab>

<bottom-nav></bottom-nav>