<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{modalTitle}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>    
    <ion-row>
      <!-- Employee -->
      <ion-col size-xl="8" size-lg="8" size-md="8" size-sm="12" size="12">
        <ion-item lines="none">
          <ion-label position="floating">{{translate.instant('Mitarbeiter')}}</ion-label>
          <ion-select require                      
                      [disabled]="!this.userdata.role_set.edit_customer"
                      name="Employee"
                      id="selectEmployee"
                      [(ngModel)]="activAppointment.idUser"
                      okText="{{translate.instant('okay')}}"
                      cancelText="{{translate.instant('abbrechen')}}">
            <ion-select-option *ngFor="let pr of employeeList" [value]="pr.id">{{pr.first_name + " " + pr.last_name}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <!-- Type of date -->
      <ion-col size-xl="4" size-lg="4" size-md="4" size-sm="12" size="12">
        <ion-item lines="none">
          <ion-label position="floating">{{translate.instant('Terminart')}}</ion-label>
          <ion-select required
                      name="AppointmentType"
                      [(ngModel)]="activAppointment.appointment_type"
                      [disabled]="appointmentTypeDisabled"
                      okText="{{translate.instant('okay')}}"
                      cancelText="{{translate.instant('abbrechen')}}">
            <ion-select-option value="0" selected>{{translate.instant('Kundenbesuch')}}</ion-select-option>
            <ion-select-option value="1">{{translate.instant('Prüfung')}}</ion-select-option>
            <ion-select-option value="2">{{translate.instant('Urlaub')}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <!-- Customer -->
      <ion-col size-xl="10.6" size-lg="10.6" size-md="10.6" size-sm="10.6" size="10.6" *ngIf="activAppointment.appointment_type<2">
        <ion-item lines="none">
          <ion-label position="floating">{{translate.instant('Kunden')}}</ion-label>
          <ionic-selectable required                                                         
                            name="Customer"
                            [(ngModel)]="customer"
                            [items]="listCustomer"
                            itemValueField="id"
                            itemTextField="listText"
                            [canSearch]="true"
                            (onChange)="customerChange($event)"
                            [hasVirtualScroll]="true"
                            [disabled]=customerDisabled
                            closeButtonSlot="end">
            <ng-template ionicSelectableCloseButtonTemplate>
              <ion-icon name="close" style="font-size: 24px;"></ion-icon>
            </ng-template>
          </ionic-selectable>
        </ion-item>
      </ion-col>
      <ion-col size-xl="1.4" size-lg="1.4" size-md="1.4" size-sm="1.4" size="1.4"
               *ngIf="activAppointment.appointment_type<2">
          <ion-item lines="none" style="margin-left: -5px;">
              <ion-button size="small"
                          (click)="open_customer()"
                          [disabled]="!customer || idCustomer==0" 
                          style="margin-top: 30px" >
                  <ion-icon name="eye"></ion-icon>
              </ion-button>
          </ion-item>
      </ion-col>
    </ion-row>
    <!-- Row 2 -->
    <ion-row>
      <!-- Point of Contact -->
      <ion-col size-xl="10.6" size-lg="10.6" size-md="10.6" size-sm="10.6" size="10.6" *ngIf="activAppointment.appointment_type<2">
        <ion-item lines="none">
          <ion-label position="floating">{{translate.instant('Ansprechpartner')}}</ion-label>
          <ion-select required
                      style="margin-bottom: 4px;"                        
                      name="PointofContact"
                      id="selectContactPerson"
                      [disabled]="contactPersonDisabled"
                      [(ngModel)]="activAppointment.idContactPerson"
                      okText="{{translate.instant('okay')}}" 
                      cancelText="{{translate.instant('abbrechen')}}">
            <ion-select-option *ngFor="let pr of contactPersonList" [value]="pr.id">
              {{pr.first_name + " " + pr.last_name}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <!-- # 1 -->
    <ion-row>
      <!-- Date -->
      <ion-col size-xl="3.2" size-lg="3.2" size-md="3.2" size-sm="3.2" size="3.2">
        <ion-item lines="none">
          <ion-label position="stacked">{{translate.instant('Datum')}}</ion-label>
          <ion-datetime  required
                         mode="ios"
                        name="Date1"
                        [(ngModel)]="activAppointment.appointment_date"
                        displayFormat="DD.MM.YYYY"
                        max={{maxDate}}
                        doneText="{{translate.instant('okay')}}"
                        cancelText="{{translate.instant('abbrechen')}}">
          </ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col size-xl="2.6" size-lg="2.6" size-md="2.6" size-sm="2.6" size="2.6" *ngIf="activAppointment.appointment_type<2">
        <!-- Start Time -->
        <ion-item lines="none">
          <ion-label position="stacked">{{translate.instant('Startzeit')}}</ion-label>
          <ion-datetime required
                        mode="ios"
                        name="StartTime1"
                        type="time"
                        id="start_time"
                        [(ngModel)]="activAppointment.start_time"                          
                        displayFormat="HH:mm"
                        min={{minTime}}
                        max={{maxTime}}
                        doneText="{{translate.instant('okay')}}"
                        cancelText="{{translate.instant('abbrechen')}}">
          </ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col size-xl="2.6" size-lg="2.6" size-md="2.6" size-sm="2.6" size="2.6" *ngIf="activAppointment.appointment_type<2">
        <!-- End Time -->
        <ion-item lines="none">
          <ion-label position="stacked">{{translate.instant('Endzeit')}}</ion-label>
          <ion-datetime required
                        mode="ios"
                        name="EndTime1"
                        type="time"
                        id="end_time"
                        [(ngModel)]="activAppointment.end_time"
                        displayFormat="HH:mm"
                        min={{minTime}}
                        max={{maxTime}}
                        doneText="{{translate.instant('okay')}}"
                        cancelText="{{translate.instant('abbrechen')}}">
          </ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col size-xl="2.2" size-lg="2.2" size-md="2.2" size-sm="2.2" size="2.2" *ngIf="activAppointment.appointment_type<2">
          <ion-item lines="none"> 
            <ion-label position="stacked">{{translate.instant('Erinnerung')}}</ion-label>
            <ion-toggle mode="md" [(ngModel)]="reminder[1]" class="item-border-toggle"></ion-toggle>
            <!-- <ion-button size="small"
                        [ngClass]="getReminderClass(1)"
                        (click)="setReminder(1);"
                        style="margin-top: 30px;">
              <ion-icon name="alert"></ion-icon>
            </ion-button> -->
          </ion-item>
      </ion-col>
    </ion-row>
    <!-- # 2 -->
    <ion-row>
      <!-- Date -->
      <ion-col size-xl="3.2" size-lg="3.2" size-md="3.2" size-sm="3.2" size="3.2" *ngIf="addDate>=2">
        <ion-item lines="none">
          <ion-label position="stacked">{{translate.instant('Datum')}}</ion-label>
          <ion-datetime required
                        mode="ios"
                        [(ngModel)]="activAppointment.appointment_date2"
                        displayFormat="DD.MM.YYYY"
                        max={{maxDate}}
                        doneText="{{translate.instant('okay')}}"
                        cancelText="{{translate.instant('abbrechen')}}">
          </ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col size-xl="2.6" size-lg="2.6" size-md="2.6" size-sm="2.6" size="2.6" *ngIf="activAppointment.appointment_type<2 && addDate>=2">
        <!-- Start Time -->
        <ion-item lines="none">
          <ion-label position="stacked">{{translate.instant('Startzeit')}}</ion-label>
          <ion-datetime required
                        mode="ios"
                        type="time"
                        id="start_time"
                        [(ngModel)]="activAppointment.start_time2"
                        name="start_time"
                        displayFormat="HH:mm"
                        doneText="{{translate.instant('okay')}}"
                        cancelText="{{translate.instant('abbrechen')}}">
          </ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col size-xl="2.6" size-lg="2.6" size-md="2.6" size-sm="2.6" size="2.6" *ngIf="activAppointment.appointment_type<2 && addDate>=2">
        <!-- End Time -->
        <ion-item lines="none">
          <ion-label position="stacked">{{translate.instant('Endzeit')}}</ion-label>
          <ion-datetime required
                        mode="ios"
                        type="time"
                        id="end_time"
                        [(ngModel)]="activAppointment.end_time2"
                        name="end_time"
                        displayFormat="HH:mm"
                        doneText="{{translate.instant('okay')}}"
                        cancelText="{{translate.instant('abbrechen')}}">
          </ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col size-xl="2.2" size-lg="2.2" size-md="2.2" size-sm="2.2" size="2.2" *ngIf="activAppointment.appointment_type<2 && addDate>=2">
          <ion-item lines="none">
            <ion-label position="stacked">{{translate.instant('Erinnerung')}}</ion-label>
            <ion-toggle mode="md" [(ngModel)]="reminder[2]" class="item-border-toggle"></ion-toggle>
            <!-- <ion-button size="small"
                        [ngClass]="getReminderClass(2)"
                        (click)="setReminder(2);"
                        style="margin-top: 30px;">
              <ion-icon name="alert"></ion-icon>
            </ion-button> -->
          </ion-item>
      </ion-col>
      <ion-col size-xl="1.2" size-lg="1.2" size-md="1.2" size-sm="1.2" size="1.2" *ngIf="activAppointment.appointment_type<2 && addDate>=2">
        <ion-item lines="none" class="date-trash-button">
          <ion-button size="small"
                      class="btn-red"
                      (click)="minusDate();">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
    <!-- # 3 -->
    <ion-row>
      <!-- Date -->
      <ion-col size-xl="3.2" size-lg="3.2" size-md="3.2" size-sm="3.2" size="3.2" *ngIf="addDate>=3">
        <ion-item lines="none">
          <ion-label position="stacked">{{translate.instant('Datum')}}</ion-label>
          <ion-datetime required
                        mode="ios"
                        [(ngModel)]="activAppointment.appointment_date3"
                        displayFormat="DD.MM.YYYY"
                        max={{maxDate}}
                        doneText="{{translate.instant('okay')}}"
                        cancelText="{{translate.instant('abbrechen')}}">
          </ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col size-xl="2.6" size-lg="2.6" size-md="2.6" size-sm="2.6" size="2.6" *ngIf="activAppointment.appointment_type<2 && addDate>=3">
        <!-- Start Time -->
        <ion-item lines="none">
          <ion-label position="stacked">{{translate.instant('Startzeit')}}</ion-label>
          <ion-datetime required
                        mode="ios"
                        type="time"
                        id="start_time"
                        [(ngModel)]="activAppointment.start_time3"
                        name="start_time"
                        displayFormat="HH:mm"
                        doneText="{{translate.instant('okay')}}"
                        cancelText="{{translate.instant('abbrechen')}}">
          </ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col size-xl="2.6" size-lg="2.6" size-md="2.6" size-sm="2.6" size="2.6" *ngIf="activAppointment.appointment_type<2 && addDate>=3">
        <!-- End Time -->
        <ion-item lines="none">
          <ion-label position="stacked">{{translate.instant('Endzeit')}}</ion-label>
          <ion-datetime required
                        mode="ios"
                        type="time"
                        id="end_time"
                        [(ngModel)]="activAppointment.end_time3"
                        name="end_time"
                        displayFormat="HH:mm"
                        doneText="{{translate.instant('okay')}}"
                        cancelText="{{translate.instant('abbrechen')}}">
          </ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col size-xl="2.2" size-lg="2.2" size-md="2.2" size-sm="2.2" size="2.2" *ngIf="activAppointment.appointment_type<2 && addDate>=3">
          <ion-item lines="none">
            <ion-label position="stacked">{{translate.instant('Erinnerung')}}</ion-label>
            <ion-toggle mode="md" [(ngModel)]="reminder[3]" class="item-border-toggle"></ion-toggle>
            <!-- <ion-button size="small"
                        [ngClass]="getReminderClass(3)"
                        (click)="setReminder(3);"
                        style="margin-top: 30px;">
              <ion-icon name="alert"></ion-icon>
            </ion-button> -->
          </ion-item>
      </ion-col>
      <ion-col size-xl="1.2" size-lg="1.2" size-md="1.2" size-sm="1.2" size="1.2" *ngIf="activAppointment.appointment_type<2 && addDate>=3">
        <ion-item lines="none" class="date-trash-button">
          <ion-button size="small"
                      class="btn-red"
                      (click)="minusDate();">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
    <!-- # 4 -->
    <ion-row>
      <!-- Date -->
      <ion-col size-xl="3.2" size-lg="3.2" size-md="3.2" size-sm="3.2" size="3.2" *ngIf="addDate>=4">
        <ion-item lines="none">
          <ion-label position="stacked">{{translate.instant('Datum')}}</ion-label>
          <ion-datetime required
                        mode="ios"
                        [(ngModel)]="activAppointment.appointment_date4"
                        displayFormat="DD.MM.YYYY"
                        max={{maxDate}}
                        doneText="{{translate.instant('okay')}}"
                        cancelText="{{translate.instant('abbrechen')}}">
          </ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col size-xl="2.6" size-lg="2.6" size-md="2.6" size-sm="2.6" size="2.6" *ngIf="activAppointment.appointment_type<2 && addDate>=4">
        <!-- Start Time -->
        <ion-item lines="none">
          <ion-label position="stacked">{{translate.instant('Startzeit')}}</ion-label>
          <ion-datetime required
                        mode="ios"
                        type="time"
                        id="start_time"
                        [(ngModel)]="activAppointment.start_time4"
                        name="start_time"
                        displayFormat="HH:mm"
                        doneText="{{translate.instant('okay')}}"
                        cancelText="{{translate.instant('abbrechen')}}">
          </ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col size-xl="2.6" size-lg="2.6" size-md="2.6" size-sm="2.6" size="2.6" *ngIf="activAppointment.appointment_type<2 && addDate>=4">
        <!-- End Time -->
        <ion-item lines="none">
          <ion-label position="stacked">{{translate.instant('Endzeit')}}</ion-label>
          <ion-datetime required
                        mode="ios"
                        type="time"
                        id="end_time"
                        [(ngModel)]="activAppointment.end_time4"
                        name="end_time"
                        displayFormat="HH:mm"
                        doneText="{{translate.instant('okay')}}"
                        cancelText="{{translate.instant('abbrechen')}}">
          </ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col size-xl="2.2" size-lg="2.2" size-md="2.2" size-sm="2.2" size="2.2" *ngIf="activAppointment.appointment_type<2 && addDate>=4">
          <ion-item lines="none">
            <ion-label position="stacked">{{translate.instant('Erinnerung')}}</ion-label>
            <ion-toggle mode="md" [(ngModel)]="reminder[4]" class="item-border-toggle"></ion-toggle>
           <!--  <ion-button size="small"
                        [ngClass]="getReminderClass(4)"
                        (click)="setReminder(4);"
                        style="margin-top: 30px;">
              <ion-icon name="alert"></ion-icon>
            </ion-button> -->
          </ion-item>
      </ion-col>
      <ion-col size-xl="1.2" size-lg="1.2" size-md="1.2" size-sm="1.2" size="1.2" *ngIf="activAppointment.appointment_type<2 && addDate>=4">
        <ion-item lines="none" class="date-trash-button">
          <ion-button size="small"
                      class="btn-red"
                      (click)="minusDate();">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
    <!-- # 5 -->
    <ion-row>
      <!-- Date -->
      <ion-col size-xl="3.2" size-lg="3.2" size-md="3.2" size-sm="3.2" size="3.2" *ngIf="addDate>=5">
        <ion-item lines="none">
          <ion-label position="stacked">{{translate.instant('Datum')}}</ion-label>
          <ion-datetime required
                        mode="ios"
                        [(ngModel)]="activAppointment.appointment_date5"
                        displayFormat="DD.MM.YYYY"
                        max={{maxDate}}
                        doneText="{{translate.instant('okay')}}"
                        cancelText="{{translate.instant('abbrechen')}}">
          </ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col size-xl="2.6" size-lg="2.6" size-md="2.6" size-sm="2.6" size="2.6" *ngIf="activAppointment.appointment_type<2 && addDate>=5">
        <!-- Start Time -->
        <ion-item lines="none">
          <ion-label position="stacked">{{translate.instant('Startzeit')}}</ion-label>
          <ion-datetime required
                        mode="ios"
                        type="time"
                        id="start_time"
                        [(ngModel)]="activAppointment.start_time5"
                        name="start_time"
                        displayFormat="HH:mm"
                        doneText="{{translate.instant('okay')}}"
                        cancelText="{{translate.instant('abbrechen')}}">
          </ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col size-xl="2.6" size-lg="2.6" size-md="2.6" size-sm="2.6" size="2.6" *ngIf="activAppointment.appointment_type<2 && addDate>=5">
        <!-- End Time -->
        <ion-item lines="none">
          <ion-label position="stacked">{{translate.instant('Endzeit')}}</ion-label>
          <ion-datetime required
                        mode="ios"
                        type="time"
                        id="end_time"
                        [(ngModel)]="activAppointment.end_time5"
                        name="end_time"
                        displayFormat="HH:mm"
                        doneText="{{translate.instant('okay')}}"
                        cancelText="{{translate.instant('abbrechen')}}">
          </ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col size-xl="2.2" size-lg="2.2" size-md="2.2" size-sm="2.2" size="2.2" *ngIf="activAppointment.appointment_type<2 && addDate>=5">
          <ion-item lines="none">
            <ion-label position="stacked">{{translate.instant('Erinnerung')}}</ion-label>
            <ion-toggle mode="md" [(ngModel)]="reminder[5]" class="item-border-toggle"></ion-toggle>
            <!-- <ion-button size="small"
                        [ngClass]="getReminderClass(5)"
                        (click)="setReminder(5);"
                        style="margin-top: 30px;">
              <ion-icon name="alert"></ion-icon>
            </ion-button> -->
          </ion-item>
      </ion-col>
      <ion-col size-xl="1.2" size-lg="1.2" size-md="1.2" size-sm="1.2" size="1.2" *ngIf="activAppointment.appointment_type<2 && addDate>=5">
        <ion-item lines="none" class="date-trash-button">
          <ion-button size="small"
                      class="btn-red"
                      (click)="minusDate();">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
    <!-- # 6 -->
    <ion-row>
      <!-- Date -->
      <ion-col size-xl="3.2" size-lg="3.2" size-md="3.2" size-sm="3.2" size="3.2" *ngIf="addDate>=6">
        <ion-item lines="none">
          <ion-label position="stacked">{{translate.instant('Datum')}}</ion-label>
          <ion-datetime required
                        mode="ios"
                        [(ngModel)]="activAppointment.appointment_date6"
                        displayFormat="DD.MM.YYYY"
                        max={{maxDate}}
                        doneText="{{translate.instant('okay')}}"
                        cancelText="{{translate.instant('abbrechen')}}">
          </ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col size-xl="2.6" size-lg="2.6" size-md="2.6" size-sm="2.6" size="2.6" *ngIf="activAppointment.appointment_type<2 && addDate>=6">
        <!-- Start Time -->
        <ion-item lines="none">
          <ion-label position="stacked">{{translate.instant('Startzeit')}}</ion-label>
          <ion-datetime required
                        mode="ios"
                        type="time"
                        id="start_time"
                        [(ngModel)]="activAppointment.start_time6"
                        name="start_time"
                        displayFormat="HH:mm"
                        doneText="{{translate.instant('okay')}}"
                        cancelText="{{translate.instant('abbrechen')}}">
          </ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col size-xl="2.6" size-lg="2.6" size-md="2.6" size-sm="2.6" size="2.6" *ngIf="activAppointment.appointment_type<2 && addDate>=6">
        <!-- End Time -->
        <ion-item lines="none">
          <ion-label position="stacked">{{translate.instant('Endzeit')}}</ion-label>
          <ion-datetime required
                        mode="ios"
                        type="time"
                        id="end_time"
                        [(ngModel)]="activAppointment.end_time6"
                        name="end_time"
                        displayFormat="HH:mm"
                        doneText="{{translate.instant('okay')}}"
                        cancelText="{{translate.instant('abbrechen')}}">
          </ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col size-xl="2.2" size-lg="2.2" size-md="2.2" size-sm="2.2" size="2.2" *ngIf="activAppointment.appointment_type<2 && addDate>=6">
          <ion-item lines="none">
            <ion-label position="stacked">{{translate.instant('Erinnerung')}}</ion-label>
            <ion-toggle mode="md" [(ngModel)]="reminder[6]" class="item-border-toggle"></ion-toggle>
            <!-- <ion-button size="small"
                        [ngClass]="getReminderClass(6)"
                        (click)="setReminder(6);"
                        style="margin-top: 30px;">
              <ion-icon name="alert"></ion-icon>
            </ion-button> -->
          </ion-item>
      </ion-col>
      <ion-col size-xl="1.2" size-lg="1.2" size-md="1.2" size-sm="1.2" size="1.2" *ngIf="activAppointment.appointment_type<2 && addDate>=6">
        <ion-item lines="none" class="date-trash-button">
          <ion-button size="small"
                      class="btn-red"
                      (click)="minusDate();">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
    <!-- # 7 -->
    <ion-row>
      <!-- Date -->
      <ion-col size-xl="3.2" size-lg="3.2" size-md="3.2" size-sm="3.2" size="3.2" *ngIf="addDate>=7">
        <ion-item lines="none">
          <ion-label position="stacked">{{translate.instant('Datum')}}</ion-label>
          <ion-datetime required
                        mode="ios"
                        [(ngModel)]="activAppointment.appointment_date7"
                        displayFormat="DD.MM.YYYY"
                        max={{maxDate}}
                        doneText="{{translate.instant('okay')}}"
                        cancelText="{{translate.instant('abbrechen')}}">
          </ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col size-xl="2.6" size-lg="2.6" size-md="2.6" size-sm="2.6" size="2.6" *ngIf="activAppointment.appointment_type<2 && addDate>=7">
        <!-- Start Time -->
        <ion-item lines="none">
          <ion-label position="stacked">{{translate.instant('Startzeit')}}</ion-label>
          <ion-datetime required
                        mode="ios"
                        type="time"
                        id="start_time"
                        [(ngModel)]="activAppointment.start_time7"
                        name="start_time"
                        displayFormat="HH:mm"
            doneText="{{translate.instant('okay')}}" cancelText="{{translate.instant('abbrechen')}}">
          </ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col size-xl="2.6" size-lg="2.6" size-md="2.6" size-sm="2.6" size="2.6" *ngIf="activAppointment.appointment_type<2 && addDate>=7">
        <!-- End Time -->
        <ion-item lines="none">
          <ion-label position="stacked">{{translate.instant('Endzeit')}}</ion-label>
          <ion-datetime required
                        mode="ios"
                        type="time"
                        id="end_time"
                        [(ngModel)]="activAppointment.end_time7"
                        name="end_time"
                        displayFormat="HH:mm"
                        doneText="{{translate.instant('okay')}}"
                        cancelText="{{translate.instant('abbrechen')}}">
          </ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col size-xl="2.2" size-lg="2.2" size-md="2.2" size-sm="2.2" size="2.2" *ngIf="activAppointment.appointment_type<2 && addDate>=7">
          <ion-item lines="none">
            <ion-label position="stacked">{{translate.instant('Erinnerung')}}</ion-label>
            <ion-toggle mode="md" [(ngModel)]="reminder[7]" class="item-border-toggle"></ion-toggle>
            <!-- <ion-button size="small"
                        [ngClass]="getReminderClass(7)"
                        (click)="setReminder(7);"
                        style="margin-top: 30px;">
              <ion-icon name="alert"></ion-icon>
            </ion-button> -->
          </ion-item>
      </ion-col>
      <ion-col size-xl="1.2" size-lg="1.2" size-md="1.2" size-sm="1.2" size="1.2" *ngIf="activAppointment.appointment_type<2 && addDate>=7">
        <ion-item lines="none" class="date-trash-button">
          <ion-button size="small"
                      class="btn-red"
                      (click)="minusDate();">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
    <!-- # 8 -->
    <ion-row>
      <!-- Date -->
      <ion-col size-xl="3.2" size-lg="3.2" size-md="3.2" size-sm="3.2" size="3.2" *ngIf="addDate>=8">
        <ion-item lines="none">
          <ion-label position="stacked">{{translate.instant('Datum')}}</ion-label>
          <ion-datetime required
                        mode="ios"
                        [(ngModel)]="activAppointment.appointment_date8"
                        displayFormat="DD.MM.YYYY"
                        max={{maxDate}}
                        doneText="{{translate.instant('okay')}}"
                        cancelText="{{translate.instant('abbrechen')}}">
          </ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col size-xl="2.6" size-lg="2.6" size-md="2.6" size-sm="2.6" size="2.6" *ngIf="activAppointment.appointment_type<2 && addDate>=8">
        <!-- Start Time -->
        <ion-item lines="none">
          <ion-label position="stacked">{{translate.instant('Startzeit')}}</ion-label>
          <ion-datetime required
                        mode="ios"
                        type="time"
                        id="start_time"
                        [(ngModel)]="activAppointment.start_time8"
                        name="start_time"
                        displayFormat="HH:mm"
                        doneText="{{translate.instant('okay')}}"
                        cancelText="{{translate.instant('abbrechen')}}">
          </ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col size-xl="2.6" size-lg="2.6" size-md="2.6" size-sm="2.6" size="2.6" *ngIf="activAppointment.appointment_type<2 && addDate>=8">
        <!-- End Time -->
        <ion-item lines="none">
          <ion-label position="stacked">{{translate.instant('Endzeit')}}</ion-label>
          <ion-datetime required
                        mode="ios"
                        type="time"
                        id="end_time"
                        [(ngModel)]="activAppointment.end_time8"
                        name="end_time"
                        displayFormat="HH:mm"
                        doneText="{{translate.instant('okay')}}"
                        cancelText="{{translate.instant('abbrechen')}}">
          </ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col size-xl="2.2" size-lg="2.2" size-md="2.2" size-sm="2.2" size="2.2" *ngIf="activAppointment.appointment_type<2 && addDate>=8">
          <ion-item lines="none">
            <ion-label position="stacked">{{translate.instant('Erinnerung')}}</ion-label>
            <ion-toggle mode="md" [(ngModel)]="reminder[8]" class="item-border-toggle"></ion-toggle>
            <!-- <ion-button size="small"
                        [ngClass]="getReminderClass(8)"
                        (click)="setReminder(8);"
                        style="margin-top: 30px;">
              <ion-icon name="alert"></ion-icon>
            </ion-button> -->
          </ion-item>
      </ion-col>
      <ion-col size-xl="1.2" size-lg="1.2" size-md="1.2" size-sm="1.2" size="1.2" *ngIf="activAppointment.appointment_type<2 && addDate>=8">
        <ion-item lines="none" class="date-trash-button">
          <ion-button size="small"
                      class="btn-red"
                      (click)="minusDate();">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
    <!-- # 9 -->
    <ion-row>
      <!-- Date -->
      <ion-col size-xl="3.2" size-lg="3.2" size-md="3.2" size-sm="3.2" size="3.2" *ngIf="addDate>=9">
        <ion-item lines="none">
          <ion-label position="stacked">{{translate.instant('Datum')}}</ion-label>
          <ion-datetime required
                        mode="ios"
                        [(ngModel)]="activAppointment.appointment_date9"
                        displayFormat="DD.MM.YYYY"
                        max={{maxDate}}
                        doneText="{{translate.instant('okay')}}"
                        cancelText="{{translate.instant('abbrechen')}}">
          </ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col size-xl="2.6" size-lg="2.6" size-md="2.6" size-sm="2.6" size="2.6" *ngIf="activAppointment.appointment_type<2 && addDate>=9">
        <!-- Start Time -->
        <ion-item lines="none">
          <ion-label position="stacked">{{translate.instant('Startzeit')}}</ion-label>
          <ion-datetime required
                        mode="ios"
                        type="time"
                        id="start_time"
                        [(ngModel)]="activAppointment.start_time9"
                        name="start_time"
                        displayFormat="HH:mm"
                        doneText="{{translate.instant('okay')}}"
                        cancelText="{{translate.instant('abbrechen')}}">
          </ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col size-xl="2.6" size-lg="2.6" size-md="2.6" size-sm="2.6" size="2.6" *ngIf="activAppointment.appointment_type<2 && addDate>=9">
        <!-- End Time -->
        <ion-item lines="none">
          <ion-label position="stacked">{{translate.instant('Endzeit')}}</ion-label>
          <ion-datetime required
                        mode="ios"
                        type="time"
                        id="end_time"
                        [(ngModel)]="activAppointment.end_time9"
                        name="end_time"
                        displayFormat="HH:mm"
                        doneText="{{translate.instant('okay')}}"
                        cancelText="{{translate.instant('abbrechen')}}">
          </ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col size-xl="2.2" size-lg="2.2" size-md="2.2" size-sm="2.2" size="2.2" *ngIf="activAppointment.appointment_type<2 && addDate>=9">
          <ion-item lines="none">
            <ion-label position="stacked">{{translate.instant('Erinnerung')}}</ion-label>
            <ion-toggle mode="md" [(ngModel)]="reminder[9]" class="item-border-toggle"></ion-toggle>
            <!-- <ion-button size="small"
                        [ngClass]="getReminderClass(9)"
                        (click)="setReminder(9);"
                        style="margin-top: 30px;">
              <ion-icon name="alert"></ion-icon>
            </ion-button> -->
          </ion-item>
      </ion-col>
      <ion-col size-xl="1.2" size-lg="1.2" size-md="1.2" size-sm="1.2" size="1.2" *ngIf="activAppointment.appointment_type<2 && addDate>=9">
        <ion-item lines="none" class="date-trash-button">
          <ion-button size="small"
                      class="btn-red"
                      (click)="minusDate();">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
    <!-- Row 5 -->
    <ion-row>
      <!-- Notes -->
      <ion-col size-xl="12" size-lg="12" size-md="12" size-sm="12" size="12">
        <ion-item lines="none">
          <ion-label position="floating">{{translate.instant('Notizen')}}</ion-label>
          <ion-textarea required
                        type="text" 
                        rows="3"
                        id="Notiztext"                          
                        name="Notes"
                        [(ngModel)]="activAppointment.notes">
          </ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>

<ion-footer>
	<ion-toolbar class="modalPageFooter">
		<ion-grid>
			<ion-row>
        <ion-col size="3" class="ion-no-padding">
        <ion-button (click)="plusDate()" class="btn-modal-primary" *ngIf="(addDate <= 8)">
            <ion-icon name="alarm"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="6" class="ion-no-padding">
        <ion-button (click)="dismiss()" class="btn-modal-danger">
            <ion-icon name="close"></ion-icon>
          </ion-button>
          &nbsp;&nbsp;&nbsp;
          <ion-button (click)="appointmentEdit()" class="btn-modal-success">
            <ion-icon name="checkmark"></ion-icon>
					</ion-button>
        </ion-col>
        <ion-col size="3" class="ion-no-padding">
        <ion-button (click)="appointmentDeactivate()" class="btn-modal-danger" *ngIf="!itsNew">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ion-col>
			</ion-row>
		</ion-grid>
	</ion-toolbar>
</ion-footer>
