<ion-content>
  <div class="pvs4-login-container">

    <!-- Left panel -->
    <div class="pvs4-login-wrapper">
      <ion-grid class="pvs4-login-inner">    
        <ion-row>
          <div class="pvs4-lang-select">
            <ion-col size="6">
             <div class="logo">
               <img src="assets/imgs/pvs2go-logo.svg" alt="PVS2GO Logo">
             </div>
            </ion-col>
            <ion-col size="6">
              <ion-item lines="none">
                <ion-label position="floating">{{'Sprache' | translate}}</ion-label>
                <ion-select [(ngModel)]="lang"
                            (ionChange)="changeLanguage()"
                            okText="{{'okay' | translate}}"
                            cancelText="{{'dismiss' | translate}}">
                  <ion-select-option value="de">{{'Deutsch' }}</ion-select-option>
                  <ion-select-option value="en">{{'English' }}</ion-select-option>
                  <ion-select-option value="fr">{{'Français' }}</ion-select-option>
                  <ion-select-option value="it">{{'Italiano' }}</ion-select-option>                  
                </ion-select>
              </ion-item>
            </ion-col>
          </div>
        </ion-row>
    
        <ion-row style="margin-top:10px" *ngIf="login_nok && show_hide_err">
          <ion-col>
            <div class="text-center alert alert-danger wrong-log">{{'Ihre Zugangsdaten sind nicht korrekt.' | translate}}</div>
          </ion-col>
        </ion-row>
    
        <form (ngSubmit)="signIn()" [formGroup]="authForm">
          <ion-row *ngIf="construction" class="construct">
            <ion-col>
              <ion-item lines="none">                  
                <ion-icon name="construct"  ></ion-icon><br>
              </ion-item>  
              <ion-item lines="none">   
                <p *ngIf="lang=='de'">
                    Webseite ist in Bearbeitung, vom 20.07.2019 bis zum 21.07.2019. Wir bitten um Ihre Verständnis.
                </p>
                <p *ngIf="lang=='en'">
                    Website is under construction, from 20.07.2019 to 21.07.2019. We ask for your understanding.
                </p>
                <p *ngIf="lang=='fr'">
                    Le site est en construction, du 20.07.2019 au 21.07.2019. Nous vous demandons votre compréhension.
                </p>
                <p *ngIf="lang=='it'">
                    Il sito web è in costruzione, dal 20.07.2019 al 21.07.2019. Vi chiediamo la vostra comprensione.
                </p>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row *ngIf="!construction">
            <ion-col>
              <ion-item lines="none">
                <ion-label position="floating">{{ "E-Mail" | translate }}</ion-label>
                <ion-input type="email" formControlName="pvs4_username" required></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
    
          <ion-row *ngIf="!construction">
            <ion-col>              
              <ion-item lines="none">
                <ion-label position="floating">{{ "Passwort" | translate }}</ion-label>
                <ion-input type="password" formControlName="pvs4_password" required></ion-input>
              </ion-item>            
            </ion-col>
          </ion-row>
    
          <ion-row  *ngIf="!construction" style="margin-top: 10px;margin-bottom: 10px">
            <ion-col>
              <ion-button class="pvs4-btn pvs4-btn-full pvs4-btn-green" [disabled]="!authForm.valid" type="submit">{{ "Login" | translate }} </ion-button>
            </ion-col>
          </ion-row>
        </form>

        <ion-row>
          <ion-col text-center class="pvs4-register-text">
            <a href="https://www.bruggdigital.com/bid_pw_new.php" target="_blank" rel="noopener" class="signup-btn">{{ "Passwort vergessen?" |  translate }}</a>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col text-center class="pvs4-register-text">
            <a href="https://www.bruggdigital.com/bid_reg.php" target="_blank" rel="noopener" class="signup-btn">{{ "Sie haben noch kein Account?" |  translate }}</a>
          </ion-col>
        </ion-row>

        <ion-row class="pvs4-register-text" style="margin-top:20px">
		  <ion-col size="12" style="text-align: center;">
			<span style="color:#aaa;font-size: 16px;">Support</span>
			<br>
			<a *ngIf="lang=='de'" href="tel:+41788869267 ">+41 78 886 92 67 </a>
			<a *ngIf="lang=='en'" href="tel:+41788869267 ">+41 78 886 92 67 </a>
			<a *ngIf="lang=='fr'" href="tel:+41216342021">+41 21 634 20 21 </a>
			<a *ngIf="lang=='it'" href="tel:+41919102400">+41 91 910 24 00 </a>
			<br>
			<a href="https://www.youtube.com/channel/UCUPzbGz5pdCrRtk8Z74yaNg/featured" target="_blank" rel="noopener" class="signup-btn">
				<ion-icon class="youtube" name="logo-youtube"></ion-icon>
			  </a>
          </ion-col>

        </ion-row>             
    
        <ion-row>
          <ion-col size="12" style="max-height: 80px;margin-bottom: 20px; ">
            <div class="logov">
              <span>{{'Ein Produkt von' | translate}}</span>
              <img src="assets/imgs/brugg-lifting-logo.svg" alt="Logo">
            </div>
            <hr>
          </ion-col>
        </ion-row>
    
        <ion-row class="pvs4-login-infobar">
          <ion-col size="5" text-left (click)="imprintModal()"><a>{{ "Impressum" | translate }}</a></ion-col>
          <ion-col size="7" text-right><a href="https://www.brugg.com/portal/pics/Documents/Datenschutzerklaerung-DSGVO-Gruppe-Brugg-10-04-2018-DE.pdf" target="_blank" rel="noopener">{{"Datenschutzerklärung" | translate}} <small>(PDF)</small></a></ion-col>
        </ion-row>

      </ion-grid>
      <span class="version">
        {{'Version' | translate}} {{api.version}}
      </span>
    </div>
    
    <!-- Right panel -->
    <div class="pvs4-info-wrapper" [ngStyle]="{'max-height': winHeight + 'px'}">
      <div class="login-log-container">
        <h1 style="margin-top: 40px">PVS – {{'Die Produktverwaltungssoftware' | translate}}</h1>
        <p style="font-size: 80%; text-align: justify;">
          <strong>{{'WAS IST PVS?' | translate}}</strong><br>
          {{'was-ist-pvs-text' | translate}}
        </p>
        <div class="intro-img">
          <img src="assets/imgs/pvs2login-intro.jpg" alt="PVS2Go">
        </div>        

        <div class="brugg-digital-wrapper">
          <ion-icon name="warning" ></ion-icon>
          <p style="text-align: justify;">
            {{'was-ist-brugg-digital-text-1' | translate}} <br><br>
            {{'was-ist-brugg-digital-text-2' | translate}} <br><br>
            {{'Was ist BRUGG Digital?' | translate}} <br>
            {{'was-ist-brugg-digital-text-3' | translate}} 
          </p>
          <p>
            <a href="https://www.bruggdigital.com/bid_reg.php" target="_blank" rel="noopener">{{'Registrieren Sie sich also zur Nutzung von PVS für Ihre persönliche Brugg-ID.' | translate}}</a>
          </p>
        </div>

        <div class="vorteile">
          <h2>{{'Ihre Vorteile mit PVS' | translate}}</h2>
          <div class="vorteil">
            <div class="vort">
              <img src="assets/imgs/brugg-lifting-pvs-icon-webundapp.png" alt="">
              <p>{{'Im Web oder als App Login auf Desktop, Smartphone und Tablet möglich' | translate}}</p>
            </div>
            <div class="vort">
              <img src="assets/imgs/brugg-lifting-pvs-icon-benutzeroberflaeche.png" alt="">
              <p>{{'Intuitive und klar strukturierte Benutzeroberfläche' | translate}}</p>
            </div>
            <div class="vort">
              <img src="assets/imgs/brugg-lifting-pvs-icon-zeitersparnis.png" alt="">
              <p>{{'Doppelt so schnell dank Produktidentifikation via NFC und QR-Code' | translate}}</p>
            </div>
          </div>
        </div>

        <div class="featuers">
          <div class="feat">
            <h2>PVS.BASIC</h2> 
            <p style="font-size: 80%">{{'Im BASIC-Modul verwalten Brugg Lifting Kunden die eigenen Zurrmittel, Hebemittel und Produktprüfungen' | translate}}</p>
          </div>
          <div class="feat">
            <h2>PVS.PLUS</h2>
            <p style="font-size: 80%">{{'Im PLUS-Modul verwalten und prüfen Unternehmen beliebige Produkt' | translate}}</p>
          </div>
          <div class="feat">
            <h2>PVS.PRO</h2>
            <p style="font-size: 80%">{{'Mit dem PRO-Modul vertreiben Dienstleister und Produkthersteller die PVS-Software an eigene Kunden' | translate}}</p>
          </div>
          <span>{{'Mehr unter' | translate}} <a href="http://pvs.brugglifting.com" target="_blank" title="pvs" alt="pvs">pvs.brugglifting.com</a></span>
        </div>
        
      </div>
    </div>
  </div>
</ion-content>