<ion-content>
  <div class="pvs4-login-container">
    <div class="pvs4-login-wrapper">
      
      <div class="login-intro-text">
        <h1>{{'IHR PVS LOGIN' | translate}}</h1>
      </div>

      <ion-grid class="pvs4-login-inner">
    
        <ion-row>
          <div class="pvs4-lang-select">
            <ion-col size="6">
             <div class="logo">
               <img src="assets/imgs/pvs2go-logo.svg" alt="PVS2GO Logo">
             </div>
            </ion-col>
            <ion-col size="6">
              <ion-item lines="none" class="pvs4-full-select">
                <ion-label position="floating">{{'Sprache' | translate}}</ion-label>
                <ion-select [(ngModel)]="lang"
                            (ionChange)="changeLanguage()"
                            okText="{{'okay' | translate}}"
                            cancelText="{{'dismiss' | translate}}">
                  <ion-select-option value="de" ng-selected="de">Deutsch</ion-select-option>
                  <ion-select-option value="fr" ng-selected="fr">Français</ion-select-option>
                  <ion-select-option value="it" ng-selected="it">Italiano</ion-select-option>
                  <ion-select-option value="en" ng-selected="en">English</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </div>
        </ion-row>
    
        <ion-row style="margin-top:15px" *ngIf="login_nok">
          <ion-col>
            <div class="text-center alert alert-danger wrong-log">{{'Ihre Zugangsdaten sind nicht korrekt.' | translate}}</div>
          </ion-col>
        </ion-row>
    
        <form (ngSubmit)="signIn()" [formGroup]="authForm">
          <ion-row>
            <ion-col>
              <ion-item lines="none">
                <ion-label position="floating">{{ "E-Mail" | translate }}</ion-label>
                <ion-input type="text" formControlName="pvs4_username" required></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
    
          <ion-row>
            <ion-col>              
              <ion-item lines="none">
                <ion-label position="floating">{{ "Passwort" | translate }}</ion-label>
                <ion-input type="password" formControlName="pvs4_password" required></ion-input>
              </ion-item>            
            </ion-col>
          </ion-row>
    
          <ion-row style="margin-top: 10px;margin-bottom: 20px">
            <ion-col>
              <ion-button class="pvs4-btn pvs4-btn-full pvs4-btn-green" type="submit">{{ "Login" | translate }} </ion-button>
              <button style="visibility: hidden" type="submit"></button>
            </ion-col>
          </ion-row>
    
          <ion-row>
            <ion-col text-center class="pvs4-register-text">
              <!-- <a (click)="signUp()" class="signup-btn">{{ "Sie haben noch kein Account? Jetzt registrieren!" |  translate }}</a> -->
              <a href="https://www.bruggdigital.com/bid_reg.php" target="_blank" rel="noopener" class="signup-btn">{{ "Sie haben noch kein Account? Jetzt registrieren!" |  translate }}</a>
            </ion-col>
          </ion-row>
    
        </form>
    
        <ion-row>
          <ion-col>
            <div class="logov">
              <span>{{'Ein Produkt von' | translate}}</span>
              <img src="assets/imgs/brugg-lifting-logo.svg" alt="Logo">
            </div>
            <hr>
          </ion-col>
        </ion-row>
    
        <ion-row class="pvs4-login-infobar" style="margin-bottom: -10px">
          <ion-col size="5" text-left (click)="imprintModal()"><a>{{ "Impressum" | translate }}</a></ion-col>
          <ion-col size="7" text-right><a href="https://www.brugg.com/portal/pics/Documents/Datenschutzerklaerung-DSGVO-Gruppe-Brugg-10-04-2018-DE.pdf" target="_blank" rel="noopener">{{"Datenschutzerklärung" | translate}} <small>(PDF)</small></a></ion-col>
        </ion-row>
    
        <!-- <ion-row class="pvs4-login-infobar2">
          <ion-col>
            <a target="_blank" href="http://www.brugglifting.com/liftingtec/images/downloads/Brugg_PVS3_Manual_EN.pdf">
              {{ "Handbuch" | translate }}
            </a>
            <ion-icon width="100" height="100" name="book"></ion-icon>
          </ion-col>
        </ion-row> -->
    
      </ion-grid>
      <span class="version">
        {{'Version' | translate}} {{api.version}}
      </span>
    </div>
    <div class="pvs4-info-wrapper">
      <div class="login-log-container">
        <h1 style="margin-top: 40px">PVS – {{'Die Produktverwaltungssoftware' | translate}}</h1>
        <p>
          <strong>{{'WAS IST PVS?' | translate}}</strong><br>
          {{'was-ist-pvs-text' | translate}}
        </p>
        <div class="intro-img">
          <img src="assets/imgs/pvs2login-intro.jpg" alt="PVS2Go">
        </div>
        <div class="featuers">
          <div class="feat">
            <h2>PVS.BASIC</h2>
            <p>{{'Im BASIC-Modul verwalten Brugg Lifting Kunden die eigenen Zurrmittel, Hebemittel und Produktprüfungen' | translate}}</p>
          </div>
          <div class="feat">
            <h2>PVS.PLUS</h2>
            <p>{{'Im PLUS-Modul verwalten und prüfen Unternehmen beliebige Produkt' | translate}}</p>
          </div>
          <div class="feat">
            <h2>PVS.PRO</h2>
            <p>{{'Mit dem PRO-Modul vertreiben Dienstleister und Produkthersteller die PVS-Software an eigene Kunden' | translate}}</p>
          </div>
          <span>{{'Mehr unter' | translate}} <a href="http://pvs.brugglifting.com" target="_blank" title="pvs" alt="pvs">pvs.brugglifting.com</a></span>
        </div>
        <div class="vorteile">
          <h2>{{'Ihre Vorteile mit PVS' | translate}}</h2>
          <div class="vorteil">
            <div class="vort">
              <img src="assets/imgs/brugg-lifting-pvs-icon-webundapp.png" alt="">
              <p>{{'Im Web oder als App Login auf Desktop, Smartphone und Tablet möglich' | translate}}</p>
            </div>
            <div class="vort">
              <img src="assets/imgs/brugg-lifting-pvs-icon-benutzeroberflaeche.png" alt="">
              <p>{{'Intuitive und klar strukturierte Benutzeroberfläche' | translate}}</p>
            </div>
            <div class="vort">
              <img src="assets/imgs/brugg-lifting-pvs-icon-zeitersparnis.png" alt="">
              <p>{{'Doppelt so schnell dank Produktidentifikation via NFC und QR-Code' | translate}}</p>
            </div>
          </div>
        </div>
        <div class="brugg-digital-wrapper">
          <h2>{{'Was ist BRUGG Digital?' | translate}}</h2>
          <p>
            {{'was-ist-brugg-digital-text' | translate}} 
          </p>
          <p>
            <a href="https://www.bruggdigital.com/bid_reg.php" target="_blank" rel="noopener">{{'Registrieren Sie sich also zur Nutzung von PVS für Ihre persönliche Brugg-ID.' | translate}}</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</ion-content>