<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{modalTitle}}</ion-title>
  </ion-toolbar>
</ion-header>	

<ion-content>
  <ion-grid style="padding-top: 0px; padding-bottom: 0px; padding-left: 15px; padding-right: 15px;">
    <!-- Row 1 -->
    <ion-row>
        <ion-col size-xl="8" size-lg="8" size-md="8" size-sm="12" size="12">
          <ion-item lines="none">
              <ion-label position="floating" >{{translate.instant('Firma')}}</ion-label>
              <ion-input required
                         type="text" 
                         [(ngModel)]="activCustomer.company"
                         [readonly] = customerDisabled>
              </ion-input>
          </ion-item>
        </ion-col>
        <ion-col size-xl="4" size-lg="4" size-md="4" size-sm="12" size="12">
          <ion-item lines="none">
              <ion-label position="floating" >{{translate.instant('Wertung')}}</ion-label>
              <ion-select required
                          [disabled]="!this.userdata.role_set.edit_customer" 
                          name="Wertung"
                          [(ngModel)]="activCustomer.rating"
                          okText="{{translate.instant('okay')}}"
                          cancelText="{{translate.instant('abbrechen')}}">
                <ion-select-option value="A">A</ion-select-option>
                <ion-select-option value="B">B</ion-select-option>
                <ion-select-option value="C">C</ion-select-option>
                <ion-select-option value="F">F</ion-select-option>
              </ion-select>
          </ion-item>
        </ion-col>
    </ion-row>
    <!-- Row 2 -->
    <ion-row>
        <ion-col size-xl="8" size-lg="8" size-md="8" size-sm="12" size="12">
          <ion-item lines="none">
              <ion-label position="floating" >{{translate.instant('Strasse')}}</ion-label>
              <ion-input type="text" 
                         [disabled]="!this.userdata.role_set.edit_customer"
                         [(ngModel)]="activCustomer.street">
              </ion-input>
          </ion-item>
        </ion-col>
        <ion-col size-xl="4" size-lg="4" size-md="4" size-sm="12" size="12">
          <ion-item lines="none">
              <ion-label position="floating" >{{translate.instant('Postfach')}}</ion-label>
              <ion-input type="text" 
                         [disabled]="!this.userdata.role_set.edit_customer"
                         [(ngModel)]="activCustomer.po_box">
              </ion-input>
           </ion-item>
        </ion-col>
    </ion-row>
    <!-- Row 3 -->
    <ion-row>
      <ion-col size-xl="4" size-lg="4" size-md="4" size-sm="12" size="12">
        <ion-item lines="none">
            <ion-label position="floating" >{{translate.instant('PLZ')}}</ion-label>
            <ion-input type="text"
                       [disabled]="!this.userdata.role_set.edit_customer"
                       [(ngModel)]="activCustomer.zip_code">
            </ion-input>
        </ion-item>
      </ion-col>
      <ion-col size-xl="4" size-lg="4" size-md="4" size-sm="12" size="12">
        <ion-item lines="none">
            <ion-label position="floating" >{{translate.instant('Ort')}}</ion-label>
            <ion-input type="text" 
                       [disabled]="!this.userdata.role_set.edit_customer"
                       [(ngModel)]="activCustomer.place">
            </ion-input>
        </ion-item>
      </ion-col>
      <ion-col size-xl="4" size-lg="4" size-md="4" size-sm="12" size="12">
          <ion-item lines="none">
              <ion-label position="floating" >{{translate.instant('Land')}}</ion-label>
              <ion-input type="text" 
                         [disabled]="!this.userdata.role_set.edit_customer"
                         [(ngModel)]="activCustomer.country">
              </ion-input>
          </ion-item>
      </ion-col>
    </ion-row>
    <!-- Row 4 -->
    <ion-row>
      <ion-col size-xl="4" size-lg="4" size-md="4" size-sm="12" size="12">
        <ion-item lines="none">
          <ion-label position="floating" >{{translate.instant('Kundennummer')}}</ion-label>
          <ion-input required
                     type="text"
                     [disabled]="!this.userdata.role_set.edit_customer"
                     [(ngModel)]="activCustomer.customer_number">
          </ion-input>
        </ion-item>
      </ion-col>
      <ion-col size-xl="4" size-lg="4" size-md="4" size-sm="12" size="12">
        <ion-item lines="none"s>
          <ion-label position="floating" >{{translate.instant('AD-Mitarbeiter')}}</ion-label>
          <ion-select required
                      [disabled]="!this.userdata.role_set.edit_customer"
                      name="selectSales" 
                      id="selectSales"
                      [(ngModel)]="activCustomer.sales"
                      okText="{{translate.instant('okay')}}"
                      cancelText="{{translate.instant('abbrechen')}}">
            <ion-select-option *ngFor="let pr of salesListe" [value]="pr.id">{{pr.first_name + " " + pr.last_name}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size-xl="4" size-lg="4" size-md="4" size-sm="12" size="12">
        <ion-item lines="none">
          <ion-label position="floating" >{{translate.instant('Prüfer')}}</ion-label>
          <ion-select required
                      [disabled]="!this.userdata.role_set.edit_customer"
                      name="selectTester" 
                      id="selectTester"
                      [(ngModel)]="activCustomer.tester"
                      okText="{{translate.instant('okay')}}"
                      cancelText="{{translate.instant('abbrechen')}}">
            <ion-select-option *ngFor="let pr of testerListe" [value]="pr.id">{{pr.first_name + " " + pr.last_name}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <!-- Row 5 -->
    <ion-row>
      <ion-col size="12">
        <ion-item lines="none">
          <ion-label position="floating" >{{translate.instant('Branche')}}</ion-label>
          <ion-select required
                      [disabled]="!this.userdata.role_set.edit_customer"
                      name="selectBranche" 
                      id="selectBranche"
                      [(ngModel)]="activCustomer.sector"
                      okText="{{translate.instant('okay')}}"
                      cancelText="{{translate.instant('abbrechen')}}">
            <ion-select-option *ngFor="let s of Branches" [value]="s.value">{{translate.instant(s.value)}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <!-- Row 6 -->
    <ion-row>
      <ion-col size="12">
        <ion-item lines="none">
          <ion-label position="floating" >{{translate.instant('Telefon')}}</ion-label>
          <ion-input type="text"
                     [disabled]="!this.userdata.role_set.edit_customer"
                     [(ngModel)]="activCustomer.phone">
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <!-- Row 7 -->
    <ion-row>
      <ion-col size="12">
        <ion-item lines="none">
          <ion-label position="floating" >{{translate.instant('E-Mail')}}</ion-label>
          <ion-input type="text"
                     [disabled]="!this.userdata.role_set.edit_customer"
                     [(ngModel)]="activCustomer.email">
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <!-- Row 8 -->
    <ion-row>
      <ion-col size="12">
        <ion-item lines="none">
          <ion-label position="floating" >{{translate.instant('Internet')}}</ion-label>
          <ion-input type="text"
                     [disabled]="!this.userdata.role_set.edit_customer"
                     [(ngModel)]="activCustomer.website"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-item lines="none">
          <ion-label position="floating" >{{translate.instant('Notiz')}}</ion-label>
          <ion-textarea type="text" 
                        rows="5" 
                        [(ngModel)]="activCustomer.note">
          </ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar class="modalPageFooter">
    <ion-grid>
      <ion-row>
        <ion-col size="3" no-padding>
          <ion-button (click)="customerDeactivate()" class="btn-modal-danger" *ngIf="!itsNew" [disabled]="!this.userdata.role_set.edit_customer">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="6" no-padding>
          <ion-button (click)="dismiss()" class="btn-modal-danger">
            <ion-icon name="close"></ion-icon>
          </ion-button>
          &nbsp;&nbsp;&nbsp;
          <ion-button (click)="customerEdit()" class="btn-modal-success">
            <ion-icon name="checkmark"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
