<main-nav aktivPage="NoteDetails" [idCustomer]="idCustomer"></main-nav>

<ion-content>
	<div class="ek-content">
		<div class="container">
			<div class="mt20 content-sm">
				<ion-grid>
					<ion-row>
						<ion-col size-xl="12" size-lg="12" size-md="12" size-sm="12" size="12">					
							<!-- ADMIN -->
							<div class="kunden-col note-admin" style="margin-top: 0px;">
								<div class="table-info">
									<div class="thead">
										<div class="tr table-header">
											<div class="th">{{'Note Details' | translate}}</div>
										</div>
									</div>
									<div class="tbody">
											<div class="tr table-body">
												<div class="td">{{'Titel' | translate}}</div>
												<div class="td">{{activNote.title}}</div>
											</div>
											<div class="tr table-body">
												<div class="td">{{'Firma' | translate}}</div>
												<div class="td">{{activNote.company}}</div>
											</div>
											<div class="tr table-body">
												<div class="td">{{'Verfasser' | translate}}</div>
												<div class="td">{{activNote.name_user}}</div>
											</div>
											<div class="tr table-body">
												<div class="td">{{'Ansprechpartner' | translate}}</div>
												<div class="td">{{activNote.name_contact}}</div>
											</div>
											<div class="tr table-body">
												<div class="td">{{'Datum' | translate}}</div>
												<div class="td">{{activNote.notes_date | date: 'dd.MM.yyyy'}}</div>
											</div>
											<div class="tr table-body">
												<div class="td">{{'Uhrzeit' | translate}}</div>
												<div class="td">{{activNote.notes_date | date: 'HH:mm'}}</div>
											</div>
											<div class="tr table-body">
												<div class="td">{{'Kategorie' | translate}}</div>
												<div class="td">{{activNote.category}}</div>
											</div>
											<div class="tr table-body">
												<div class="td">{{'Notiz' | translate}}</div>
												<div class="td" style="text-align: justify;">{{activNote.notes}}</div>
											</div>
									</div>
								</div>
							</div>			
						</ion-col>	
					</ion-row>	
				</ion-grid>
			</div>	
		</div>
	</div>	
</ion-content>

