.td-lbl {
  height: auto;
  padding: 7px 10px;
  line-height: 32px;
  color: #7a7e81;
  font-size: 14px;
  font-weight: 200;
  border: none !important;
  overflow: hidden;
  -webkit-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative;
  max-width: 200px;
}

.btn-primary:disabled {
  background-color: rgb(136, 177, 221) !important;
}

.ui-accordion .ui-accordion-header {
  -webkit-border-radius: 0 !important;
          border-radius: 0 !important;
  padding: 15px 10px !important;
  &.ui-state-active {
      border: none !important;
  }
  a {
      -webkit-border-radius: 0 !important;
              border-radius: 0 !important;
      padding: 0 !important;
  }
}

.header-buttons {
  height: 100%;
  display: flex;
  ion-button {
    height: 100%;
    padding: 0px 15px;
    margin: 0;
    font-size: 16px;
    --background: var(--ion-color-darkmain);
    &:hover
    {
      --background: rgba(var(--ion-color-darkmain-rgb), 0.6) !important;
    }
  }
  ion-button  + ion-button  {
    margin-left: 10px;
  }
}

.btn-primary {
  background-color: var(--ion-color-primary) !important;
  border-radius: var(--global-radius) !important;
}