
    .th {
        justify-content: left !important;       
        font-size: 17px !important;
        padding-left: 10px !important; 
    }
    
    .td-lbl {
        height: auto;
        padding: 7px 10px;
        line-height: 32px;
        color: #7a7e81;
        font-size: 14px;
        font-weight: 200;
        border: none !important;
        overflow: hidden;
        -webkit-box-flex: 1;
        -o-box-flex: 1;
        box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        position: relative;
        max-width: 200px;
    }

    .whitebox-image {
        background: #fff;
        color: #4a5356;
        padding: 20px;
        width: 100%;
        min-height: 278px;
        border-radius: 3px;
        position: relative;
        text-align: center;
    }

    .btn-primary:disabled {
        background-color: rgb(136, 177, 221) !important;
    }

    button[ion-fab] {
        overflow: visible;
        position: relative;
    
        ion-label {
            position: absolute;
            top: -8px;
            right: 40px;    
            color: black;
            background-color: rgba(139, 138, 138, 0.7);
            line-height: 24px;
            padding: 4px 8px;
            border-radius: 4px;
            font-size: 14px;
            font-family: Arial, Helvetica, sans-serif;
        }
    }    
    .fab{
        contain: layout;
    }

    .ui-accordion .ui-accordion-header a {
        padding: 0.75em !important;
    }
    .ui-accordion-content {
        padding: 0.1em !important;   
        -webkit-border-radius: var(--global-radius);
        border-radius: var(--global-radius);
        .tr:nth-child(2n) {
            background: #f5f7f7;
        }
    }

    .ui-accordion .ui-accordion-header.ui-state-active a {
        color: #7a7e81 !important;
        background: #8bd8f9 !important;
        padding: 0.75em !important;
    }
