app-imprint {
	.iconsize {
		font-size: 2.3em;
		margin-right: 15px;
	}

	.footerIcon {
		font-size: 1.5em !important;
		padding-top: 0px !important;
	}
}

/* page-imprint {
	.impressum {
		h6 {
			color: #0057AF !important;
			font-size: 18px;
		}
		a {
			text-decoration: none;
			color: #0057AF;
		}
	}

	.impressum-info-01 {
		font-size: 14px;
		line-height: 22px;


	}

	.rh-text {
		margin-top: 60px;
		p {
			font-size: 14px;
			line-height: 22px;
		}
	}

	.iconsize {
		font-size: 26px;
	}

	.footerIcon {
        font-size: 1.5em !important;
        padding-top: 0px !important;
    }  
} */