<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{modalTitle}}</ion-title>
  </ion-toolbar>
</ion-header>	

<ion-content>
    <ion-grid style="padding-top: 0px; padding-bottom: 0px; padding-left: 15px; padding-right: 15px;">
      <!-- Row 1 -->
      <ion-row>
          <ion-col size-xl="8" size-lg="8" size-md="8" size-sm="12" size="12">
            <ion-item lines="none">
                <ion-label position="floating">{{translate.instant('Titel')}}</ion-label>
                <ion-input required
                           type="text"
                           [(ngModel)]="activNote.title" >
                </ion-input>
            </ion-item>
          </ion-col>
          <ion-col size-xl="4" size-lg="4" size-md="4" size-sm="12" size="12">
            <ion-item lines="none">
                <ion-label position="floating">{{translate.instant('Firma')}}</ion-label>
                <ion-input type="text"
                           readonly
                           [(ngModel)]="activNote.company">
                </ion-input>
            </ion-item>
          </ion-col>          
      </ion-row>
      <!-- Row 2 -->
      <ion-row>
        <ion-col size-xl="12" size-lg="12" size-md="12" size-sm="12" size="12">
          <ion-item lines="none">
            <ion-label position="floating">{{translate.instant('Ansprechpartner')}}</ion-label>
            <ionic-selectable required
                              item-content
                              [(ngModel)]="selectedContact"
                              [hasVirtualScroll]="true"
                              [items]="userList"
                              itemValueField="id"
                              itemTextField="name"
                              [canSearch]="true"
                              closeButtonSlot="end">
              <ng-template ionicSelectableCloseButtonTemplate>
                <ion-icon name="close" style="font-size: 24px;"></ion-icon>
              </ng-template>
            </ionic-selectable>
          </ion-item>
        </ion-col>       
      </ion-row>
      <!-- Row 3 -->
      <ion-row>
        <ion-col size-xl="4" size-lg="4" size-md="4" size-sm="12" size="12">
          <ion-item lines="none">
              <ion-label position="floating">{{translate.instant('Datum')}}</ion-label>
              <ion-datetime mode="ios" 
                            [(ngModel)]="activNote.notes_date"
                            displayFormat="DD.MM.YYYY"
                            max = {{maxDate}}
                            doneText="{{translate.instant('okay')}}"
                            cancelText="{{translate.instant('abbrechen')}}">
              </ion-datetime>
          </ion-item>
        </ion-col>  
        <ion-col size-xl="4" size-lg="4" size-md="4" size-sm="12" size="12">
          <ion-item lines="none">
              <ion-label position="floating">{{translate.instant('Uhrzeit')}}</ion-label>
              <ion-datetime mode="ios" 
                            [(ngModel)]="activNote.notes_date"
                            displayFormat="HH:mm"
                            max = {{maxDate}}
                            doneText="{{translate.instant('okay')}}"
                            cancelText="{{translate.instant('abbrechen')}}">
              </ion-datetime>
          </ion-item>
        </ion-col> 
        <ion-col size-xl="4" size-lg="4" size-md="4" size-sm="12" size="12">
          <ion-item lines="none">
            <ion-label position="floating">{{translate.instant('Notizkategorie')}}</ion-label>
            <ion-select required
                        [(ngModel)]="activNote.category" 
                        okText="{{translate.instant('okay')}}"
                        cancelText="{{translate.instant('abbrechen')}}">
                <ion-select-option value="1" selected>{{translate.instant('Besuchsberichte')}}</ion-select-option>
                <ion-select-option value="10">{{translate.instant('Disposition')}}</ion-select-option>
                <ion-select-option value="11">{{translate.instant('Neukundenakquise')}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>    
      </ion-row>
      <!-- Row 4 -->
      <ion-row>
        <ion-col size-xl="12" size-lg="12" size-md="12" size-sm="12" size="12">
          <ion-item lines="none">
              <ion-label position="floating">{{translate.instant('Notes')}}</ion-label>     
              <ion-textarea required
                            type="text"
                            rows="5"
                            id="Notiztext"
                            [(ngModel)]="activNote.notes">
              </ion-textarea>
          </ion-item>
        </ion-col>      
      </ion-row>      
  
    </ion-grid>
  </ion-content>

  <ion-footer>
    <ion-toolbar class="modalPageFooter">
      <ion-grid>
        <ion-row>
          <ion-col size="3" class="ion-no-padding">
            <ion-button (click)="noteDeactivate()" class="btn-modal-danger" *ngIf="!itsNew">
              <ion-icon name="trash"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="6" class="ion-no-padding">
            <ion-button (click)="dismiss()" class="btn-modal-danger">
              <ion-icon name="close"></ion-icon>
            </ion-button>
            &nbsp;&nbsp;&nbsp;
            <ion-button (click)="noteEdit()" class="btn-modal-success">
              <ion-icon name="checkmark"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-footer>