app-protocol-opt-edit {
    .color-picker {
        position: absolute !important;
        left: 10px !important;
        top: 6px !important;
    }
    .colorpicker-parent { position: relative; } 
    .color-picker { position: fixed }
    
}

.ui-colorpicker-overlay-panel{
    display: inline-block !important;
}