<main-nav aktivPage="NoteList"
          [idCustomer]="idCustomer"
          [searchText]="columnFilterValues['search_all']"
          (ping)="update($event)"
          autoDisplay="true">
</main-nav>

<div class="ek-content" (window:resize)="onResize($event)">

    <div id="heightCalc"
         class="heightCalc"
         #divHeightCalc>
    </div>
    <p-treeTable [value]="noteListView"
                 [columns]="selectedColumns"
                 dataKey="id"
                 styleClass="ui-treetable-scrollable-body"
                 [resizableColumns]="true"
                 [scrollable]="true"
                 [paginator]="false" 
                 [rows]="rowCount" 
                 [scrollHeight]="heightCalc"
                 [virtualRowHeight]="rowHeight"
                 [virtualScroll]="true"
                 selectionMode="checkbox"
                 [(selection)]="selectedNode"
                 [lazy]="true"
                 (onLazyLoad)="loadNodes($event)"  
                 [loading]="false" 
                 [totalRecords]="rowRecords"
                 columnResizeMode="fit"
                 [reorderableColumns]="true" 
                 (onColReorder)="onColReorder($event)"
                 (onColResize)="onColResize($event)"
                 [sortField] = "sortedColumn['sort_field']"
                 [sortOrder] = "sortedColumn['sort_order']">    
        <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
                <col [hidden]="!workMode" [ngStyle]="{width: selectedColumns[0].width}">
                <col *ngFor="let col of selectedColumns.slice(1);" [ngStyle]="{width: col.width}">
            </colgroup>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngIf="selectMode" style="padding: 0px 10px !important;">                       
                    <ion-button size="small" *ngIf="selectedNode.length>0" class="btn btn-danger btn-sm" (click)="deSelectAll()" style="font-size: smaller;">
                        <ion-icon name="ios-close-circle-outline"></ion-icon>
                    </ion-button> 
                </th>  
                <th *ngIf="!selectMode" class="workColumn" [hidden]="!workMode">
                    <div class="workWidthfix"></div>
                </th>               
                <th *ngFor="let col of selectedColumns.slice(1);" 
                    ttResizableColumn 
                    [ttSortableColumn]="col.field" 
                    ttReorderableColumn>
                    {{col.header}}
                    <p-treeTableSortIcon [field]="col.field"></p-treeTableSortIcon>
                </th>
            </tr>
            <tr [hidden]="!splitFilter">
                <th class="workColumn" [hidden]="!workMode">
                    <div class="workWidthfix"></div>
                </th> 
                <th *ngFor="let col of selectedColumns.slice(1); let i = index"
                    nowrap
                    [ngSwitch]="col.field" 
                    class="p-table-filter">
                    <input pInputText
                           type="text"
                           class="filter-search"
                           (input)="search_all()"
                           [(ngModel)]="columnFilterValues[col.field]">
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body"
                     let-rowNode
                     let-rowData="rowData"
                     let-columns="columns">
            <tr>
                <td class="workColumn" [hidden]="!workMode" >     
                    <div class="workWidthfix">
                        <ion-button [hidden]="!editMode" class="btn btn-success" size="small"  (click)="editNote(rowData)">
                            <ion-icon name="create"></ion-icon>
                        </ion-button>
                        <p-treeTableCheckbox [value]="rowNode" *ngIf="selectMode"></p-treeTableCheckbox>        
                    </div>                                
                </td>
                <td *ngFor="let col of selectedColumns.slice(1); let i = index" 
                    style="text-align: justify;" 
                    (click)="viewNote(col,rowData)"
                    [ngClass]="{'link_eye': (col.field == 'title')}" >
                    <label *ngIf="(col.field != 'title')">{{rowData[col.field]}}</label>
                    <div class="link" *ngIf="(col.field == 'title')" >{{rowData[col.field]}}</div>  
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="loadingbody" let-columns="columns">
            <tr style="height:34px">
                <td  class="workColumn" [hidden]="!workMode"></td>
                <td *ngFor="let col of selectedColumns.slice(1)">
                    <div class="loading-text"></div>
                </td>
            </tr>
        </ng-template>
    </p-treeTable>
</div>

<ion-fab [hidden]="!workMode" vertical="bottom" horizontal="end" slot="fixed" class="liftiball liftiball-cancel">
    <!-- BUTTON -->
    <ion-fab-button *ngIf="deleteMode && selectMode && (selectedNode.length>0)" color="danger" title="{{'Löschen' | translate}}" (click)="noteDeactivate();">
        <ion-icon name="trash"></ion-icon>
    </ion-fab-button>
    <ion-fab-button *ngIf="pdfMode" color="warning" title="{{'PDF Export' | translate}}" (click)="pdf_export();">
        <ion-icon name="download"></ion-icon>
    </ion-fab-button>
    <ion-fab-button *ngIf="excelMode" color="warning" title="{{'XLS Export' | translate}}" (click)="excel_export();">
        <ion-icon name="stats"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="danger" title="{{'abbrechen' | translate}}" (click)="work_mode(0);">
        <i class="fas fa-times"></i>
    </ion-fab-button>
</ion-fab>

<ion-fab [hidden]="workMode" vertical="bottom" horizontal="end" slot="fixed" class="liftiball">
    <ion-fab-button color="tertiary">
        <ion-icon name="menu"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
        <!-- BUTTON -->
        <ion-fab-button color="success"
                        title="{{'Neu' | translate}}"
                        (click)="menu_new()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
        <!-- BUTTON -->
        <ion-fab-button color="success"
                        title="{{'Bearbeiten' | translate}}"
                        (click)="work_mode(1)">
            <ion-icon name="create"></ion-icon>
        </ion-fab-button>
        <!-- BUTTON -->
        <ion-fab-button color="danger"
                        title="{{'Löschen' | translate}}"
                        (click)="work_mode(2)">
            <ion-icon name="trash"></ion-icon>
        </ion-fab-button>
        <!-- BUTTON -->
        <ion-fab-button color="primary"
                        title="{{'Spalten' | translate}}"
                        (click)="show_columns()">
            <ion-icon name="grid"></ion-icon>
        </ion-fab-button>
        <!-- BUTTON -->
        <ion-fab-button color="primary"
                        title="{{'Cancel filters' | translate}}"
                        (click)="cancel_filters(2)">
            <ion-icon name="eye-off"></ion-icon>
        </ion-fab-button>
        <!-- BUTTON -->
        <ion-fab-button color="warning"
                        title="{{'PDF Export' | translate}}"
                        (click)="work_mode(3)">
            <ion-icon name="download"></ion-icon>
        </ion-fab-button>
        <!-- BUTTON -->
        <ion-fab-button color="warning"
                        title="{{'XLS Export' | translate}}"
                        (click)="work_mode(4)">
            <ion-icon name="stats"></ion-icon>
        </ion-fab-button>
    </ion-fab-list>
</ion-fab>

<bottom-nav></bottom-nav>