<main-nav aktivPage="AppointmentplanPage"></main-nav>

<div class="ek-content" style="margin-top: 10px; overflow-x: auto;">
    <div class="container container-fix container-bg">
			<full-calendar #calendar 
						   defaultView="dayGridMonth" 
						   [events]="events" 
						   [editable]="true"
						   class="calendar"
						   deepChangeDetection="true"
						   [plugins]="calendarPlugins"
						   [header] = "headers"
						   [locale] = "lang"
						   [locales] = "locales"
						   minTime = "06:00:00"
						   maxTime = "19:00:00"
						   weekHeader = "dd"
						   dateFormat = "dd.mm.yy"
						   allDaySlot = "false"
						   firstDay = "1"
						   eventLimit = "false"
						   timeFormat = "HH:mm"
						   [businessHours] = "businessHours"
						   (datesRender)="loadEvents($event)"
						   (eventClick)="handleEventClick($event)"
						   (eventDrop)="updateEvent($event)">
			</full-calendar>
	</div>		
</div>

<ion-fab slot="fixed" horizontal="end" vertical="bottom">
	<ion-item *ngIf="viewMode>0" class="peopleFilter">  
		<ion-label position="floating">{{translate.instant('Filter')}}</ion-label>
		<ion-select [(ngModel)]="peopleFilter" 
								okText="{{translate.instant('okay')}}" 
								(ionChange)="changeFilter()"
								cancelText="{{translate.instant('abbrechen')}}">
			<ion-select-option value="none">{{translate.instant('Alle Mitarbeiter')}}</ion-select-option>
			<ion-select-option *ngFor="let p of people" [value]="p.email">{{p.first_name + " " + p.last_name}}</ion-select-option>
		</ion-select>                  
	</ion-item>
	<ion-fab-button color="tertiary">
		<ion-icon name="menu"></ion-icon>
	</ion-fab-button>
	<ion-fab-list side="top">
		<ion-fab-button 
				(click)="newAppointment()" 
				color="primary"
				(mouseover)="mouseover(1)"
				(mouseout)="mouseout(1)"
				[class.mouse-over]="mouseoverButton1"
				[labelFab]="'Termin hinzufügen'">				
			<ion-icon name="add"></ion-icon>
		</ion-fab-button>
		<ion-fab-button 
				(click)="setView(0);" 
				color="primary"
				(mouseover)="mouseover(2)"
				(mouseout)="mouseout(2)"
				[class.mouse-over]="mouseoverButton2"
				[labelFab]="'Meine Termine'">  				
			<ion-icon name="calendar"></ion-icon>
		</ion-fab-button>
		<ion-fab-button 
				(click)="setView(1);" 
				color="primary"
				(mouseover)="mouseover(3)"
				(mouseout)="mouseout(3)"
				[class.mouse-over]="mouseoverButton3"
				[labelFab]="'Kundenbesuch'">				
			<ion-icon name="people"></ion-icon>
		</ion-fab-button>
		<ion-fab-button 					
				(click)="setView(2);" 
				color="primary"
				(mouseover)="mouseover(4)"
				(mouseout)="mouseout(4)"
				[class.mouse-over]="mouseoverButton4"
				[labelFab]="'Prüfung'">				
			<ion-icon name="eye"></ion-icon>
		</ion-fab-button>
		<ion-fab-button 					
				(click)="setView(3);" 
				color="primary"
				(mouseover)="mouseover(5)" 
				(mouseout)="mouseout(5)"
				[class.mouse-over]="mouseoverButton5"
				[labelFab]="'Urlaub'">				
			<ion-icon name="cafe"></ion-icon>
		</ion-fab-button>
	</ion-fab-list>
</ion-fab>

