<main-nav aktivPage="ProductEdit" [idCustomer]="idCustomer" [company]="company"></main-nav>

<ion-content>
	<div class="ek-content">
		<div class="container">
      <div class="mt20 content-sm">				
        <ion-grid>  
          <ion-row>                    
            <!-- Product Image -->
            <ion-col size-md="3" size="12">
                <div class="table-responsive" id="ps_product">
                  <div class="table table-striped" id="product-template">
                    <div class="thead">
                      <div class="tr table-header">
                          <div class="th">{{'Produktbild' | translate}}</div>
                      </div>
                    </div>    
                    <div class="tbody">
                        <div class="tr table-subheader table-subheader-fix">                         
                          <div class="table-subheader-buttons">
                            <ion-button small
                                    (click)="getImage()">
                              <ion-icon name="folder-open"></ion-icon>
                            </ion-button>   
                            <ion-button small
                                    (click)="getCamera()"
                                    [disabled]="!mobilePlatform">
                              <ion-icon name="camera"></ion-icon>
                            </ion-button> 
                          </div>
                        </div>
                       <div class="whitebox-image">
                        <img *ngIf="activProduct.images" src="{{activProduct.images}}?{{nocache}}">
                      </div> 
                    </div>    
                  </div>
                </div>   
            </ion-col>            

            <ion-col size-md="4" size="12">
              <!-- TEMPLATES -->
              <div class="table-responsive" id="ps_product-template">
                <div class="table table-striped" id="product-template">
                  <div class="thead">
                    <div class="tr table-header">
                      <div class="th">
                        {{'Produktvorlage' | translate}}
                      </div>
                      <div class="table-header-buttons">
                        <ion-button small
                                (click)="down_click()"
                                [disabled]="downClick == 1"  >
                          <i class="fas fa-sort-alpha-down"></i>
                        </ion-button>
                        <ion-button small
                                (click)="down_click()"
                                [disabled]="downClick == 0"  >
                          <i class="fas fa-sort-alpha-up"></i>
                        </ion-button> 
                      </div>
                    </div>
                    <div class="tbody">
                      <div class="tr table-subheader table-subheader-fix">
                        <div class="table-subheader-buttons">                              
                          <ion-button small class="btn-red"
                                  (click)="templateDeactivate()"
                                  [disabled]="selectTemplate == 0">
                                  <ion-icon name="trash"></ion-icon>
                          </ion-button>  
                          <ion-button small 
                                  (click)="edit_template()" 
                                  [disabled]="selectTemplate == 0">
                            <ion-icon name="create"></ion-icon>
                          </ion-button> 
                          <ion-button small 
                                  (click)="move_right()"
                                  [disabled]="selectTemplate == 0">
                            <ion-icon name="arrow-round-forward"></ion-icon>
                          </ion-button>
                        </div>
                        <div class="search-search">
                          <ion-input type="text" placeholder="{{'Suche' |translate }}" [(ngModel)]="searchText" (input)="search_all()"></ion-input> 
                        </div> 
                      </div>
                      <div style="max-height: 518px; overflow-x: auto;"> 
                        <div style="padding: 10px; cursor: pointer;">
                            <div class="product-edit-item" 
                                 *ngFor="let group of templates; let opdInd = index"  
                                 (click)="onclickTemplate(group.id)"
                                 [ngClass]="selectedTemplate[group.id]!=0 ? 'selectTemplate' : 'unselectTemplate'">

                              <div class="group-handle">  
                                <span class="group-handle">{{group.title[lang]}}</span>                                      
                              </div>
                            </div>                                               
                        </div>                     
                      </div> 
                    </div>
                  </div>
                </div>
              </div>
            </ion-col>

            <ion-col size-md="5" size="12">
              <!-- Product -->
              <div class="table-responsive" id="ps_product">
                <div class="table table-striped" id="product-template">
                  <div class="thead">
                    <div class="tr table-header">
                      <div class="th">
                        {{'Produkt' | translate}}
                      </div>
                      <div class="table-header-buttons">
                        <ion-button small class="btn-red"
                                (click)="productDeactivate()">
                          <ion-icon name="trash"></ion-icon>
                        </ion-button>        
                        <ion-button small
                                (click)="dismiss()">
                          <ion-icon name="close"></ion-icon>
                        </ion-button> 
                      </div>
                    </div>
                  </div>  
                  <div class="tbody">
                    <div class="tr table-subheader table-subheader-fix">
                        <div class="table-subheader-buttons">
                          <ion-button small 
                                  (click)="new_Option()" >
                            <ion-icon name="add"></ion-icon>
                          </ion-button>            
                          <ion-button small 
                                  (click)="productEdit()" >
                            <ion-icon name="checkmark"></ion-icon>
                          </ion-button>
                        </div>
                      </div>
                    <div style="max-height: 518px; overflow-x: auto;">
                      <div class="container" style="padding: 0px 20px 20px 20px">
                        <!-- Row 1 -->
                        <ion-row>
                            <ion-col size="12">
                              <ion-item>
                                <ion-label position="floating">{{'Titel' | translate}}</ion-label>
                                <ion-input type="text" 
                                           [ngClass]="{required:inputError}" 
                                           [(ngModel)]="activProduct.title[lang]"
                                           readonly="true" 
                                           (click)="promptOptionTitle(activProduct.title,1,0)">
                                </ion-input>
                            </ion-item>
                            </ion-col>  
                        </ion-row>
                        <!-- Row 2 -->
                        <ion-row>
                        <ion-col size="4" size-md="4">
                            <ion-item>
                                <ion-label position="floating">ID Number</ion-label>
                                <ion-input type="text" [ngClass]="{required:inputError}" [(ngModel)]="activProduct.id_number"></ion-input>
                            </ion-item>
                          </ion-col>
                          <ion-col size="4" size-md="4">
                              <ion-item>
                                  <ion-label position="floating">Artikel-Nr.</ion-label>
                                  <ion-input type="text" [ngClass]="{required:inputError}" [(ngModel)]="activProduct.articel_no"></ion-input>
                              </ion-item>
                          </ion-col>    
                          <ion-col size="12" size-md="4">
                            <ion-item>
                              <ion-label position="floating">{{'Intervall Prüfen' | translate}}</ion-label>
                              <ion-select value="activProduct.check_interval"
                                          okText="{{translate.instant('okay')}}"
                                          cancelText="{{translate.instant('dismiss')}}">
                                          <ion-select-option value = 0> {{translate.instant('kein Intervall')}} </ion-select-option>
                                          <ion-select-option value = 3> 3 {{translate.instant('Monate')}} </ion-select-option>
                                          <ion-select-option value = 6> 6 {{translate.instant('Monate')}}</ion-select-option>
                                          <ion-select-option value = 12> 12 {{translate.instant('Monate')}}</ion-select-option>
                                          <ion-select-option value = 24> 24 {{translate.instant('Monate')}}</ion-select-option>
                                          <ion-select-option value = 36> 36 {{translate.instant('Monate')}}</ion-select-option>
                              </ion-select> 
                            </ion-item>
                          </ion-col>       
                        </ion-row>
                        <!-- Row 3 -->
                        <ion-row *ngFor="let item of activProduct.items">
                           <ion-col size="12" size-md="8" *ngIf="item.type == 0">
                                    <ion-item>
                                        <ion-label>{{item.title[lang]}}</ion-label>                                         
                                        <ion-toggle [(ngModel)]="item.value" color="{{item.options.color}}"> </ion-toggle>                                         
                                    </ion-item>
                            </ion-col> 
                             <ion-col size="12" size-md="8" *ngIf="item.type == 1">
                                <ion-item>
                                    <ion-label position="floating">{{item.title[lang]}}</ion-label>
                                    <ion-select class="form-control" 
                                    value="item.value"
                                                okText="{{translate.instant('okay')}}"
                                                cancelText="{{translate.instant('dismiss')}}">
                                                <ion-select-option *ngFor="let option of item.options" >{{option[lang]}}</ion-select-option>
                                    </ion-select> 
                                </ion-item>
                            </ion-col>  
                            <ion-col size="12" size-md="8" *ngIf="item.type == 2">
                                <ion-item>
                                    <ion-label position="floating">{{item.title[lang]}}</ion-label>
                                    <ion-textarea [ngClass]="{required:inputError}" [(ngModel)]="item.value" max="{{item.options.max}}" >
                                  </ion-textarea> 
                                </ion-item>
                            </ion-col> 
                            <ion-col size="12" size-md="8" *ngIf="item.type == 3">
                                <ion-item>
                                    <ion-label position="floating">{{item.title[lang]}}</ion-label>
                                    <ion-input type="text" (keydown)="keyDown($event)" [(ngModel)]="item.value" min="{{item.options.min}}" max="{{item.options.max}}"> </ion-input>
                                </ion-item>
                            </ion-col> 
                            <ion-col size="12" size-md="8" *ngIf="item.type == 4">
                              <ion-item>
                                  <ion-label position="floating">{{item.title[lang]}}</ion-label>
                                      <ion-datetime 
                                            [ngClass]="{required:fehler}"
                                            type="time"
                                            [(ngModel)]="item.value"
                                            name="time" 
                                            required="true"
                                            displayFormat="HH:mm"
                                            doneText="{{translate.instant('okay')}}" 
                                            cancelText="{{translate.instant('dismiss')}}">
                                      </ion-datetime>  
                              </ion-item>
                          </ion-col> 
                          <ion-col size="12" size-md="8" *ngIf="item.type == 5">
                            <ion-item>
                                <ion-label position="floating">{{item.title[lang]}}</ion-label>
                                <ion-datetime [ngClass]="{required:inputError}" 
                                      [(ngModel)]="item.value"
                                      displayFormat="DD.MM.YYYY"
                                      max = {{maxDate}}
                                      doneText="{{translate.instant('okay')}}"
                                      cancelText="{{translate.instant('dismiss')}}">
                                </ion-datetime>
                            </ion-item>
                          </ion-col> 
                        </ion-row>
                      </div>
                    </div>
                  </div>                                                      
                </div>                
              </div>     
              <!-- Error -->
              <div [hidden]="inputError" class="fehler">
                  <div>
                      &nbsp;
                  </div>
                </div>
                <div [hidden]="!inputError" class="pfehler" style="margin-top: 15px; margin-left: 5px;">
                  <div class="highlightFehler">
                    {{translate.instant('Bitte füllen Sie alle Pflichtfelder aus.')}}
                  </div>
              </div>  
            </ion-col> 
          </ion-row> 
        </ion-grid>	
      </div>        
		</div>
  </div>	   
</ion-content>


