<main-nav aktivPage="ProductEdit" [idCustomer]="idCustomer" ></main-nav>

<ion-content>
	<div class="ek-content">
		<div class="container">
      <div class="mt20 content-sm">				
        <ion-grid>  
          <ion-row>
            <!-- TEMPLATES -->
            <ion-col size-xl="6" size-lg="6" size-md="12" size-sm="12" size="12">              
              <div class="table-responsive" >
                <div class="table table-striped" >
                  <div class="thead">
                    <div class="tr table-header">
                      <div class="th">
                        {{'Produktvorlage' | translate}}
                      </div>
                    </div>
                    <div class="tbody">
                      <div class="tr table-subheader table-subheader-fix">
                        <div class="table-subheader-buttons">                              
                          <ion-button size="small" 
                                      class="btn-red"
                                      (click)="templateDeactivate()"
                                      *ngIf="edit_product_templates" 
                                      [disabled]="selectTemplate == 0">
                                  <ion-icon name="trash"></ion-icon>
                          </ion-button>  
                          <ion-button size="small" 
                                      (click)="edit_template()" 
                                      *ngIf="edit_product_templates" 
                                      [disabled]="selectTemplate == 0">
                            <ion-icon name="create"></ion-icon>
                          </ion-button> 
                          <ion-button size="small" 
                                      (click)="move_right()"
                                      [disabled]="selectTemplate == 0">
                            <ion-icon name="arrow-round-forward"></ion-icon>
                          </ion-button>
                          <ion-button size="small"
                                      (click)="down_click()"
                                      [disabled]="downClick == 1">
                            <i class="fas fa-sort-alpha-down"></i>
                          </ion-button>
                          <ion-button size="small"
                                      (click)="down_click()"
                                      [disabled]="downClick == 0"
                                      style="padding-right: 10px;">
                            <i class="fas fa-sort-alpha-up"></i>
                          </ion-button> 
                        </div>
                        <div class="search-search">
                          <ion-input type="text" 
                                     placeholder="{{'Suche' |translate }}"
                                     [(ngModel)]="searchText"
                                     (input)="search_all()">
                          </ion-input> 
                        </div> 
                      </div>
                      <div style="max-height: 529px; overflow-x: auto;"> 
                        <div style="padding: 10px; cursor: pointer; background: white;">
                            <div class="product-edit-item" 
                                 *ngFor="let group of templates; let opdInd = index"  
                                 (click)="onclickTemplate(group.id, opdInd)"
                                 [ngClass]="selectedTemplate[group.id]!=0 ? 'selectTemplate' : 'unselectTemplate'">
                              <div class="group-handle">  
                                <span class="group-handle">{{group.title[lang]}}</span>                                      
                              </div>
                            </div>                                               
                        </div>                     
                      </div> 
                    </div>
                  </div>
                </div>
              </div>
            </ion-col>            
             <!-- Product -->   
            <ion-col size-xl="6" size-lg="6" size-md="12" size-sm="12" size="12">                                      
              <div class="table-responsive" id="ps_product">
                <div class="table table-striped" id="product-template">
                  <div class="thead">
                    <div class="tr table-header">
                      <div class="th">
                        {{'Produkt' | translate}}
                      </div>
                    </div>
                  </div>  
                  <div class="tbody">
                    <div class="tr table-subheader table-subheader-fix">
                        <div class="table-subheader-buttons">
<!--                           <button ion-button small 
                                  (click)="new_Option()" >
                            <ion-icon name="add"></ion-icon>
                          </button>     -->        
                          <ion-button size="small" 
                                      class="btn-red"
                                     (click)="productDeactivate()"
                                     [disabled] = "!activProduct.id">
                            <ion-icon name="trash"></ion-icon>
                          </ion-button>   
                          <ion-button size="small" 
                                      (click)="productEdit()" >
                            <ion-icon name="checkmark"></ion-icon>
                          </ion-button>
                          <ion-button size="small"
                                      (click)="dismiss()">
                            <ion-icon name="close"></ion-icon>
                          </ion-button> 
                        </div>
                    </div>
                    <div style="max-height: 529px; overflow-x: auto;">
                      <div class="container" style="padding: 0px 10px 10px 10px; background: white;">
                        <!-- Row 1 -->
                        <ion-row>
                            <ion-col size="12">                                
                              <ion-item lines="none">                                
                                <ion-label position="floating">{{'Titel' | translate}}</ion-label>
                                <ion-input type="text"                                              
                                           [(ngModel)]="activProduct.title[lang]"
                                           readonly="true" 
                                           (click)="promptOptionTitle(activProduct.title,1,0)">
                                </ion-input>
                            </ion-item>
                            </ion-col>  
                        </ion-row>
                        <!-- Row 2 -->
                        <ion-row>
                        <ion-col size="12" size-md="3">
                            <ion-item lines="none">
                                <ion-label position="floating">{{'ID-Nummer' | translate}}</ion-label>
                                <ion-input required="true"
                                           type="text"                                                                          
                                           [(ngModel)]="activProduct.id_number">
                                </ion-input>
                            </ion-item>
                          </ion-col>
                          <ion-col size="12" size-md="3">
                              <ion-item lines="none">
                                  <ion-label position="floating">{{'Artikel-Nr.' | translate}}</ion-label>
                                  <ion-input type="text"
                                             [(ngModel)]="activProduct.articel_no">
                                  </ion-input>
                              </ion-item>
                          </ion-col>    
                          <ion-col size="12" size-md="6">
                            <ion-item lines="none">
                              <ion-label position="floating">{{'Intervall Prüfen' | translate}}</ion-label>
                              <ion-select required="true"
                                          [(ngModel)]="activProduct.check_interval"
                                          okText="{{translate.instant('okay')}}"
                                          cancelText="{{translate.instant('abbrechen')}}">
                                <ion-select-option [value] = "0"> {{translate.instant('kein Intervall')}} </ion-select-option>
                                <ion-select-option [value] = "3"> 3 {{translate.instant('Monate')}} </ion-select-option>
                                <ion-select-option [value] = "6"> 6 {{translate.instant('Monate')}}</ion-select-option>
                                <ion-select-option [value] = "12"> 12 {{translate.instant('Monate')}}</ion-select-option>
                                <ion-select-option [value] = "24"> 24 {{translate.instant('Monate')}}</ion-select-option>
                                <ion-select-option [value] = "36"> 36 {{translate.instant('Monate')}}</ion-select-option>
                              </ion-select> 
                            </ion-item>
                          </ion-col>
                          <ion-col size="12">
                            <ion-item lines="none">
                                <ion-label position="floating">{{'Kundenbezeichnung' | translate}}</ion-label>
                                <ion-input type="text"
                                           [(ngModel)]="activProduct.customer_description">
                                </ion-input>
                            </ion-item>
                          </ion-col>    
                        </ion-row>
                        <!-- Row 3 -->
                        <ion-row *ngFor="let item of activProduct.items">
                          <ion-col size="7" size-md="9" *ngIf="item.type == 0" style="padding-top: 15px;">
                              <ion-item lines="none" class="item-border">
                                  <ion-label>{{item.title[lang]}}</ion-label>
                                  <ion-toggle required="{{item.mandatory}}"
                                              [(ngModel)]="item.value"
                                              color="{{item.options.color}}">
                                  </ion-toggle>
                              </ion-item>
                            </ion-col>
                            <ion-col size="7" size-md="9" *ngIf="item.type == 1">
                              <ion-item lines="none">
                                  <ion-label *ngIf="item.title[lang] != ''" position="floating">{{item.title[lang]}}</ion-label>
                                  <ion-select required="{{item.mandatory}}"
                                              class="form-control"
                                              [(ngModel)]="item.value"
                                              okText="{{translate.instant('okay')}}"
                                              cancelText="{{translate.instant('abbrechen')}}">
                                    <ion-select-option *ngFor="let option of item.options" >{{option[lang]}}</ion-select-option>
                                  </ion-select> 
                              </ion-item>
                            </ion-col>  
                            <ion-col size="5" size-md="3" *ngIf="item.type == 1" style="padding-top: 24px;">
                              <ion-item lines="none" class="item-border">
                                <ion-label>{{"Basis"|translate}}</ion-label>
                                <ion-toggle [(ngModel)]="item.base" ></ion-toggle>
                              </ion-item>
                            </ion-col>  
                            <ion-col size="7" size-md="9" *ngIf="item.type == 2">
                              <ion-item lines="none">
                                  <ion-label *ngIf="item.title[lang] != ''" position="floating">{{item.title[lang]}}</ion-label>
                                  <ion-textarea required="{{item.mandatory}}"
                                                [(ngModel)]="item.value"
                                                maxlength="{{item.options.max}}">
                                </ion-textarea> 
                              </ion-item>
                            </ion-col>
                            <ion-col size="5" size-md="3" *ngIf="item.type == 2" style="padding-top: 24px;">
                              <ion-item lines="none" class="item-border">
                                <ion-label>{{"Basis"|translate}}</ion-label>
                                <ion-toggle [(ngModel)]="item.base" ></ion-toggle>
                              </ion-item>
                            </ion-col> 
                            <ion-col size="7" size-md="9" *ngIf="item.type == 3">
                                <ion-item lines="none">
                                  <ion-label *ngIf="item.title[lang] != ''" position="floating">{{item.title[lang]}}</ion-label>
                                  <ion-input required="{{item.mandatory}}"
                                              type="text" 
                                              (keydown)="keyDown($event)" 
                                              [(ngModel)]="item.value"
                                              min="{{item.options.min}}" 
                                              max="{{item.options.max}}">
                                  </ion-input>
                                </ion-item>
                            </ion-col>
                            <ion-col size="5" size-md="3" *ngIf="item.type == 3" style="padding-top: 24px;">
                              <ion-item lines="none" class="item-border">
                                  <ion-label>{{"Basis"|translate}}</ion-label>
                                  <ion-toggle [(ngModel)]="item.base" ></ion-toggle>
                              </ion-item>
                            </ion-col> 
                            <ion-col size="7" size-md="9" *ngIf="item.type == 4">
                              <ion-item lines="none">
                                <ion-label *ngIf="item.title[lang] != ''" position="floating">{{item.title[lang]}}</ion-label>
                                <ion-datetime  mode="ios"  required="{{item.mandatory}}"
                                              type="time"
                                              [(ngModel)]="item.value"
                                              name="time" 
                                              displayFormat="HH:mm"
                                              doneText="{{translate.instant('okay')}}" 
                                              cancelText="{{translate.instant('abbrechen')}}">
                                </ion-datetime>  
                              </ion-item>
                            </ion-col>
                            <ion-col size="5" size-md="3" *ngIf="item.type == 4" style="padding-top: 24px;">
                              <ion-item lines="none" class="item-border">
                                <ion-label>{{"Basis"|translate}}</ion-label>
                                <ion-toggle [(ngModel)]="item.base" ></ion-toggle>
                              </ion-item>
                          </ion-col> 
                          <ion-col size="7" size-md="9" *ngIf="item.type == 5">
                            <ion-item lines="none">
                              <ion-label *ngIf="item.title[lang] != ''" position="floating">{{item.title[lang]}}</ion-label>
                              <ion-datetime mode="ios" required="{{item.mandatory}}"
                                            [(ngModel)]="item.value"
                                            displayFormat="DD.MM.YYYY"
                                            max = {{maxDate}}
                                            doneText="{{translate.instant('okay')}}"
                                            cancelText="{{translate.instant('abbrechen')}}">
                              </ion-datetime>
                            </ion-item>
                          </ion-col>
                          <ion-col size="5" size-md="3" *ngIf="item.type == 5" style="padding-top: 24px;">
                            <ion-item lines="none" class="item-border">
                              <ion-label>{{"Basis"|translate}}</ion-label>
                              <ion-toggle [(ngModel)]="item.base" ></ion-toggle>
                            </ion-item>
                          </ion-col> 
                          <ion-col size="4" size-md="4" *ngIf="item.type == 6">
                            <ion-item lines="none">
                                <ion-label position="floating">Lat</ion-label>
                                <ion-input required="{{item.mandatory}}"
                                           type="text" 
                                           (keydown)="keyDownNumber($event)" 
                                           [(ngModel)]="item.value.lat"
                                           min="-90" 
                                           max="90">
                                </ion-input>
                            </ion-item>
                        </ion-col> 
                        <ion-col size="4" size-md="4" *ngIf="item.type == 6">
                            <ion-item lines="none">
                                <ion-label position="floating">Long</ion-label>
                                <ion-input required="{{item.mandatory}}"
                                            type="text" 
                                            (keydown)="keyDownNumber($event)" 
                                            [(ngModel)]="item.value.long"
                                            min="-180" 
                                            max="180">
                                </ion-input>
                            </ion-item>
                        </ion-col> 
                        <ion-col size="4" size-md="4" *ngIf="item.type == 6">
                            <ion-item lines="none">
                                <ion-button (click)="getGps(item.value)"
                                            style="margin-top: 28px; width: 50px; height: 30.90px;"
                                            [disabled]="!mobilePlatform">
                                  <ion-icon name="locate"></ion-icon> 
                                </ion-button>
                                &nbsp;&nbsp;
                                <ion-button (click)="openMap(item.value)"
                                            style="margin-top: 28px; width: 50px; height: 30.90px;">
                                  <ion-icon name="navigate"></ion-icon> 
                                </ion-button>
                          </ion-item>
                        </ion-col> 
                        </ion-row>
                      </div>
                    </div>
                  </div>                                                      
                </div>                
              </div>      
              <!-- Product Image -->
              <div class="table-responsive">
                <div class="table table-striped">
                  <div class="thead">
                    <div class="tr table-header">
                        <div class="th">{{'Produktbild' | translate}}</div>
                    </div>
                  </div>    
                  <div class="tbody">
                      <div class="tr table-subheader table-subheader-fix">                         
                        <div class="table-subheader-buttons">
                        <ion-button size="small"
                                    class="btn-red"
                                    (click)="showConfirmDeletImageAlert()"
                                    [disabled] = "!activProduct.images">
                          <ion-icon name="trash"></ion-icon>
                        </ion-button> 
                          <ion-button size="small"
                                      (click)="getImage()">
                            <ion-icon name="folder-open"></ion-icon>
                          </ion-button>   
                          <ion-button size="small"
                                      (click)="getCamera()"
                                      [disabled]="!mobilePlatform"
                                      style="padding-right: 10px;">
                            <ion-icon name="camera"></ion-icon>
                          </ion-button> 
                          <p-fileUpload #fubauto
                                        class="btn-primary"
                                        mode="basic"
                                        name="file"
                                        url="{{url}}upload.php"
                                        method="POST"
                                        accept="image/*"
                                        maxFileSize="5000000"
                                        customUpload="true"
                                        (onSelect)="validateFileSize($event, fubauto.maxFileSize)"
                                        (uploadHandler)="onFileUpload($event)"
                                        [auto]="true"
                                        chooseLabel="{{'Wähle Bild' | translate}}">
                          </p-fileUpload>

                        </div>
                      </div>
                      <div class="whitebox-image">
                      <img *ngIf="activProduct.images" src="{{activProduct.images}}?{{nocache}}">
                    </div> 
                  </div>    
                </div>
              </div>          
            </ion-col> 
          </ion-row> 
        </ion-grid>	
      </div>        
		</div>
  </div>	   
</ion-content>


<bottom-nav></bottom-nav>