<ion-app>
  <ion-split-pane content-id="menue" when="(min-width: 400px)">
  <ion-menu content-id="menue" type="overlay" side="start" menuId="menu" class="sideMenu-inner"
    [ngClass]="systemService.shrinkMenu ? 'shrinked' : 'normal'">
    <div class="sideMenu">
      <div class="sideMenu-header">
        <img class="sideMenu-logo" src="assets/imgs/pvs2go-logo.svg" alt="PVS2GO Logo">
        <div class="sideMenu-version">{{apiService.version}}</div>
      </div>
      <div class="sideMenu-content">
        <ul class="sideMenu-nav">

          <li routerLink="/startscreen" [ngClass]="getClass('/startscreen')">
            <ion-icon name="home"></ion-icon>
            <span>Startseite</span>
          </li>

          <li routerLink="/dashboard"  [ngClass]="getClass('/dashboard')">
            <ion-icon name="apps"></ion-icon>
            <span>Dashboard</span>
          </li>

          <li routerLink="/customer-table"  [ngClass]="getClass('/customer-table')">
            <ion-icon name="people"></ion-icon>
            <span>Kundenübersicht</span>
          </li>

          <ul class="sideMenu-subnav"  *ngIf="systemService.customerId > 0" >

              <li  [routerLink]="['/customer-details/',systemService.customerId]"   [ngClass]="getClass('/customer-details')">
                <ion-icon name="person"></ion-icon>
                <span>Kundendetails</span>
              </li>

              <li [routerLink]="['/product-list/',systemService.customerId]"   [ngClass]="getClass('/product-list')">
                <ion-icon name="pricetags"></ion-icon>
                <span>Produkte</span>
              </li>

              <li [routerLink]="['/protocol-list/',systemService.customerId]"  [ngClass]="getClass('/protocol-list')">
                <ion-icon name="document"></ion-icon>
                <span>Protokolle</span>
              </li>

              <li [routerLink]="['/order-form/',systemService.customerId]"  [ngClass]="getClass('/order-form')">
                <ion-icon name="basket"></ion-icon>
                <span>Bestellformular</span>
              </li>


              <li [routerLink]="['/note-list/',systemService.customerId]"  [ngClass]="getClass('/note-list')" *ngIf="(userdata.role==1)||(userdata.role==2)">
                <ion-icon name="bookmarks"></ion-icon>
                <span>Notizen</span>
              </li>

          </ul>

          <li routerLink="/appointment-plan"  [ngClass]="getClass('/appointment-plan')">
            <ion-icon name="time"></ion-icon>
            <span>Terminpläne</span>
          </li>

          <li routerLink="/my-data"  [ngClass]="getClass('//my-data')">
            <ion-icon name="settings"></ion-icon>
            <span>Einstellungen</span>
          </li>

        </ul>
      </div>
    </div>
  </ion-menu>

  <ion-router-outlet id="menue"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
