<ion-header>

  <ion-toolbar color="primary">
    <div class="modal-header" *ngIf="readonly" >
      <ion-toggle class="schalter" [(ngModel)]="listView" checked="true">
      </ion-toggle>
      <ion-label class="headerText">{{'Listenansicht'| translate}}</ion-label>
    </div>
    <ion-buttons slot="primary">
      <ion-button icon-only (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="modal-content">
    <div class="modal-body">
      <p-table class="scanList" [columns]="cols" [value]="scanList" *ngIf="listView">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns">{{col.header}}</th>
            <th class="action"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-scanList let-columns="cols">
          <tr>
            <td *ngFor="let col of cols">{{scanList[col.field]}}</td>
            <td>
              <ion-button icon-only (click)="delScanList(scanList)">
                <ion-icon name="trash"></ion-icon>
              </ion-button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary" >
          <div class="table-summary">
              {{company}} 
          </div>         
        </ng-template>
      </p-table>

      <div *ngIf="!listView">
        <div *ngIf="procedure==0" class="modal-body" style="text-align: center;">
          <div style="text-align:center;color:#ccc;font-size:24px">{{'Scanner an NFC halten.' | translate}}</div>
          <br>
          <ion-icon name="wifi" style="color:#ccc;font-size:100px"></ion-icon>
        </div>
        <div *ngIf="procedure==1" class="card">
          <div class="card-header">
            <ion-icon name="wifi" class="card-img-top"></ion-icon>
          </div>
          <div class="card-body">
            <h6 class="card-subtitle">NFC Tag UID: {{tagId}} </h6>
            <p *ngIf="isWritable" class="card-text">{{'NFC Bereit zur Programmierung.' | translate}}</p>
            <p *ngIf="!isWritable" class="card-text">{{'Schreibschutz aktiv'| translate}}</p>
          </div>
        </div>
        <div *ngIf="procedure==2" class="card">
          <div class="card-header">
            <ion-icon name="wifi" class="card-img-top"></ion-icon>
          </div>
          <div class="card-body">
            <h6 class="card-subtitle">NFC Tag UID: {{tagId}} </h6>
            <p>{{'Starte schreib Vorgang ...' | translate}}</p>
          </div>
        </div>
        <div *ngIf="procedure==3" class="card">
          <div class="card-header">
            <ion-icon name="checkmark" class="card-img-top"></ion-icon>
          </div>
          <div class="card-body">
            <h6 class="card-subtitle">NFC Tag UID: {{tagId}} </h6>
            <p>{{result}}</p>
          </div>
        </div>
        <div *ngIf="procedure==4" class="card">
          <div class="card-header">
            <ion-icon name="warning" class="card-img-top"></ion-icon>
          </div>
          <div class="card-body">
            <h6 class="card-subtitle">NFC Tag UID: {{tagId}} </h6>
            <p>{{result}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer text-center" style='clear: both;'>
      <div *ngIf="listView && (scanList.length==0)" class="modal-body" style="text-align: center;">
        <div style="text-align:center;color:#ccc;font-size:24px">{{'Scanner an NFC halten.' | translate}}</div><br>
        <ion-icon name="wifi" style="color:#ccc;font-size:100px"></ion-icon>
      </div>
      <div *ngIf="listView && (scanList.length>0)" class="modal-body" style="text-align: center;">
        <ion-button  class="btn btn-modal-success button-larger" (click)="createProtocol();" >
          {{'Neues Protokoll' | translate}}
        </ion-button>				
      </div>

      <div *ngIf="!listView">
        <ion-button *ngIf="procedure==1&&isWritable" class="btn-modal-success button-larger"
          (click)="nfc_write();">
          {{'NFC beschreiben' | translate}}
        </ion-button>
        <ion-button *ngIf="procedure==4&&isWritable&&!readonly" class="btn-modal-warning button-larger"
          (click)="nfc_write();">
          {{'Wiederholen' | translate}}
        </ion-button>
        <ion-button *ngIf="procedure==4&&readonly" class="btn-modal-warning"
          (click)="procedure=0;">
          <ion-icon name="repeat"></ion-icon>
        </ion-button>
        <ion-button *ngIf="procedure!=3" class="btn-modal-danger"
          (click)="dismiss()">
          <ion-icon name="close"></ion-icon>
        </ion-button>
        <ion-button *ngIf="procedure==3" class="btn-modal-success"
          (click)="dismiss()">
          <ion-icon name="checkmark"></ion-icon>
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>