<main-nav aktivPage="OrderForm" [idCustomer]="idCustomer"></main-nav>

<ion-content class="orderform">
    <div class="ek-content">
      <div class="container">
        <div class="mt20 content-sm">  
          <ion-grid>
            <ion-row>
              <ion-col size-xl="12" size-lg="12" size-md="12" size-sm="12" size="12">
                <div class="kunden-wrap">
                  <!-- SELECTION -->
                  <div class="kunden-col">
                    <div class="table-info">
                      <div class="thead">
                        <div class="tr table-header">
                          <div class="th">{{'Bestellformular' | translate}}</div>
                        </div>
                      </div>
                      <div class="tbody">
                        <div class="tr table-body orederType">
                            <ion-item>
                              <ion-label>{{'Bestellen' | translate}}</ion-label>
                              <ion-checkbox slot="start" [(ngModel)]="activOrderForm.orderCheckBox"></ion-checkbox>
                            </ion-item>
                            <ion-item>
                              <ion-label>{{'Offerte' | translate}}</ion-label>
                              <ion-checkbox slot="start" [(ngModel)]="activOrderForm.offerCheckBox"></ion-checkbox>
                            </ion-item>
                            <ion-item>
                              <ion-label>{{'Reparatur' | translate}}</ion-label>
                              <ion-checkbox slot="start" [(ngModel)]="activOrderForm.repairCheckBox"></ion-checkbox>
                            </ion-item>
                            <ion-item>
                              <ion-label>{{'Prüfung' | translate}}</ion-label>
                              <ion-checkbox slot="start" [(ngModel)]="activOrderForm.inspectionCheckBox"></ion-checkbox>
                            </ion-item>
                            <ion-item>
                              <ion-label>{{'Miete' | translate}}</ion-label>
                              <ion-checkbox slot="start" [(ngModel)]="activOrderForm.rentCheckBox"></ion-checkbox>
                            </ion-item>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="12" size="12">  
                <!-- Invoice Address -->
                <div class="kunden-col">
                  <div class="table-info">      
                    <div class="thead">
                      <div class="tr table-subheader table-subheader-fix">
                        <div class="th">{{'Rechnungsadresse' | translate}}</div>
                      </div>
                    </div>
                    <div class="tbody">
                      <div class="tr table-body">
                        <div class="td"><span class="strong">{{'Firma' | translate}}</span></div>
                        <ion-input type="text" 
                                    [(ngModel)]="activOrderForm.billing.company">
                        </ion-input>
                      </div>
                      <div class="tr table-body">
                        <div class="td"><span class="strong">{{'Strasse' | translate}}</span></div>
                        <ion-input type="text" 
                                    [(ngModel)]="activOrderForm.billing.street">
                        </ion-input>
                      </div>
                      <div class="tr table-body">
                        <div class="td"><span class="strong">{{'PLZ' | translate}} - {{'Ort' | translate}}</span></div>
                        <ion-input type="text"                                     
                                    [(ngModel)]="activOrderForm.billing.zipCodePlace">
                        </ion-input>
                      </div>
                      <div class="tr table-body">
                        <div class="td"><span class="strong">{{'Branche' | translate}}</span></div>
                        <ion-input type="text" 
                                    [(ngModel)]="activOrderForm.billing.sector">
                        </ion-input>
                      </div>
                      <div class="tr table-body">
                        <div class="td"><span class="strong">{{'E-Mail' | translate}}</span></div>
                        <ion-input type="text" 
                                    [(ngModel)]="activOrderForm.billing.email">
                        </ion-input>
                      </div>
                      <div class="tr table-body">
                        <div class="td"><span class="strong">{{'Telefon' | translate}}</span></div>
                       <ion-input type="text"
                                  [(ngModel)]="activOrderForm.billing.phone">
                      </ion-input>
                      </div>
                      <div class="tr table-body">
                        <div class="td"><span class="strong">{{'Internet' | translate}}</span></div>
                        <ion-input type="text"
                                    [(ngModel)]="activOrderForm.billing.internet">
                        </ion-input>
                      </div>
                      <div class="tr table-body">
                        <div class="td"><span class="strong">{{'Kundennummer' | translate}}</span></div>
                        <ion-input type="text"
                                    [(ngModel)]="activOrderForm.customerNumber">
                        </ion-input>
                      </div>
                      <div class="tr table-body">
                        <div class="td"><span class="strong">{{'DB-ID' | translate}}</span></div>
                        <ion-input type="text"
                                    [(ngModel)]="activOrderForm.dbId">
                        </ion-input>
                      </div>
                    </div>
                  </div>
                </div>  
              </ion-col>            
              <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="12" size="12">  
                <!-- Shipping Address -->
                <div class="kunden-col">
                  <div class="table-info">      
                    <div class="thead">
                      <div class="tr table-subheader table-subheader-fix">
                         <div style="width: inherit;">
                          <ion-item lines="none" style="--background: #005e86;">
                            <ion-label position="fixed" style="color: white !important;">{{translate.instant('Lieferadresse')}}</ion-label>
                            <ion-select (ionChange)="changeContactPerson($event)"
                                        name="RE_Ansp"
                                        id="RE_Ansp"
                                        class='contact-person'
                                        okText="{{translate.instant('okay')}}"
                                        cancelText="{{translate.instant('abbrechen')}}">
                              <ion-select-option value="0" selected>{{translate.instant('Gleich wie Rechnungsadresse')}}</ion-select-option>
                              <ion-select-option value="1">{{translate.instant('Manuelle Eingabe')}}</ion-select-option>         
                              <ion-select-option [value]="ansp" *ngFor="let ansp of contactPersonList">{{ansp.first_name}} {{ansp.last_name}}</ion-select-option>
                            </ion-select>
                          </ion-item>
                        </div>
                      </div>
                    </div>
                    <div class="tbody">
                        <div class="tr table-body">
                          <div class="td"><span class="strong">{{'Name' | translate}}</span></div>
                          <ion-input type="text"
                                      [(ngModel)]="activOrderForm.shipping.name">
                          </ion-input>
                        </div>
                        <div class="tr table-body">
                          <div class="td"><span class="strong">{{'Strasse' | translate}}</span></div>
                          <ion-input type="text"
                                      [(ngModel)]="activOrderForm.shipping.street">
                          </ion-input>
                        </div>
                        <div class="tr table-body">
                          <div class="td"><span class="strong">{{'PLZ' | translate}} {{'Ort' | translate}}</span></div>
                          <ion-input type="text"
                                      [(ngModel)]="activOrderForm.shipping.zipCodePlace">
                          </ion-input>
                        </div>
                        <div class="tr table-body">
                          <div class="td"><span class="strong">{{'Abteilung' | translate}}</span></div>
                          <ion-input type="text"
                                      [(ngModel)]="activOrderForm.shipping.department">
                          </ion-input>
                        </div>
                        <div class="tr table-body">
                          <div class="td"><span class="strong">{{'E-Mail' | translate}}</span></div>
                          <ion-input type="text"
                                      [(ngModel)]="activOrderForm.shipping.email">
                          </ion-input>
                        </div>
                        <div class="tr table-body">
                          <div class="td"><span class="strong">{{'Telefon' | translate}}</span></div>
                          <ion-input type="text" 
                                      [(ngModel)]="activOrderForm.shipping.phone">
                          </ion-input>
                        </div>
                        <div class="tr table-body">
                          <div class="td"><span class="strong">{{'Mobiltelefon' | translate}}</span></div>
                          <ion-input type="text"
                                      [(ngModel)]="activOrderForm.shipping.mobile">
                          </ion-input>
                        </div>
                    </div>
                  </div>
                </div>    
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="12" size="12">  
                <div class="kunden-col">
                  <div class="table-info">      
                    <div class="tbody">
                      <div class="tr table-body">
                        <div class="td"><span class="strong">{{'Bestell Nr.' | translate}}</span></div>
                        <ion-input type="text" 
                                    [(ngModel)]="activOrderForm.order_nr">
                        </ion-input>
                      </div>
                      <div class="tr table-body">
                        <div class="td"><span class="strong">{{'PVS Bestellungs Nr.' | translate}}</span></div>
                        <ion-input type="text" readonly
                                    [(ngModel)]="activOrderForm.pvs_order_nr">
                        </ion-input>
                      </div>
                      <div class="tr table-body">                
                        <div class="td"><span class="strong">{{'Bestelldatum' | translate}}</span></div> 
                        <ion-item lines="none">   
                          <ion-datetime mode="ios" 
                                        [(ngModel)]="activOrderForm.order_date"
                                        id="order_date"
                                        required="true"
                                        displayFormat="DD.MM.YYYY"
                                        max = {{maxDate}}                                          
                                        doneText="{{translate.instant('okay')}}"
                                        cancelText="{{translate.instant('abbrechen')}}"
                                        style="padding-left: 0px; padding-top: 10px;">
                          </ion-datetime>
                        </ion-item>              
                      </div>                        
                    </div>
                  </div>
                </div>    
              </ion-col>
              <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="12" size="12">  
                <div class="kunden-col">
                  <div class="table-info">      
                    <div class="tbody">
                      <div class="tr table-body">
                        <div class="td"><span class="strong">{{'Auftrags Nr.' | translate}}</span></div>
                        <ion-input type="text" 
                                    [(ngModel)]="activOrderForm.contract_nr">
                        </ion-input>
                      </div>
                      <div class="tr table-body">
                        <div class="td"><span class="strong">{{'Komission' | translate}}</span></div>
                        <ion-input type="text" 
                                    [(ngModel)]="activOrderForm.commission">
                        </ion-input>
                      </div>
                      <div class="tr table-body">
                        <div class="td"><span class="strong">{{'Liefertermin' | translate}}</span></div>
                        <ion-item lines="none">
                          <ion-datetime mode="ios" 
                                        [(ngModel)]="activOrderForm.delivery_date"
                                        id="date_delivery"
                                        required="true"                                       
                                        displayFormat="DD.MM.YYYY"
                                        max = {{maxDate}}
                                        doneText="{{translate.instant('okay')}}"
                                        cancelText="{{translate.instant('abbrechen')}}"
                                        style="padding-left: 0px; padding-top: 10px;">
                          </ion-datetime>
                        </ion-item>
                      </div>                        
                    </div>
                  </div>
                </div>    
              </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size-xl="12" size-lg="12" size-md="12" size-sm="12" size="12">
                  <div class="kunden-wrap">
                    <!-- SELECTION -->
                    <div class="kunden-col">
                      <div class="table-info">
                        <div class="tbody">

                          <div class="tr table-body orederType">
                              <ion-item>
                                <ion-label>{{'Musterlieferung' | translate}}</ion-label>
                                <ion-checkbox slot="start" [(ngModel)]="activOrderForm.sampleDeliveryCheckBox"></ion-checkbox>
                              </ion-item>
                              <ion-item>
                                <ion-label>{{'Gutschrift' | translate}}</ion-label>
                                <ion-checkbox slot="start" [(ngModel)]="activOrderForm.creditCheckBox"></ion-checkbox>
                              </ion-item>
                              <ion-item>
                                <ion-label>{{'Auftragsbestätigung' | translate}}</ion-label>
                                <ion-checkbox slot="start" [(ngModel)]="activOrderForm.confOrderCheckBox"></ion-checkbox>
                              </ion-item>
                              <ion-item>
                                <ion-label>{{'Nach belastung' | translate}}</ion-label>
                                <ion-checkbox slot="start" [(ngModel)]="activOrderForm.afterLoadingCheckBox"></ion-checkbox>
                              </ion-item>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size-xl="12" size-lg="12" size-md="12" size-sm="12" size="12">
                  <div class="kunden-wrap">
                    <!-- SELECTION -->
                    <div class="kunden-col">
                      <div class="table-info">
                        <div class="tbody">

                          <div class="tr table-body orederType">
                              <ion-item>
                                <ion-label>{{'Post' | translate}}</ion-label>
                                <ion-checkbox slot="start" [(ngModel)]="activOrderForm.postCheckBox"></ion-checkbox>
                              </ion-item>
                              <ion-item>
                                <ion-label>{{'Express' | translate}}</ion-label>
                                <ion-checkbox slot="start" [(ngModel)]="activOrderForm.expressCheckBox"></ion-checkbox>
                              </ion-item>
                              <ion-item>
                                <ion-label>{{'Überbracht' | translate}}</ion-label>
                                <ion-checkbox slot="start" [(ngModel)]="activOrderForm.aboutBrachtCheckBox"></ion-checkbox>
                              </ion-item>
                              <ion-item>
                                <ion-label>{{'LKW' | translate}}</ion-label>
                                <ion-checkbox slot="start" [(ngModel)]="activOrderForm.lkwCheckBox"></ion-checkbox>
                              </ion-item>
                              <ion-item>
                                <ion-label>{{'Selbst Abholer' | translate}}</ion-label>
                                <ion-checkbox slot="start" [(ngModel)]="activOrderForm.evenPickupCheckBox"></ion-checkbox>
                              </ion-item>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </ion-col>
              </ion-row>
              <ion-row>     
                <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="12" size="12">
                  <div class="kunden-col">
                    <div class="table-info"> 
                      <div class="tbody">
                        <div class="tr table-body" style="background: #fff">
                          <ion-label>
                              {{'ID-Nummer beibehalten' | translate}}
                          </ion-label>
                          <ion-toggle checked="false"
                                      [(ngModel)]="activOrderForm.keepIdNumber">                            
                          </ion-toggle>
                        </div>
                      </div>
                    </div>
                  </div>  
                </ion-col>             
              </ion-row>
              <!-- Product Info -->
              <ion-row style="padding-left: 5px; padding-right: 5px; font-size: 13px;margin-top:20px">
                <ion-col size-xl="2" size-lg="2" size-md="2" size-sm="2" size="2"
                         style="
                                background: #005e86; 
                                color: white;
                                padding: 10px;
                                border-radius:3px 0px 0px 0px;">
                  <div>{{'Menge' | translate}}</div>
                </ion-col>
                <ion-col size-xl="2" size-lg="2" size-md="2" size-sm="2" size="2" 
                         style=" 
                                background: #005e86; 
                                color: white;
                                padding: 10px;">
                  <div>{{'PVS ID' | translate}}</div>
                </ion-col>
                <ion-col size-xl="2" size-lg="2" size-md="2" size-sm="2" size="2" 
                         style="
                               background: #005e86; 
                               color: white;
                               padding: 10px;">
                  <div>{{'Artikel-Nr.' | translate}}</div>
                </ion-col>
                <ion-col size-xl="5" size-lg="5" size-md="5" size-sm="5" size="5" 
                         style="
                               background: #005e86; 
                               color: white; 
                               padding: 10px;">
                  <div>{{'Bezeichnung' | translate}}</div>
                </ion-col>   
                <ion-col size-xl="1" size-lg="1" size-md="1" size-sm="1" size="1" 
                         style=" 
                               background: #005e86; 
                               color: white;
                               text-align: center;
                               padding: 5px 0px 5px 0px;
                               border-radius: 0px 3px 0px 0px;">
                  <ion-button size="small"
                              style="font-size: 0.7em;"
                              (click)="addProduct()">
                    <ion-icon name="md-add"></ion-icon>
                  </ion-button>
                </ion-col>   
              </ion-row>
              <ion-row style="padding-left: 5px; padding-right: 5px; font-size: 13px;"
                       *ngFor="let product of products; let prdctInd = index">
                <ion-col size-xl="2" size-lg="2" size-md="2" size-sm="2" size="2" 
                        style="padding: 10px 5px;background: #fff;border-radius: 0px 0px 0px 3px;">
                  <ion-input type="text" 
                            style="color: black"
                            [(ngModel)]="product.quantity">
                  </ion-input>
                </ion-col>
                <ion-col size-xl="2" size-lg="2" size-md="2" size-sm="2" size="2" 
                        style="padding: 10px 5px;background: #fff;">
                  <ion-input type="text" 
                            style="color: black"
                            [(ngModel)]="product.pvsid">
                  </ion-input>
                </ion-col>
                <ion-col size-xl="2" size-lg="2" size-md="2" size-sm="2" size="2" 
                        style="padding: 10px 5px;background: #fff;">
                  <ion-input type="text" 
                            style="color: black"
                            [(ngModel)]="product.articleno">
                  </ion-input>
                </ion-col>
                <ion-col size-xl="5" size-lg="5" size-md="5" size-sm="5" size="5" 
                        style="background: #fff;">
                  <ion-textarea type="text" 
                                style="color: black; border:1px solid #ccc;height:44px;margin-top:4px;padding-top: 0;"
                                [(ngModel)]="product.designation">
                  </ion-textarea>
                </ion-col>   
                <ion-col size-xl="1" size-lg="1" size-md="1" size-sm="1" size="1"
                         style=" text-align: center; padding: 18px 0px 5px 0px;background: #fff;border-radius: 0px 0px 3px 0px;">
                  <ion-button size="small"
                              style="font-size: 0.7em; --background: red;"
                              (click)="remProduct(prdctInd)">
                    <ion-icon name="remove"></ion-icon>
                  </ion-button>
                </ion-col>   
              </ion-row>
              <!-- Notes -->
              <ion-row style="margin-top:10px;">
                <ion-col size-xl="12" size-lg="12" size-md="12" size-sm="12" size="12">  
                  <div class="kunden-col">
                    <div class="table-info" style="background: white;">      
                      <div class="thead">
                        <div class="tr table-subheader table-subheader-fix">
                          <div class="th">{{'Notizen' | translate}}</div>
                        </div>
                        <ion-textarea type="text" 
                                      rows="3" 
                                      [(ngModel)]="activOrderForm.note">
                        </ion-textarea>                       
                      </div>
                    </div>
                  </div>
                </ion-col>
              </ion-row>
              <!-- Commissioned -->
              <ion-row>
                <ion-col size-xl="12" size-lg="12" size-md="12" size-sm="12" size="12">  
                  <div class="kunden-col" >
                    <div class="table-info" style="background: white;">      
                      <div class="thead">
                        <div class="tr table-subheader table-subheader-fix">
                          <div class="th">{{'Beauftragt' | translate}}</div>
                        </div>
                        <ion-input type="text" 
                                    style="color: black;" 
                                    [(ngModel)]="activOrderForm.commissioned">
                        </ion-input>
                      </div>
                    </div>
                  </div>
                </ion-col>
              </ion-row>
          </ion-grid>
        </div>
      </div>
    </div>
  </ion-content>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="liftiball">
    <ion-fab-button color="tertiary">
      <ion-icon name="menu"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
        <ion-fab-button color="primary"
                        title="{{'Bestellung Abschicken' | translate}}"
                        (click)="ordersSend()">
            <ion-icon name="send"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="primary"
                        title="{{'PDF Export' | translate}}"
                        (click)="printPdf('download')">
            <ion-icon name="document"></ion-icon>
        </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

<bottom-nav></bottom-nav>