app-order-form {

  .container-fix {
    padding: 0 9px !important;
  }

  .topBar-outer {
    margin-bottom: 3px;
  }

    .footerIcon {
        font-size: 1.5em !important;
        padding-top: 0px !important;
    }

    .minusplusbtn {
      width: 14%;
      height: 45px;
      line-height: 45px;
      background: #a1abae;
      color: #fff;
      text-align: center;
      padding-top: 4px;
      cursor: pointer;
    }

    .inputitem {
      *zoom: 1;
      float: left;
      clear: none;
      width: 20%;
      height: 45px;
      text-align: center;
      background: #bdc4c6;
      color: #fff;
    }

    .text-input-md {
      margin-top: 10px !important;
      margin-bottom: 0px !important;
      margin-left: 0px !important;
      margin-right: 0px !important;
      padding-left: 0px !important;
      padding-right: 0px !important;
      text-align: center !important;
    }

    .ek-content {
        @media only screen and (max-width: 767px) {
            padding-top: 112px;
        }
    }

    

}
