<ion-header>
  <nav class="navbar navbar-default navbar-ek" ng-cloak>
    <div class="container">
      <ion-grid class="topbar-ion-grid">
        <ion-row>
          <!-- TOP LEFT -->
          <ion-col size-xl="9" size-lg="9" size-md="9" size-sm="12" size="12" class="topBar-sm topBar-left">
            <div class="topBar-outer">
              <div class="topBar-inner">
                <div class="menuIcon menuIcon-xs" (click)="openMenu()">
                  <ion-icon name="menu"></ion-icon>
                </div>
                <div class="menuIcon menuIcon-md" (click)="shrinkMenu()">
                  <ion-icon name="menu"></ion-icon>
                </div>

              </div>

              <div id="customerName" class="main-nav-fix">
                <div class="comp-name" *ngIf="aktivPage == 'CustomerTable' ||
                          aktivPage == 'ProductList' ||
                          aktivPage == 'ProductDetails' ||
                          aktivPage == 'ProductEdit' ||
                          aktivPage == 'ProtocolList' ||
                          aktivPage == 'ProtocolDetails' ||
                          aktivPage == 'OrderForm' ||
                          aktivPage == 'NoteList' ||
                          aktivPage == 'NoteDetails'">
                  {{customerName}}
                </div>
              </div>
            </div>
          </ion-col>
          <!-- Status Bar  -->
          <ion-col size-xl="3" size-lg="3" size-md="3" size-sm="12" size="12" class="hidden-sm-down">
            <div class="main-nav-fix">

              <div *ngIf="aktivPage == 'CustomerTable' ||
                          aktivPage == 'ProductList' ||
                          aktivPage == 'ProtocolList' ||
                          aktivPage == 'NoteList'">
                {{rowRecords}} {{'Datensätze von' | translate}} {{totalRecords}}
              </div>

              <div class="topBar-inner posek" *ngIf="aktivPage == 'CustomerTable' ||
                        aktivPage == 'ProductList' ||
                        aktivPage == 'ProtocolList' ||
                        aktivPage == 'NoteList'">
                <div class="progress-wrapper">
                  <div class="current">{{progressBar}}%</div>
                  <round-progress [current]="progressBar" [max]="100" [responsive]="true" [color]="'#009de0'">
                  </round-progress>
                </div>
              </div>

            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

    </div>
  </nav>

  <ul class="dashboard-nav hidden-lg-up" *ngIf="aktivPage == 'Dashboard'">
    <a (click)="showdashfirst()" class="active" id="dashfirst">
      <li>
        <ion-icon class="headerIcon" name="calendar"></ion-icon>
      </li>
    </a>
    <a (click)="showdashsecond()" id="dashsecond">
      <li *ngIf="userdata.Prueferservice">
        <ion-icon class="headerIcon" name="briefcase"></ion-icon>
      </li>
      <li *ngIf="!userdata.Prueferservice">
        <ion-icon class="headerIcon" name="contact"></ion-icon>
      </li>
    </a>
  </ul>
</ion-header>