<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="primary">
          <ion-button icon-only (click)="dismiss()">
              <ion-icon name="close"></ion-icon>
          </ion-button>
      </ion-buttons>
      <ion-title>{{translate.instant('Bestellungen')}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
      <ion-row>
          <ion-col size="12">
              <ion-item lines="none">
                <ion-label position="floating">{{translate.instant('Ziel')}}</ion-label>
                  <ion-select (ionChange)="changeAim()"
                              name="Ziel_DropDown"
                              id="Ziel_DropDown"
                              [(ngModel)]="Ziel_DropDown"
                              okText="{{translate.instant('okay')}}"
                              cancelText="{{translate.instant('abbrechen')}}">
                    <ion-select-option value="0" [selected]="Ziel_DropDown==0" >{{translate.instant('bitte wählen')}}</ion-select-option>
                    <ion-select-option value="1">Brugg Lifting</ion-select-option>
                    <ion-select-option value="3">Brugg Lifting Ecublens</ion-select-option>
                    <ion-select-option value="2">{{translate.instant('Mein Einkauf')}}</ion-select-option>
                  </ion-select>
              </ion-item>
          </ion-col>
      </ion-row>
      <div *ngIf="Ziel_DropDown==2">
          <ion-row>
            <ion-col size="12">
              <ion-item lines="none">
                <ion-label position="floating">{{translate.instant('Ansprechpartner')}}</ion-label>
                  <ion-select required="true"
                              (ionChange)="changeAnsp()"
                              name="RE_Ansp"
                              id="RE_Ansp"
                              [(ngModel)]="RE_Ansp"
                              okText="{{translate.instant('okay')}}"
                              cancelText="{{translate.instant('abbrechen')}}">
                     <ion-select-option [value]="ansp" *ngFor="let ansp of contactPersonList">{{ansp.first_name}} {{ansp.last_name}}</ion-select-option>
                  </ion-select>
                </ion-item>
            </ion-col>
          </ion-row>
      </div>

      <ion-row>
        <ion-col size="12" size-md="6">
            <ion-item lines="none">
              <ion-label position="floating">{{translate.instant('Betreff')}}</ion-label>
              <ion-input required="true"  
                         (ionChange)="inputErrorMsg()"
                         type="text"
                         name="Betreff"
                         id="Betreff"
                         [(ngModel)]="Betreff">
              </ion-input>
            </ion-item>
        </ion-col>
        <ion-col size="12" size-md="6">
          <ion-item lines="none">
            <ion-label position="floating">{{translate.instant('Empfänger')}}</ion-label>
            <ion-input required="true"  
                       (ionChange)="inputErrorMsg()"
                       type="text"
                       name="Empfaenger"
                       id="Empfaenger"
                       [(ngModel)]="Empfaenger">
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" size-md="6" offset-md="6">
            <ion-item lines="none">
              <ion-label position="floating">{{translate.instant('Cc')}}</ion-label>
              <ion-input required="true"  
                         (ionChange)="inputErrorMsg()"
                         type="text"
                         name="Copy"
                         id="Copy"
                         [(ngModel)]="Copy">
              </ion-input>
            </ion-item>
        </ion-col>
      </ion-row>
  </ion-grid>

  <!-- Error -->
  <div *ngIf="email_felder" class="pfehler">
    {{translate.instant('E-Mail nicht standardkonform.')}}
  </div>
  <div [hidden]="!inputError" class="pfehler">
    {{translate.instant('Bitte füllen Sie alle Pflichtfelder aus.')}}
  </div>

  <div class="modal-footer">
      <ion-button type="button" class="btn btn-modal-danger footerIcon" (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
      <ion-button type="button"
                  class="btn btn-modal-success footerIcon"
                  (click)="send();">
          <ion-icon name="checkmark"></ion-icon>
      </ion-button>
  </div>
</ion-content>
