<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
  integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="primary">
      <!--
      <ion-button icon-only (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
      -->
    </ion-buttons>
    <ion-title>Ihr Browser wird nicht unterstützt.</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<p class="info">
  Um PVS nutzen zu können, bitten wir Sie einen der unten genannten Browser zu verwenden.
</p>
<div class="downloads">
  <a href="https://www.google.com/intl/de_ALL/chrome/" class="downloadz" target="_blank">Google<br>Chrome <i class="fab fa-chrome"></i></a>
  <a href="https://www.mozilla.org/de/firefox/" class="downloadz" target="_blank">Mozilla<br>Firefox <i class="fab fa-firefox"></i></a>
  <a href="https://www.microsoft.com/de-de/windows/microsoft-edge" class="downloadz" target="_blank">Microsoft<br>Edge<i class="fab fa-edge"></i></a>
</div>

</ion-content>