
ion-textarea {
    --placeholder-color: red;
}

.radio-button {
    border: 1px solid var(--ion-color-green);
    padding: 0px 10px 10px 10px;
}

.headerIcon {
    font-size: 1.5em !important;
}

ion-header ion-toolbar:first-child {
	padding-top: 0 !important;
} 