
ion-textarea {
    --placeholder-color: red;
}

.radio-button {
    border: 1px solid var(--ion-color-green);
    padding-left: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}