<ion-content>
  
  <div class="pvs4-login-wrapper">
    <ion-grid class="pvs4-login-inner">

      <ion-row>
        <ion-col>
          <div class="logo">
            <img src="assets/imgs/brugg-lifting-logo.svg" alt="Brugg Lifting Logo">
          </div>
        </ion-col>
      </ion-row>

      <form (ngSubmit)="signup()" [formGroup]="signupForm"> 

        <ion-row>
          <ion-col>
            <ion-item>
                <ion-label position="floating">{{ "Firma" |  translate }}
                  <div *ngIf="!signupForm.controls.company.valid && show_hide_err">
                    <p class="form_error_text" >{{ "Bitte geben Sie einen gültigen Firma ein." | translate }}</p> 
                  </div>  
                </ion-label>
                <ion-input type="text" formControlName="company" required></ion-input>         
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">{{ "Name" |  translate }}
                <div *ngIf="!signupForm.controls.fname.valid && show_hide_err">
                  <p class="form_error_text" >{{ "Bitte geben Sie einen gültigen Name ein." |  translate }}</p> 
                </div> 
              </ion-label>
              <ion-input type="text" formControlName="fname" required></ion-input>
            </ion-item>
          </ion-col>
        </ion-row> 

        <ion-row>
          <ion-col>
            <ion-item>
                <ion-label position="floating">{{ "Telefon" |  translate }}
                  <div *ngIf="!signupForm.controls.phone.valid && show_hide_err">
                    <p class="form_error_text" >{{ "Bitte geben Sie einen gültigen Telefon ein." |  translate }}</p> 
                  </div>   
                </ion-label>
                <ion-input type="text" formControlName="phone" required></ion-input>                       
            </ion-item>
          </ion-col>
        </ion-row> 

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">{{ "E-Mail" |  translate }}
                <div *ngIf="!signupForm.controls.email.valid && show_hide_err">
                  <p class="form_error_text" >{{ "Bitte geben Sie eine gültige E-Mail-Adresse ein." |  translate }}</p>
                </div> 
              </ion-label>
              <ion-input type="text" formControlName="email" required></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row style="margin-top:40px;margin-bottom:20px">
          <ion-col text-center>
            <ion-button class="pvs4-btn pvs4-btn-full pvs4-btn-green" type="submit"> {{ "Registrieren" |  translate }} </ion-button>
            <ion-item *ngIf="show_hide_err_pw">
              <p class="form_error_text" >* {{ "Passwörter stimmen nicht überein." |  translate }}</p>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col text-center>
            <a navPop class="to-login">{{ "Sie haben bereits ein Account? Jetzt anmelden!" |  translate }}</a>
          </ion-col>
        </ion-row>

      </form>

    </ion-grid>
  </div>

</ion-content>  