<div>
	<ion-item style="display: none;">
		<ion-label position="floating" *ngIf="showList">{{translate.instant('Filter')}}</ion-label>
		<ion-select #select
					[hidden]="showList"
					[(ngModel)]="peopleFilter"
					okText="{{translate.instant('okay')}}"
					(ionChange)="changeFilter()"
					cancelText="{{translate.instant('abbrechen')}}">
			<ion-select-option value="none">{{translate.instant('Alle Mitarbeiter')}}</ion-select-option>
			<ion-select-option *ngFor="let p of people" [value]="p.email">{{p.first_name + " " + p.last_name}}</ion-select-option>
		</ion-select>
	</ion-item>
	<full-calendar #calendar 
					defaultView="dayGridMonth"  
					[events]="events"  
					[editable]="true" 
					class="calendar" 
					deepChangeDetection="true" 
					[plugins]="calendarPlugins" 
					[customButtons]= "customButtons" 
					[header] = "headers" 
					[locale] = "lang" 
					[locales] = "locales" 
					minTime = "07:00:00" 
					maxTime = "18:00:00" 
					weekHeader = "dd" 
					dateFormat = "dd.mm.yy" 
					[allDaySlot] = "false" 
					[weekends]= "true" 
					firstDay = "1" 
					eventLimit = "false" 
					timeFormat = "HH:mm" 
					[businessHours] = "businessHours" 
					(datesRender)="loadEvents($event)" 
					(eventClick)="handleEventClick($event)" 
					(eventDrop)="updateEvent($event)">
	</full-calendar>
</div>

<ion-fab vertical="bottom" horizontal="end" slot="fixed" class="liftiball liftiball-extra">
	<ion-fab-button color="tertiary">
		<ion-icon name="calendar"></ion-icon>
	</ion-fab-button>
	<ion-fab-list side="top">
		<!-- BUTTON -->
		<ion-fab-button color="success"
						title="{{'Statistik' | translate}}"
						(click)="getStatistik()">
			<ion-icon name="stats"></ion-icon>
		</ion-fab-button>
		<ion-fab-button color="primary"
						title="{{'Termin hinzufügen' | translate}}"
						(click)="newAppointment()">
			<ion-icon name="add"></ion-icon>
		</ion-fab-button>
		<ion-fab-button color="primary"
						title="{{'Meine Termine' | translate}}"
						(click)="setView(0)">
			<ion-icon name="calendar"></ion-icon>
		</ion-fab-button>
		<ion-fab-button color="primary"
						title="{{'Kundenbesuch' | translate}}"
						(click)="setView(1)"
						*ngIf="userdata.role!=3">
			<ion-icon name="people"></ion-icon>
		</ion-fab-button>
		<ion-fab-button color="primary"
						title="{{'Prüfung' | translate}}"
						(click)="setView(2)"
						*ngIf="userdata.role!=3">
			<ion-icon name="eye"></ion-icon>
		</ion-fab-button>
		<ion-fab-button color="primary"
						title="{{'Urlaub' | translate}}"
						(click)="setView(3)"
						*ngIf="userdata.role!=3">
			<ion-icon name="cafe"></ion-icon>
		</ion-fab-button>
	</ion-fab-list>
</ion-fab>