.container-fix {
  padding: 0px 15px !important;
}

.calendar .fc-toolbar .fc-center {
  -webkit-align-items: center;
          align-items: center;
}

.fc .fc-content {
  //mix-blend-mode:  exclusion;
  color: white;
}

.fc-myCustomButton-button {margin-left: 50px!important}

.peopleFilter{
  right: 80px;
  position: absolute;
  width: 180px;
}

  