app-qr-barcode {
align-self: auto;
}
.button-larger {
    width: 140px!important;
}

.green {
    background-color: green;
}

.schalter {
    padding: 2px;
    margin: 0 10px 0 20px;
}
.headerText {
    margin: 0;
    color: #ddd;
    text-align: left!important;
}
.scanList td, .scanList th  {
    text-align: left;
    padding: 7px 9px;
}
.scanList th {
    color: #ddd;
}
.scanHeader {
    padding-left: 20px;
}
.scanList tr:nth-child(even) {
    background: #ddd
}
.ek-login-switch {
    width: 150px;
}
.button-larger {
    width: 140px!important;
}
.modal-header {
    display: inline-flex !important;
}
.action{
    width: 80px;
}
.table-summary {
    padding: 5px !important;
    text-align: right !important;
    color: #444 !important;
}

