<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{translate.instant('Ansprechpartner')}}</ion-title>
  </ion-toolbar>
  <ion-toolbar no-border-top style="min-height: 0px;padding:0px">
    <ion-segment [(ngModel)]="kundendaten">
      <ion-segment-button value="person" (click)="select_switch('person')">
        <ion-icon name="person"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="create" (click)="select_switch('create')">
        <ion-icon name="create"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>  
</ion-header>

<ion-content>
  <div [ngSwitch]="kundendaten">  
    <ion-list *ngSwitchCase="'person'">
      <!-- Tab panes -->
      <div role="tabpanel" class="tab-pane active" id="partner-select">
        <!-- PARTNER -->
        <div class="ansprechpartner-row" *ngFor="let contactPerson of contactPersonList">
          <div class="row ansprechpartner-row">
            <!-- NAME -->
            <div class="col-8" (click)="setContactPerson(contactPerson);">
              <div class="ansprechpartner-name" style="font-size:1.5em;">{{contactPerson.gender_text}} {{contactPerson.first_name}} {{contactPerson.last_name}}</div>
            <div class="ansprechpartner-name" style="font-size:1.5em;"> </div>
              <div class="ansprechpartner-position" style="font-size:1.1em;">{{contactPerson.department}}</div>
            <div class="ansprechpartner-position" style="font-size:1.1em;"> </div>
            </div>
            <!-- ACTION -->
            <div class="col-4" style="display: flex;justify-content: flex-end;" >
              <div class="btn btn-round-blue" (click)="editContactPerson(contactPerson);" style="min-width:50px;margin-right: 10px">
                <ion-icon class="footerIcon" name="create"></ion-icon>
              </div>
              <div class="btn btn-round-red" style="min-width:50px;" (click)="delContactPerson(contactPerson);">
                <ion-icon class="footerIcon" name="trash"></ion-icon>
              </div>
            </div>
          </div>
        </div>        
      </div>
    </ion-list>  
    <ion-list *ngSwitchCase="'create'">
      <ion-grid>
        <ion-row>  
          <!-- Left -->
          <ion-col size-xl="12" size-lg="12" size-md="12" size-sm="12" size="12" style="top: -20px;">            
            <ion-row>
              <ion-col size="4">
                <ion-item lines="none" style="padding-left: 0px;">  
                  <ion-label position="floating">{{translate.instant('Geschlecht')}}</ion-label>
                  <ion-select required="true"
                              [(ngModel)]="contactPersonEdit.gender"
                              okText="{{translate.instant('okay')}}" 
                              cancelText="{{translate.instant('abbrechen')}}">
                    <ion-select-option value = 1> {{translate.instant('Herr')}} </ion-select-option>
                    <ion-select-option value = 2> {{translate.instant('Frau')}} </ion-select-option>
                  </ion-select>                  
                </ion-item>
              </ion-col>
            </ion-row>
            <!-- Row 1 -->
            <ion-row>
              <ion-col size-md="6" size-sm="12" size="12">
                <ion-item lines="none" style="padding-left: 0px;">
                  <ion-label position="floating">{{translate.instant('Name')}}</ion-label>
                  <ion-input required="true"
                             type="text"
                             id="ansp_name" 
                             [(ngModel)]="contactPersonEdit.last_name">
                  </ion-input>
                </ion-item>
              </ion-col>
              <ion-col size-md="6" size-sm="12" size="12">
                <ion-item lines="none" style="padding-left: 0px;">
                  <ion-label  position="floating">{{translate.instant('Vorname')}}</ion-label>
                  <ion-input required="true"
                             type="text"
                             id="ansp_vorname" 
                             [(ngModel)]="contactPersonEdit.first_name">
                  </ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <!-- Row 3 -->
            <ion-row>
              <ion-col size="12">
                <ion-item lines="none" style="padding-left: 0px;">
                  <ion-label position="floating">{{translate.instant('E-Mail')}}</ion-label>
                  <ion-input 
                             type="text"
                             id="ansp_eMail"
                             [(ngModel)]="contactPersonEdit.email">
                  </ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <!-- Row 4 -->
            <ion-row>
              <ion-col size="12">
                  <ion-item lines="none" style="padding-left: 0px;">
                    <ion-label position="floating">{{translate.instant('Telefon')}}</ion-label>
                    <ion-input required="true"
                               type="text" 
                               id="ansp_phone"
                               [(ngModel)]="contactPersonEdit.phone">
                    </ion-input>
                  </ion-item>
                </ion-col>
            </ion-row>
            <!-- Row 5 -->
            <ion-row *ngIf="userdata.role!=3">
                <ion-col size="12">
                  <ion-item lines="none" style="padding-left: 0px;">
                    <ion-label position="floating">{{translate.instant('Funktion')}}</ion-label>
                    <ion-input type="text" 
                               id="ansp_position"
                               [(ngModel)]="contactPersonEdit.position">
                    </ion-input>
                  </ion-item>
                </ion-col>
            </ion-row>
            <!-- Row 6 -->
            <ion-row>
              <ion-col size="12">
                <ion-item lines="none" style="padding-left: 0px;">
                  <ion-label position="floating">{{translate.instant('Abteilung')}}</ion-label>
                  <ion-input type="text" 
                              id="ansp_l_abteilung"
                              [(ngModel)]="contactPersonEdit.department">
                  </ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <!-- Row 7 -->
            <ion-row *ngIf="true">
              <ion-col size-md="6" size-sm="12" size="12">
                <ion-item lines="none" class="item-border">
                    <ion-label>{{translate.instant('edit_products')}}</ion-label>
                    <ion-toggle [(ngModel)]="contactPersonEdit.edit_products"
                                disabled="{{!setRights}}">
                    </ion-toggle>
                </ion-item>						
              </ion-col>
              <ion-col size-md="6" size-sm="12" size="12">
                <ion-item lines="none" class="item-border">
                    <ion-label>{{translate.instant('check_products')}}</ion-label>
                    <ion-toggle [(ngModel)]="contactPersonEdit.check_products"
                                disabled="{{!setRights}}">
                    </ion-toggle>
                </ion-item>						
              </ion-col>
            </ion-row> 
              <!-- Row 8 -->
              <ion-row *ngIf="userdata.role!=3" >
                <ion-col size="12">
                  <ion-item lines="none" style="padding-left: 0px;">
                    <ion-label position="floating">{{translate.instant('Notiz')}}</ion-label>
                    <ion-textarea type="text" 
                                  id="ansp_note"
                                  rows="5"
                                  [(ngModel)]="contactPersonEdit.note">
                    </ion-textarea>
                  </ion-item>
                </ion-col>
            </ion-row>
          </ion-col>  
        </ion-row>
      </ion-grid>  

    </ion-list>  
  </div>
</ion-content>

<!-- Person -->
<ion-footer *ngIf="kundendaten=='person'">
  <ion-toolbar class="modalPageFooter">
    <ion-grid>
      <ion-row>
        <ion-col size="12" no-padding>
          <ion-button (click)="dismiss()" class="btn-modal-danger">
              <ion-icon name="close"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer> 

<!-- Create -->
<ion-footer *ngIf="kundendaten=='create'">
  <ion-toolbar class="modalPageFooter">
    <ion-grid>
      <ion-row>
        <ion-col size="12" no-padding>
          <ion-button (click)="dismiss()" class="btn-modal-danger">
            <ion-icon name="close"></ion-icon>
          </ion-button>
          &nbsp;&nbsp;&nbsp;
          <ion-button (click)="updateData(1)" class="btn-modal-success" [hidden]="contactPersonEditOderNeu==1">
            <ion-icon name="checkmark"></ion-icon>
          </ion-button>
          <ion-button (click)="updateData(0)" class="btn-modal-success" [hidden]="contactPersonEditOderNeu==0">
            <ion-icon name="checkmark"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
  