

	.topBar-outer {
		margin-bottom: 3px;
	}

	.startbtn {
		height: 125px;
		width: 100%;
		--box-shadow: none;
		--background: var(--ion-color-main);
		&:hover, &:focus {
			--background: var(--ion-color-main-shade);
		}
	}

	.starticn {
			font-size: 48px;
			padding-top: 0px;			
	}

	.startlbl {
		font-weight: medium;
		margin-bottom: 0 !important;
		text-transform: normal;
		letter-spacing: normal;
	}

	.pvs4-btn-red {
		--box-shadow: none;
		&:hover,
		&:focus {
			--background: #e33422 !important;
		}
	}

	.logoutlbl {
		display: flex;
		padding: 25px;
		.startlbl {
			display: flex;
			-webkit-align-items: center;
			        align-items: center;
		}
	}