<main-nav aktivPage="ProtocolHistory" [idCustomer]="idCustomer"></main-nav>

<ion-content>
    <div class="ek-content">
      <div class="container" id="ps_protocol">
        <div class="mt20 content-sm" id="protocol_history">		
          <ion-grid>
            <ion-row>
              <div class="table-responsive">
                <ion-col size-xl="12" size-lg="12" size-md="12" size-sm="12" size="12">
                  <div class="table table-striped">                      
                    <div class="thead">
                      <div class="tr table-header">
                        <div class="th">{{'Protokollverlauf' | translate}}</div>
                        <div style="color: white; text-align: left;">
                            {{'Produkt ID' | translate}} : {{idProduct}} &nbsp;&nbsp; {{'Produkt Titel' | translate}} : {{titleProduct}}
                        </div> 
                        <div>
                          <ion-button [disabled]="pageCount<=0" (click)="pageBack()" style="--background: var(--ion-color-tertiary,#3880ff);">
                            <ion-icon name="arrow-back"></ion-icon>
                          </ion-button>
                          <ion-button [disabled]="pageCount>pageTotalCount-5" (click)="pageForward()" style="--background: var(--ion-color-tertiary,#3880ff);">
                            <ion-icon name="arrow-forward"></ion-icon>
                          </ion-button>
                        </div>
                      </div>
                    </div>                    
                  </div>
                </ion-col>
              </div>
            </ion-row>  
            <ion-row>  
              <div class="table-responsive">
                <div class="table table-striped">
                  <div class="tbody" style="margin-top: -30px; max-height: 540px; overflow-x: auto;"> 
                    <div class="tr table-body" *ngFor="let col of cols">
                      <ion-col size-xl="4" size-lg="4" size-md="4" size-sm="12" size="12"> 
                        <div class="td">{{col.header}}</div>
                      </ion-col>
                      <ion-col size-xl="2" size-lg="2" size-md="2" size-sm="12" size="12" *ngFor="let index of listCount"> 
                        <div class="td" *ngIf="col.field != 'protocol_date' && protocolList[index].data[col.field] != true && protocolList[index].data[col.field] != false"> {{protocolList[index].data[col.field]}} </div>
                        <div class="td" *ngIf="col.field == 'protocol_date'"> {{protocolList[index].data[col.field] | date: 'dd.MM.yyyy'}} </div>
                        <div class="td" *ngIf="col.field != 'protocol_date'">
                          <img class="td" *ngIf="protocolList[index].data[col.field] == true" src="/assets/imgs/available.png" alt="" height="17px" />
                          <img class="td" *ngIf="protocolList[index].data[col.field] == false" src="/assets/imgs/not_available.png" alt="" height="17px" />
                        </div>
                      </ion-col>
                    </div>             	
                </div>
              </div>
            </div>	
          </ion-row>		
          </ion-grid>
        </div>
      </div>
    </div>
  </ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="liftiball">
    <ion-fab-button color="tertiary">
      <ion-icon name="menu"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="warning"
                      title="{{'PDF Export' | translate}}"
                      (click)="printPdf()"
                      [disabled]="pdfxlsButton">
        <ion-icon name="download"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="warning"
                      title="{{'XLS Export' | translate}}"
                      (click)="printExcel()"
                      [disabled]="pdfxlsButton">
        <ion-icon name="stats"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

<bottom-nav></bottom-nav>