 div.modal-wrapper {
        height: 700px !important;
}
.MyDataEdit  {
        div.modal-wrapper {
            height: 700px !important;
        }
}
    
.align-center-fix {
        display: flex;
        -webkit-align-items: center;
                align-items: center;
}