
    .text-input-md {
        margin: 8px 8px !important;
        padding: 0 !important;
        width: calc(100% - 8px - 8px) !important;
    }

    ion-input {
        position: relative !important;
        display: block !important;
        -webkit-box-flex: 1 !important;
        -webkit-flex: 1 !important;
        -ms-flex: 1 !important;
        flex: 1 !important;
        border: 1px solid #ccc !important;
        width: 100% !important;
        font-size: 14px !important;
    }

    textarea.text-input {
        padding: 5px !important;
        display: block !important;
        border: 1px solid !important;
        border: 1px solid #ccc !important;
    }

      