
    .text-input-md {
        margin: 8px 8px !important;
        padding: 0 !important;
        width: calc(100% - 8px - 8px) !important;
    }

    ion-input {
        position: relative !important;
        display: block !important;
        -webkit-box-flex: 1 !important;
        -webkit-flex: 1 !important;
        -ms-flex: 1 !important;
        flex: 1 !important;
        border: 1px solid #ccc !important;
        width: 100% !important;
    }

    textarea.text-input {
        padding: 5px !important;
        display: block !important;
        border: 1px solid !important;
        border: 1px solid #ccc !important;
    }

     /*ion-fab-button {
        overflow: visible;
        position: relative;
    
        ion-label {
            position: absolute;
            top: -8px;
            right: 40px;    
            color: black;
            background-color: rgba(139, 138, 138, 0.7);
            line-height: 24px;
            padding: 4px 8px;
            border-radius: 4px;
            font-size: 14px;
            font-family: Arial, Helvetica, sans-serif;
        }
    }    
    .fab{
        contain: layout;
    }*/

   ion-fab-button {
        margin-left: 140px;
        overflow: visible;
        position: relative;
      }
      ion-fab-list {
        ion-label {
          position: relative;
          top: 40px;
          right: 25px;
          color: white;
          background-color: rgba(0,0,0,0.7);
          line-height: 24px;
          padding: 4px 8px;
          border-radius: 4px;
        }
      }
