
    .text-input-md {
        margin: 8px 8px !important;
        padding: 0 !important;
        width: calc(100% - 8px - 8px) !important;
    }

    ion-input {
        position: relative !important;
        display: block !important;
        -webkit-box-flex: 1 !important;
        -webkit-flex: 1 !important;
        -ms-flex: 1 !important;
        flex: 1 !important;
        border: 1px solid #ccc !important;
        width: 100% !important;
        font-size: 14px !important;        
    }

    .ion-invalid:not(.ion-valid) {
      border-color: var(--ion-color-green) !important;
      &.has-focus {
        border-color: var(--ion-color-red) !important;
      }
    } 
   
    .ion-valid:not(.ion-invalid) {
      border-color: var(--ion-color-green) !important;
    }     

    textarea.text-input {
        padding: 5px !important;
        display: block !important;
        border: 1px solid !important;
        border: 1px solid #ccc !important;
    }

    .contact-person {
      background-color: white !important; 
      border: 1px solid #ccc !important; 
      width: 297px !important;
      height: 40px !important;
      padding: 10px 10px 5px 10px !important;
    }

  .orederTypeOrder {
    font-weight: bolder;
    font-size: 18px;
    padding-right: 15px;
    @media only screen and (max-width: 630px) {
      font-size: 16px;
      padding-right: 5px;
    }
    @media only screen and (max-width: 500px) {
      font-size: 12px;
      padding-right: 5px;
    }
    @media only screen and (max-width: 490px) {
      font-size: 12px;
      padding-right: 5px;
    }
    @media only screen and (max-width: 450px) {
      font-size: 10px;
      padding-right: 5px;
    }
    margin-top: -6px;
    text-transform: uppercase;    
    color: rgba(17, 238, 17, 0.658);
  }
  .orederTypeOffer {
    font-weight: bolder;
    font-size: 18px;
    padding-right: 15px;
    @media only screen and (max-width: 630px) {
      font-size: 16px;
      padding-right: 5px;
    }
    @media only screen and (max-width: 540px) {
      font-size: 14px;
      padding-right: 5px;
    }
    @media only screen and (max-width: 490px) {
      font-size: 12px;
      padding-right: 5px;
    }
    @media only screen and (max-width: 450px) {
      font-size: 10px;
      padding-right: 5px;
    }
    margin-top: -6px;
    text-transform: uppercase;    
    color: rgba(255, 166, 0, 0.719);
  }
  .orederTypeReperatur {
    font-weight: bolder;
    font-size: 18px;
    padding-right: 15px;
    @media only screen and (max-width: 630px) {
      font-size: 16px;
      padding-right: 5px;
    }
    @media only screen and (max-width: 540px) {
      font-size: 14px;
      padding-right: 5px;
    }
    @media only screen and (max-width: 490px) {
      font-size: 12px;
      padding-right: 5px;
    }
    @media only screen and (max-width: 450px) {
      font-size: 10px;
      padding-right: 5px;
    }
    margin-top: -6px;
    text-transform: uppercase;
    color: rgba(0, 0, 255, 0.63);
  }
  .orederTypeInspection {
    font-weight: bolder;
    font-size: 18px;
    padding-right: 15px;
    @media only screen and (max-width: 630px) {
      font-size: 16px;
      padding-right: 5px;
    }
    @media only screen and (max-width: 540px) {
      font-size: 14px;
      padding-right: 5px;
    }
    @media only screen and (max-width: 490px) {
      font-size: 12px;
      padding-right: 5px;
    }
    @media only screen and (max-width: 450px) {
      font-size: 10px;
      padding-right: 5px;
    }
    margin-top: -6px;
    text-transform: uppercase;
    color: rgba(128, 128, 128, 0.678);
  }
  .orederTypeRent {
    font-weight: bolder;
    font-size: 18px;
    padding-right: 15px;
    @media only screen and (max-width: 630px) {
      font-size: 16px;
      padding-right: 5px;
    }
    @media only screen and (max-width: 540px) {
      font-size: 14px;
      padding-right: 5px;
    }
    @media only screen and (max-width: 490px) {
      font-size: 12px;
      padding-right: 5px;
    }
    @media only screen and (max-width: 450px) {
      font-size: 10px;
      padding-right: 5px;
    }
    margin-top: -6px;
    text-transform: uppercase;
    color: rgba(207, 207, 26, 0.753);
  }