<main-nav aktivPage="CustomerTable" 
          [searchText]="columnFilterValues['search_all']" 
          [filterText]="filterText" 
          [filterOn]="filterOn" 
          (ping)="update($event)">
</main-nav>

<div class="ek-content" (window:resize)="onResize($event)">
   <div id="heightCalc" 
         class="heightCalc"
         #divHeightCalc>
    </div>
    <p-treeTable [value]="customerListView"
                 [columns]="selectedColumns"                 
                 dataKey="id"
                 (onNodeExpand)="onNodeExpand($event)"
                 (onNodeCollapse)="onNodeCollapse($event)"
                 styleClass="ui-treetable-scrollable-body"
                 [resizableColumns]="true"
                 [scrollable]="true"
                 [paginator]="false" 
                 [rows]="rowCount" 
                 [scrollHeight]="heightCalc"
                 [virtualRowHeight]="rowHeight"
                 [virtualScroll]="true" 
                 [lazy]="true" 
                 (onLazyLoad)="loadNodes($event)"  
                 [loading]="false" 
                 columnResizeMode="fit"
                 [reorderableColumns]="true"
                 [totalRecords]="rowRecords"                  
                 (onColReorder)="onColReorder($event)"
                 (onColResize)="onColResize($event)"
                 [sortField] = "sortedColumn['sort_field']"
                 [sortOrder] = "sortedColumn['sort_order']" >      
        <ng-template pTemplate="colgroup" let-columns="columns">
            <colgroup>
                <col [hidden]="!workMode" [ngStyle]="{width: selectedColumns[0].width}" >
                <col *ngFor="let col of selectedColumns.slice(1);" [ngStyle]="{width: col.width}">
            </colgroup>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th class="workColumn" [hidden]="!workMode">
                    <div class="workWidthfix"></div>
                </th> 
                <th *ngFor="let col of selectedColumns.slice(1);" 
                    ttResizableColumn 
                    [ttSortableColumn]="col.field"  
                    ttReorderableColumn >
                    {{col.header}}
                    <p-treeTableSortIcon [field]="col.field"></p-treeTableSortIcon>
                </th>
            </tr>
            <tr [hidden]="!splitFilter">
                <th class="workColumn" [hidden]="!workMode">
                    <div class="workWidthfix"></div>
                </th> 
                <th *ngFor="let col of selectedColumns.slice(1)" [ngSwitch]="col.field" class="p-table-filter">
                    <input pInputText type="text"
                           class="filter-search"
                           (input)="search_all()"
                          [(ngModel)]="columnFilterValues[col.field]">
                </th>
            </tr>
        </ng-template> 

        <ng-template pTemplate="body"
                     let-rowNode
                     let-rowData="rowData"
                     let-columns="columns">
            <tr [ttSelectableRow]="rowNode" class="workworkC">
                <td  class="workColumn" [hidden]="!workMode">
                    <div class="workWidthfix">
                        
                        <ion-button [hidden]="!editMode" class="btn btn-success" size="small"  (click)="editCustomer(rowData)">
                            <ion-icon name="create"></ion-icon>
                        </ion-button>
                        <ion-button [hidden]="((!moveMode)||(move_id>0))" class="btn btn-teal" size="small"  (click)="moveCustomer(1,rowData)">
                                <ion-icon name="md-move"></ion-icon>
                        </ion-button> 
                        <ion-button [hidden]="((!moveMode)||(move_id==0)||(move_id==rowData.id))" class="btn btn-danger" size="small"  (click)="moveCustomer(2,rowData)">
                                <ion-icon name="md-arrow-round-forward"></ion-icon>
                        </ion-button>     
                        <ion-button [hidden]="((!moveMode)||(move_id==0)||(move_id!=rowData.id))" class="btn btn-teal" size="small"  (click)="moveCustomer(2,rowData)">
                                <ion-icon name="md-arrow-round-back"></ion-icon>
                        </ion-button>           
                    </div>               
                </td> 
                <td *ngFor="let col of selectedColumns.slice(1); let i = index" 
                    (click)="viewCustomer(col,rowData)"
                    [ngClass]="{'link_eye': (col.field == 'company')}" >
                    <p-treeTableToggler [rowNode]="rowNode" *ngIf="i == 0"></p-treeTableToggler>
                    <label *ngIf="(col.field == 'last_date')">{{rowData[col.field] | date : 'dd.MM.yyyy'}}</label>
                    <label *ngIf="(col.field == 'next_date')">{{rowData[col.field] | date : 'dd.MM.yyyy'}}</label>
                    <label *ngIf="(col.field == 'sector')">{{rowData[col.field] | translate}}</label>
                    <label *ngIf="(col.field != 'last_date') &&
                                  (col.field != 'next_date') &&
                                  (col.field != 'company') &&
                                  (col.field != 'sector') ">{{rowData[col.field]}}</label>   
                    <div class="link" *ngIf="(col.field == 'company')" >{{rowData[col.field]}}</div>                 
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="loadingbody" let-columns="columns">
            <tr style="height:34px">
                <td  class="workColumn" [hidden]="!workMode"></td>
                <td *ngFor="let col of selectedColumns.slice(1)">
                    <div class="loading-text"></div>
                </td>
            </tr>
        </ng-template>
    </p-treeTable>

</div>

<ion-fab [hidden]="!workMode" vertical="bottom" horizontal="end" slot="fixed" class="liftiball liftiball-cancel">
    <!-- BUTTON -->
    <ion-fab-button color="danger" title="{{'abbrechen' | translate}}" (click)="workBreak();">
        <i class="fas fa-times"></i>
    </ion-fab-button>
</ion-fab>

<ion-fab [hidden]="workMode" vertical="bottom" horizontal="end" slot="fixed" class="liftiball" #fab1>
    <ion-fab-button color="tertiary" (click)="fabClick(1)" >
        <ion-icon name="menu"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
        <!-- BUTTON -->
        <ion-fab-button color="success"
                        title="{{'Neu' | translate}}"
                        (click)="menu_new()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
        <!-- BUTTON -->
        <ion-fab-button color="success"
                        title="{{'Bearbeiten' | translate}}"
                        (click)="menu_edit()">
            <ion-icon name="create"></ion-icon>
        </ion-fab-button>
        <!-- BUTTON -->
        <ion-fab-button color="primary"
                        title="{{'Bewegen' | translate}}"
                        (click)="menu_move()">
            <ion-icon name="move"></ion-icon>
        </ion-fab-button>
        <!-- BUTTON -->
    </ion-fab-list>
</ion-fab>

<ion-fab [hidden]="workMode" vertical="bottom" horizontal="end" slot="fixed" class="liftiball liftiball-extra" #fab2 >
    <ion-fab-button color="medium"  (click)="fabClick(2)">
        <ion-icon name="settings"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
        <!-- BUTTON -->
        <ion-fab-button color="medium"
                        title="{{'Spalten' | translate}}"
                        (click)="show_columns()">
            <ion-icon name="grid"></ion-icon>
        </ion-fab-button>
        <!-- BUTTON -->
        <ion-fab-button color="medium"
                        title="{{'Cancel filters' | translate}}"
                        (click)="cancel_filters(2)">
            <ion-icon name="eye-off"></ion-icon>
        </ion-fab-button>
        <!-- BUTTON -->
        <ion-fab-button color="warning"
                        title="{{'PDF Export' | translate}}"
                        (click)="pdf_export()">
            <ion-icon name="download"></ion-icon>
        </ion-fab-button>
        <!-- BUTTON -->
        <ion-fab-button color="warning"
                        title="{{'XLS Export' | translate}}"
                        (click)="excel_export()">
            <ion-icon name="stats"></ion-icon>
        </ion-fab-button>
    </ion-fab-list>
</ion-fab>

<bottom-nav></bottom-nav>