<main-nav aktivPage="CustomerTable" [searchText]="columnFilterValues['search_all']" (ping)="update($event)"></main-nav>

<div class="ek-content" (window:resize)="onResize($event)">
    <p-menubar id="menuMin" class="wideMenu">
        <div style="width: 100%" >
            <button type="button"
                    pButton 
                    icon="fa fa-fw fa-list"
                    label="Menu"
                    id="btnMenu"
                    (click)="menu.toggle($event)">
                <span class="ui-submenu-icon pi pi-fw pi-caret-down slide-caret"></span>
            </button>
        </div>
    </p-menubar>
    <p-slideMenu [model]="menuItems"
                 popup="false"
                 [viewportHeight]="245"
                 [style]="{'width':'200px'}"
                 #menu>
    </p-slideMenu>
    <p-menubar [model]="menuItems"
               [autoDisplay]="false"
               id="menuMax">
    </p-menubar>

   <div id="heightCalc" 
         class="heightCalc"
         #divHeightCalc>
    </div>
    <p-treeTable [value]="customerListView"
                 [columns]="selectedColumns"
                 selectionMode="single"
                 [(selection)]="selectedNode"
                 (onNodeSelect)="nodeSelect()"
                 (onNodeUnselect)="nodeUnselect()"
                 dataKey="id"
                 (onNodeExpand)="onNodeExpand($event)"
                 (onNodeCollapse)="onNodeCollapse($event)"
                 styleClass="ui-treetable-scrollable-body"
                 [resizableColumns]="true"
                 [scrollable]="true"
                 [paginator]="false" 
                 [rows]="rowCount" 
                 [scrollHeight]="heightCalc"
                 [virtualRowHeight]="rowHeight"
                 [virtualScroll]="true" 
                 [lazy]="true" 
                 (onLazyLoad)="loadNodes($event)"  
                 [loading]="false" 
                 columnResizeMode="fit"
                 [reorderableColumns]="true"
                 [totalRecords]="rowRecords"                  
                 (onColReorder)="onColReorder($event)"
                 (onColResize)="onColResize($event)"
                 [sortField] = "sortedColumn['sort_field']"
                 [sortOrder] = "sortedColumn['sort_order']" >      
        <ng-template pTemplate="colgroup" let-columns="columns">
            <colgroup>
                <col *ngFor="let col of selectedColumns" [ngStyle]="{width: col.width}">
            </colgroup>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of selectedColumns" 
                    ttResizableColumn 
                    [ttSortableColumn]="col.field"  
                    ttReorderableColumn >
                    {{col.header}}
                    <p-treeTableSortIcon [field]="col.field"></p-treeTableSortIcon>
                </th>
            </tr>
            <tr [hidden]="!splitFilter">
                <th *ngFor="let col of selectedColumns" [ngSwitch]="col.field" class="p-table-filter">
                    <input pInputText type="text"
                           class="filter-search"
                           (input)="search_all()"
                          [(ngModel)]="columnFilterValues[col.field]">
                </th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body"
                     let-rowNode
                     let-rowData="rowData"
                     let-columns="columns">
            <tr [ttSelectableRow]="rowNode">
                <td *ngFor="let col of selectedColumns; let i = index">
                    <p-treeTableToggler [rowNode]="rowNode" *ngIf="i == 0"></p-treeTableToggler>
                    <label *ngIf="(col.field == 'last_date')">{{rowData[col.field] | date : 'dd.MM.yyyy'}}</label>
                    <label *ngIf="(col.field == 'next_date')">{{rowData[col.field] | date : 'dd.MM.yyyy'}}</label>
                    <label *ngIf="(col.field == 'sector')">{{rowData[col.field] | translate}}</label>
                    <label *ngIf="(col.field != 'last_date') &&
                                  (col.field != 'next_date') &&
                                  (col.field != 'sector')">{{rowData[col.field]}}</label>                    
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="loadingbody" let-columns="columns">
            <tr style="height:34px">
                <td *ngFor="let col of selectedColumns;">
                    <div class="loading-text"></div>
                </td>
            </tr>
        </ng-template>
    </p-treeTable>

</div>

<ion-fab vertical="bottom" horizontal="end" slot="fixed" class="liftiball">
    <ion-fab-button color="tertiary">
        <ion-icon name="menu"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">

        <!-- BUTTON -->
        <ion-fab-button color="success" title="{{'Neu' | translate}}" (click)="menu_new()">
            <i class="fas fa-plus"></i>
        </ion-fab-button>
        <!-- BUTTON -->
        <ion-fab-button color="success" title="{{'Bearbeiten' | translate}}" (click)="menu_edit()">
            <i class="fas fa-pen"></i>
        </ion-fab-button>
        <!-- BUTTON -->
        <ion-fab-button color="primary" title="{{'Bewegen' | translate}}"  (click)="menu_move(1)" >
            <i class="fas fa-arrows-alt"></i>
        </ion-fab-button>
        <!-- BUTTON -->
    </ion-fab-list>
</ion-fab>

<ion-fab vertical="bottom" horizontal="end" slot="fixed" class="liftiball liftiball-extra">
    <ion-fab-button color="medium">
        <ion-icon name="settings"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
        <!-- BUTTON -->
        <ion-fab-button color="medium" title="{{'Spalten' | translate}}" (click)="show_columns()">
            <i class="fas fa-columns"></i>
        </ion-fab-button>
        <!-- BUTTON -->
        <ion-fab-button color="medium" title="{{'Filter zurücksetzen' | translate}}" (click)="cancel_filters(2)">
            <i class="fas fa-filter"></i>
        </ion-fab-button>
        <!-- BUTTON -->
        <ion-fab-button color="medium" title="{{'PDF Export' | translate}}" (click)="pdf_export()">
            <i class="fas fa-file-download"></i>
        </ion-fab-button>
        <!-- BUTTON -->
        <ion-fab-button color="medium" title="{{'XLS Export' | translate}}" (click)="excel_export()">
            <i class="fas fa-file-download"></i>
        </ion-fab-button>
    </ion-fab-list>
</ion-fab>