<main-nav aktivPage="CustomerTable" [idCustomer]="0" [company]=""></main-nav>

<div class="ek-content">
    

    <!--<p-menubar [model]="popupMenu" [autoDisplay]="false" id="menuMin">
        <div class="ui-inputgroup search-search">
            <input type="text" 
                   pInputText 
                   placeholder="{{'Suche' |translate }}" 
                   [(ngModel)]="columnFilterValues['search_all']" 
                   (input)="search_all()">   
             <button (click)="search_all()" 
                    pButton type="button" 
                    icon="fa fa-search" 
                    class="ui-button-warn">
            </button> 
        </div>   
    </p-menubar>-->
    

    <p-menubar [model]="menuItems" [autoDisplay]="false" id="menuMax">    
        <div class="ui-inputgroup search-search">
            <input type="text" 
                   pInputText 
                   placeholder="{{'Suche' |translate }}" 
                   [(ngModel)]="columnFilterValues['search_all']"
                   (input)="search_all()">   
            <!-- <button (click)="search_all()" 
                    pButton type="button" 
                    icon="fa fa-search" 
                    class="ui-button-warn">
            </button> -->
        </div>   
    </p-menubar>
    <p-treeTable [value]="customerListView" 
                 [columns]="cols" 
                 selectionMode="single"
                 [(selection)]="selectedNode" 
                 (onNodeSelect)="nodeSelect($event)" 
                 (onNodeUnselect)="nodeUnselect()"
                 dataKey="id" 
                 (onNodeExpand)="onNodeExpand($event)" 
                 (onNodeCollapse)="onNodeCollapse($event)"
                 styleClass="ui-treetable-scrollable-body"
                 [resizableColumns]="true"
                 [scrollable]="true"
                 scrollHeight="72%"
                 [paginator]="true" [rows]="13">
        <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
                <col *ngFor="let col of selectedColumns" style="width:200px">
            </colgroup>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of selectedColumns" ttResizableColumn [ttSortableColumn]="col.field">
                    {{col.header}}
                    <p-treeTableSortIcon [field]="col.field"></p-treeTableSortIcon>
                </th>
            </tr>
            <tr [hidden]="!splitFilter" >
                <th *ngFor="let col of selectedColumns" [ngSwitch]="col.field" class="p-table-filter"> 
                   <input pInputText type="text" class="filter-search" (input)="search_all()" [(ngModel)]="columnFilterValues[col.field]" >
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
            <tr [ttSelectableRow]="rowNode" >
                <td *ngFor="let col of selectedColumns; let i = index">
                    <p-treeTableToggler [rowNode]="rowNode" *ngIf="i == 0"></p-treeTableToggler>
                    {{rowData[col.field]}}
                </td>
            </tr>
        </ng-template>
    </p-treeTable>  
 

<!--     Bu kısımdaki kod deneme amaçlı yapıldı.
    başlığı sabit tutuyor ama bu seferde sort etmiyor. -->
    
   <!--  <p-treeTable [value]="[]">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of selectedColumns" [ttSortableColumn]="col.field">
                    {{col.header}}
                    <p-treeTableSortIcon [field]="col.field"></p-treeTableSortIcon>
                </th>
            </tr>
            <tr [hidden]="!splitFilter">
                <th *ngFor="let col of selectedColumns" [ngSwitch]="col.field" class="p-table-filter"> 
                    <input pInputText type="text" style="color: #000; width: 100%; border:1px solid #ccc; border-radius: 3px;" (input)="search_all()" [(ngModel)]="columnFilterValues[col.field]" >
                </th>
            </tr>
        </ng-template>
    </p-treeTable>

    <p-treeTable [value]="customerListView" 
                 selectionMode="single"
                 [(selection)]="selectedNode" 
                 (onNodeSelect)="nodeSelect($event)" 
                 (onNodeUnselect)="nodeUnselect()"
                 dataKey="id" 
                 (onNodeExpand)="onNodeExpand($event)" 
                 (onNodeCollapse)="onNodeCollapse($event)"
                 styleClass="ui-treetable-scrollable-body">
        <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
            <tr [ttSelectableRow]="rowNode">
                <td *ngFor="let col of selectedColumns; let i = index">
                    <p-treeTableToggler [rowNode]="rowNode" *ngIf="i == 0"></p-treeTableToggler>
                    {{rowData[col.field]}}
                </td>
            </tr>
        </ng-template>
    </p-treeTable>  -->

</div>





