    @media screen and (min-width: 1024px) {
        #menuMin {
            display: none;
        }
    }

    @media screen and (max-width: 1024px) {
        #menuMax {
            display: none;
        }
    }

    .move_now{
        background-color:#009de0;
        color: #ffffff;
    }

   /*  .ui-treetable-scrollable-body {
        //height: auto !important;
        //max-height: calc(100% - 4em) !important;
        //overflow-y: scroll !important;
    }

    .ui-datatable-scrollable-header {
        width: calc(100% - 0.3em) !important;
    } */

