<main-nav aktivPage="Statistics"></main-nav>

<ion-content>
  <div class="ek-content">
    <div class="container">
      <div class="mt20 content-sm">  
        <ion-grid style="margin-left: -5px;">
          <ion-row>
            <ion-col size-xl="3" size-lg="3" size-md="3" size-sm="12" size="12">
              <div class="kunden-wrap" style="padding-bottom: 12px;">
                <!-- COMPANY -->
                <div class="kunden-col">
                  <div class="table-info">
                    <div class="thead">
                      <div class="tr table-header">
                        <div class="th">{{'Auswertungen' | translate}}</div>
                      </div>
                    </div>
                    <div class="tbody">
                      <div class="tr table-subheader table-subheader-fix">
                        <div class="table-subheader-buttons">
                          <ion-button size="small"
                                      class="btn-email-view"
                                      (click)="sendEmail()">
                            <ion-icon name="send"></ion-icon> &nbsp; {{'E-Mail' | translate}}
                          </ion-button>
                          <ion-button size="small"
                                      class="btn-excel-view"
                                      (click)="exportExcel()">
                            <ion-icon name="pie"></ion-icon> &nbsp; {{'XLSx Export' | translate}}
                          </ion-button>
                        </div>
                      </div>  
                      <div class="tr table-body">           
                          <div class="td">
                            <ion-item lines="none">
                              <ion-label position="floating">{{'Anfang datum' | translate}}</ion-label>
                              <ion-datetime (ionChange)="statistic()"
                                            mode="ios" 
                                            [(ngModel)]="startDate"
                                            max = {{maxStartDate}}
                                            displayFormat="DD.MM.YYYY"
                                            doneText="{{translate.instant('okay')}}"
                                            cancelText="{{translate.instant('abbrechen')}}">
                              </ion-datetime>
                            </ion-item>
                          </div>
                      </div>
                        <div class="tr table-body">
                          <div class="td">
                            <ion-item lines="none">
                              <ion-label position="floating">{{'Ende datum' | translate}}</ion-label>
                              <ion-datetime (ionChange)="statistic()"
                                            mode="ios" 
                                            [(ngModel)]="endDate"
                                            min = {{minEndDate}}
                                            max = {{maxEndDate}}
                                            displayFormat="DD.MM.YYYY"
                                            doneText="{{translate.instant('okay')}}"
                                            cancelText="{{translate.instant('abbrechen')}}">
                              </ion-datetime>
                            </ion-item>
                          </div>
                        </div>
                        <div class="tr table-body">
                          <div class="td">
                            <ion-item lines="none">
                                <ion-label position="floating">{{'Statistik' | translate}}</ion-label>
                                <ion-select (ionChange)="statistic()"
                                            [(ngModel)]="statisticType"
                                            okText="{{translate.instant('okay')}}"
                                            cancelText="{{translate.instant('abbrechen')}}">
                                  <ion-select-option value="1">{{translate.instant('Notizen')}}</ion-select-option>
                                  <ion-select-option value="2">{{translate.instant('Termin')}}</ion-select-option>
                                  <ion-select-option value="3">{{translate.instant('Notizen')}} & {{translate.instant('Termin')}}</ion-select-option>
                                </ion-select>
                              </ion-item>
                          </div>
                        </div>
                        <div class="tr table-body">
                          <div class="td">
                            <ion-item lines="none">
                              <ion-label position="floating">{{'E-Mail' | translate}}</ion-label>
                              <ion-input required="true" 
                                        type="text"
                                        [(ngModel)]="email">
                              </ion-input>
                            </ion-item>
                          </div>
                        </div>                
                    </div>
                  </div>
                </div>
              </div>
            </ion-col>            
            <ion-col size-xl="9" size-lg="9" size-md="9" size-sm="12" size="12">
              <div class="kunden-col" style="padding-bottom: 12px;">
                <div class="table-info">
                  <div class="thead">
                    <div class="tr table-header">                        
                      <div class="th" style="max-width: 120px;">{{'Statistiken' | translate }}</div>
                      <div class="th" style="text-align: right;">[ {{'Firma' | translate}}: {{companyCount}} &nbsp;&nbsp;&nbsp; (A-B-C-D-{{ratingA}}-{{ratingB}}-{{ratingC}}-{{ratingD}}) &nbsp;&nbsp;&nbsp; {{'Besuchsberichte' | translate}}: {{visitReportSum}} ]</div>
                    </div>
                  </div>
                  <div class="tbody">
                    <div class="tr table-subheader statistic-title">
                      <div class="td" style="width: 125px;">{{'Benutzername' | translate}}</div>
                      <div class="td" style="width: 162px;">{{'Firma' | translate}}</div>
                      <div class="td" style="width: 75px;">{{'Wertung' | translate}}</div>
                      <div class="td" style="width: 110px;">{{'PLZ' | translate}}</div>                          
                      <div class="td" style="width: 95px;">{{'Branche' | translate}}</div>
                      <div class="td" style="width: 125px;">{{'Ansprechpartner' | translate}}</div>
                      <div class="td" style="width: 128px; text-align: center;">{{'Besuchsberichte' | translate}}</div>
                    </div>
                    <div style="height: 525px; overflow: scroll; margin-bottom: -15px;">
                      <div class="tr table-body" *ngFor="let item of listStatistic">
                        <div class="td" style="flex: none; width: 125px;">{{item.name_user}}</div>
                        <div class="td" style="flex: none; width: 162px;">{{item.company}}</div>
                        <div class="td" style="flex: none; width: 75px;">{{item.rating}}</div>
                        <div class="td" style="flex: none; width: 110px;">{{item.zipcode_place}}</div>
                        <div class="td" style="flex: none; width: 95px;">{{item.sector}}</div>
                        <div class="td" style="flex: none; width: 125px;">{{item.name_contact}}</div>
                        <div class="td" style="flex: none; width: 128px; text-align: center;">{{item.visitReport}}</div>
                      </div>                                            
                    </div>
                  </div>                 
                </div>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </div>
</ion-content>

