<main-nav aktivPage="Statistics"></main-nav>

<ion-content>
  <div class="ek-content">
    <div class="container">
      <div class="mt20 content-sm">  
        <ion-grid style="margin-left: -5px;">
          <ion-row>
            <ion-col size-xl="3" size-lg="3" size-md="12" size-sm="12" size="12">
              <div class="kunden-wrap" style="padding-bottom: 12px;">
                <!-- COMPANY -->
                <div class="kunden-col">
                  <div class="table-info">
                    <div class="thead">
                      <div class="tr table-header">
                        <div class="th">{{'Auswertungen' | translate}}</div>
                      </div>
                    </div>
                    <div class="tbody">
                      <div class="tr table-subheader table-subheader-fix">
                        <div class="table-subheader-buttons">
                          <ion-button size="small"
                                      class="btn-email-view"
                                      (click)="sendEmail()">
                            <ion-icon name="send"></ion-icon> &nbsp; {{'E-Mail' | translate}}
                          </ion-button>
                          <ion-button size="small"
                                      class="btn-excel-view"
                                      (click)="exportExcel()">
                            <ion-icon name="pie"></ion-icon> &nbsp; {{'XLSx Export' | translate}}
                          </ion-button>
                        </div>
                      </div>  
                      <div class="tr table-body">           
                          <div class="td">
                            <ion-item lines="none">
                              <ion-label position="floating">{{'Anfang datum' | translate}}</ion-label>
                              <ion-datetime (ionChange)="statistic()"
                                            mode="ios" 
                                            [(ngModel)]="startDate"
                                            max = {{maxStartDate}}
                                            displayFormat="DD.MM.YYYY"
                                            doneText="{{translate.instant('okay')}}"
                                            cancelText="{{translate.instant('abbrechen')}}">
                              </ion-datetime>
                            </ion-item>
                          </div>
                      </div>
                        <div class="tr table-body">
                          <div class="td">
                            <ion-item lines="none">
                              <ion-label position="floating">{{'Ende datum' | translate}}</ion-label>
                              <ion-datetime (ionChange)="statistic()"
                                            mode="ios" 
                                            [(ngModel)]="endDate"
                                            min = {{minEndDate}}
                                            max = {{maxEndDate}}
                                            displayFormat="DD.MM.YYYY"
                                            doneText="{{translate.instant('okay')}}"
                                            cancelText="{{translate.instant('abbrechen')}}">
                              </ion-datetime>
                            </ion-item>
                          </div>
                        </div>
                        <div class="tr table-body">
                          <div class="td">
                            <ion-item lines="none">
                                <ion-label position="floating">{{'Statistik' | translate}}</ion-label>
                                <ion-select (ionChange)="statistic()"
                                            [(ngModel)]="statisticType"
                                            okText="{{translate.instant('okay')}}"
                                            cancelText="{{translate.instant('abbrechen')}}">
                                  <ion-select-option value="1">{{translate.instant('Notizen')}}</ion-select-option>
                                  <ion-select-option value="2">{{translate.instant('Termin')}}</ion-select-option>
                                  <ion-select-option value="3">{{translate.instant('Notizen')}} & {{translate.instant('Termin')}}</ion-select-option>
                                </ion-select>
                              </ion-item>
                          </div>
                        </div>
                        <div class="tr table-body">
                          <div class="td">
                            <ion-item lines="none">
                              <ion-label position="floating">{{'E-Mail' | translate}}</ion-label>
                              <ion-input required="true" 
                                        type="text"
                                        [(ngModel)]="email">
                              </ion-input>
                            </ion-item>
                          </div>
                        </div>                
                    </div>
                  </div>
                </div>
              </div>
            </ion-col>            
            <ion-col size-xl="9" size-lg="9" size-md="12" size-sm="12" size="12">  
              <div style="padding-bottom: 12px;">
                <div class="table-info">
                  <div class="thead">
                    <div class="tr table-header">                        
                      <div class="th" style="max-width: 120px;">{{'Statistiken' | translate }}</div>                        
                    </div>
                  </div>
                  <div class="tbody">
                    <div class="tr table-subheader statistic-title">
                      <div class="td" style="width: 260px;">{{'Firma' | translate}}</div>
                      <div class="td" style="width: 80px;">{{'Wertung' | translate}}</div>
                      <div class="td" style="width: 180px;">{{'PLZ' | translate}}</div>
                      <div class="td" style="width: 200px;">{{'Branche' | translate}}</div>
                      <div class="td" style="width: 100px; text-align: center;">{{'Anzahl' | translate}}</div>
                    </div>
                    <div [style.height.px]="statisticHeight" style="overflow: scroll; margin-bottom: -15px;">
                      <p-accordion [multiple]="true">
                        <div *ngFor="let item of listStatisticMaster">
                          <p-accordionTab *ngIf="item.count>0">
                            <p-header>  
                              <span style="display: inline-block; width: 30%;">{{item.header}}  ({{'Firma' | translate}}: {{item.companyCount}})</span>
                              <span style="display: inline-block; width: 32%;">(A-B-C-F-{{item.ratingA}}-{{item.ratingB}}-{{item.ratingC}}-{{item.ratingF}})</span>
                              <span style="display: inline-block; width: 31%; text-align: right;">{{item.visitReportSum}}</span>
                            </p-header>
                              <div class="tr table-body" *ngFor="let itemx of item.data">
                                <div class="td" style="flex: none; padding-right: 5px; width: 32%;">{{itemx.company}}</div>
                                <div class="td" style="flex: none; padding-right: 5px; width: 10%;">{{itemx.rating}}</div>
                                <div class="td" style="flex: none; padding-right: 5px; width: 22%;">{{itemx.zipcode_place}}</div>
                                <div class="td" style="flex: none; padding-right: 5px; width: 23%;">{{itemx.sector}}</div>
                                <div class="td" style="flex: none; width: 8%; text-align: right;">{{itemx.visitReport}}</div>
                              </div>                                            
                            <!-- </div> -->
                          </p-accordionTab>
                        </div>
                      </p-accordion>
                    </div>
                  </div>                 
                </div>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </div>
</ion-content>

<ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button color="tertiary">
      <ion-icon name="menu"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="primary" 
                      (click)="sendEmail()" 
                      (mouseover)="mouseover(1)" 
                      (mouseout)="mouseout(1)"
                      [class.mouse-over]="mouseoverButton1"
                      [labelFab]="'E-Mail'">
        <ion-icon name="send"></ion-icon>        
      </ion-fab-button>
      <ion-fab-button color="primary"
                      (click)="exportExcel()"
                      (mouseover)="mouseover(2)" 
                      (mouseout)="mouseout(2)"
                      [class.mouse-over]="mouseoverButton2"
                      [labelFab]="'XLSx Export'">
        <ion-icon name="pie"></ion-icon>        
      </ion-fab-button>
      <ion-fab-button color="primary"
                      (click)="pdf_export()"
                      (mouseover)="mouseover(3)" 
                      (mouseout)="mouseout(3)"
                      [class.mouse-over]="mouseoverButton3"
                      [labelFab]="'PDF Ansicht'">
        <ion-icon name="document"></ion-icon>        
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>