
	.container-fix {
		padding: 0 2px !important;
		
		@media only screen and (max-width: 767px) {
			padding: 47px 5px 0px 5px !important;
		}
	}

	.topBar-outer {
		margin-bottom: 3px;
	}

	.btn-primary:disabled {
        background-color: rgb(136, 177, 221) !important;
    }

  .btn-assign {
    --background: #005e86;
  }

  p-accordion {
	height:300px;
	display:block;
	overflow-y:scroll;
  }
