
	.container-fix {
		padding: 0 2px !important;
		
		@media only screen and (max-width: 767px) {
			padding: 47px 5px 0px 5px !important;
		}
	}

	.topBar-outer {
		margin-bottom: 3px;
	}

	.btn-primary:disabled {
        background-color: rgb(136, 177, 221) !important;
    }

	button[ion-fab] {
        overflow: visible;
        position: relative;
    
        ion-label {
            position: absolute;
            top: -8px;
            right: 40px;    
            color: black;
            background-color: rgba(139, 138, 138, 0.7);
            line-height: 24px;
            padding: 4px 8px;
            border-radius: 4px;
            font-size: 14px;
            font-family: Arial, Helvetica, sans-serif;
        }
    }    
    .fab{
        contain: layout;
    }
